[2014-10-31 18:37] simonwex opened #1 "Possibly stuck on Issue syncing"
I just imported an admittedly-huge number of repos (All of Mozilla Foundation's) and it's stuck on this screen:

![screenshot 2014-10-31 11 26 48](https://cloud.githubusercontent.com/assets/25260/4866434/e282d872-612b-11e4-9249-fe797acd7aa2.png)

Project id "KqyK"

It's been running for 10 minutes. I could see this being expected behaviour. If that's the case, resolution of this issue would be a m

[2014-10-31 18:45] derrickreimer commented on #1
Thanks Simon. I'm keeping an eye on the progress on the backend -- it's indeed the largest project imported to date.

Question -- perhaps these repos belong in a number of smaller projects? Or do you prioritize issues on global foundation-wide basis?

I like that approach.

[2014-10-31 19:06] derrickreimer commented on #1
Looks like performance is fairly degraded at that scale as well. Optimizations forthcoming.

[2014-10-31 19:07] simonwex opened #2 "Provide more granular status of project import"
For a large number of projects being imported, it appears to get stuck. It does finish eventually, but would be good to give the user some insight into progress. -- Otherwise they file silly issues like #1

[2014-10-31 19:07] simonwex commented on #1
It loaded, created #2 to track granular status.

[2014-10-31 19:07] #1 closed, assigned to ac21

[2014-10-31 19:07] derrickreimer commented on #2
:+1:

[2014-10-31 19:08] simonwex commented on #1
I'd say managing user expectations is more important than making it fast.

[2014-11-03 13:52] simonwex opened #3 "Should be able to drag between milestones"
When organizing multiple projects, we need to be able to easily assign milestones.

It feels right to be able to drag between milestones like this:
![image](https://cloud.githubusercontent.com/assets/25260/4883277/7ba7cf22-6360-11e4-98da-16bdc2693b66.png)

If the milestone doesn't exist for that project, creating it would be fine.

[2014-11-03 15:32] 0b10011 commented on #3
Just to add what I sent in via email before this was added:

That is, when there are a large number of issues in each milestone, dragging through all of the issues just to get to another milestone is time consuming. But, then again, only showing milestone names would make it impossible to prioritize the issue at the same time. So, I guess either way would work, but a solution that solved both of t

[2014-11-03 15:48] derrickreimer commented on #3
Thanks, this is definitely needed and pretty high on the priority list.

[2014-11-06 01:01] dphaener opened #4 "Edit issues from Codetree"
Would be nice to see the following:
- Ability to close the issue from the app
- Ability to view the body text of the issue in the app

[2014-11-06 01:03] derrickreimer commented on #4
Thanks. This feature is next up to ship, currently in progress.

[2014-11-11 06:24] aseemk opened #5 "Repo picker is overwhelming"
If you have 100 repos to pick from, the dropdown (in the settings UI, or list in the onboarding UI) is borderline unusable. The repos aren't sorted in any obvious order, and there's no search.

Consider sorting alphabetically (if possible), and adding a search-as-you-type box (e.g. chosen.js).

[2014-11-11 06:26] aseemk opened #6 "Don't show closed milestones"
The default set of milestones for my repo seem to include all of the ones that are closed on GitHub.

I can close them manually for now, but can you not detect that on import?

[2014-11-11 06:28] aseemk opened #7 "Don't show creator (by default, at least)"
Always seeing two avatars (one assignee, one creator) adds some serious cognitive processing cost. =)

At least to me, assignee is always relevant, creator rarely so.

I really wish there were a way for me to hide the creator — it's really tripping me up! =P

[2014-11-11 06:30] aseemk commented on #7
Minor related feedback (doesn't feel significant enough to create an issue about, but let me know if you'd like me to, whether for this one or in general going forward): instead of the "nobody" name w/ gray avatar, just leave the space blank, or maybe a simple "-" dash. Again, less cognitive overhead to differentiate; easier to see unassigned issues at a glance.

[2014-11-11 06:44] aseemk commented on #4
Does this include creating new issues? If so, major +1. =)

(Our use case: during planning meetings, we will frequently want to see the big picture, but quickly and rapidly add tasks also. Same with e.g. triaging feedback from bug bashes.)

[2014-11-11 06:44] aseemk commented on #4
(Let me know if I should create a separate issue for that, if this doesn't cover that.)

[2014-11-11 07:11] derrickreimer commented on #4
Actually, new issue creation is there now.

![new-issue](https://cloud.githubusercontent.com/assets/341387/4989533/dbfa2a04-692e-11e4-8cd9-8a1e6785bd21.jpg)

[2014-11-11 15:58] derrickreimer commented on #6
Yep, will do.

[2014-11-11 16:03] derrickreimer commented on #5
Thanks for the tip on chosen.js -- looks like a very well-made plugin.

[2014-11-12 14:54] 0b10011 commented on #7
:+1:

[2014-11-16 18:28] dphaener opened #8 "Issue milestone change not reflecting in app"
I moved one of my issues to a different, newly created milestone, and the change is not being propagated back to the app. New issues for that milestone have showed up, but not the one that was moved.

[2014-11-16 18:29] dphaener commented on #8
Nevermind. It just took awhile for it to show up.

[2014-11-16 18:29] #8 closed, assigned to sachinkum123

[2014-11-16 18:31] derrickreimer commented on #8
Cool. Was going to ask -- did you make the change on GitHub or through the Codetree interface? If it was through GH, then (unfortunately) GH does not propagate a webhook back we have to wait for the next sync to occur, which currently runs hourly.

[2014-11-16 18:33] dphaener commented on #8
I made the change in GH. I tried dragging the issue to the new milestone, but it didn't work. Possibly because the one issue I had there already hadn't been "anchored" to the top or bottom yet (the same issue I originally had when trying to sort issues)?

[2014-11-16 18:34] derrickreimer commented on #8
Dragging between milestones is not there yet. There's some nuance there. But you can now click the milestone name to change it through CT.

[2014-11-19 00:54] derrickreimer commented on #6
Milestones should now automatically close when closed on GitHub (within one hour of it happening), unless the user overrides by manually closing or reopening in Codetree.

[2014-11-19 00:54] #6 closed, assigned to derrickreimer

[2014-11-21 06:25] derrickreimer opened #9 "Outstanding request tracking"
Requested by @simonwex.
- A report/filter to show issues that currently need the user's input, using a tagging convention (a la "fixes #xxx")
- More intelligent notifications?

[2014-11-21 06:33] derrickreimer opened #10 "Answer the "where should I file this issue?" question"
Requested by @simonwex.

Right now, users given too many decisions to make when filing an issue. (Actually, we need to hide a bunch of options in the new issue modal for users who do not have privileged access to the repository, since GH will ignore these when not allowed).
- Need a clear convention for triaging issues
- Possibly a "move" operation (i.e. closing the original issue, opening a new i

[2014-11-21 06:37] derrickreimer opened #11 "Publicizing projects"
Projects are strictly private at present time. Public projects are a must for OSS. Similar to assigning, labelling, milestone assignment, etc., prioritization will be limited to those with privileged access to the project. Non-privileged users will be able to browse issues, create new ones, and create their own shortcuts.

/cc @simonwex

[2014-11-21 06:44] derrickreimer commented on #7
Makes sense. These have been replaced with dashes. LMK how that works for you.

I'm still mulling over options for the creator column. I definitely see your point on that one.

[2014-11-21 06:48] derrickreimer commented on #4
Issues can now be closed by clicking the icon next to the sort handle. In addition, labels can be added/removed by clicking the label icon, and the assignee and milestone can be updated by click in their respective columns.

I might add this eventually, but I'm trying to avoid duplicating too much UI that GitHub already executes really well. Going to close this one out for now.

[2014-11-21 06:48] #4 closed, assigned to ac21

[2014-11-21 06:49] derrickreimer commented on #3
Dragging to change milestone is not shipped yet, but you can click the milestone name for any given issue to change it.

[2014-11-21 18:12] simonwex commented on #5
:+1:

[2014-11-21 18:15] simonwex commented on #9
Another convention that already exists in Github is using mentions. Being able to ask, "Show me all the issues in which I haven't participated since I was mentioned"

[2014-11-21 18:20] derrickreimer commented on #9
I like that!

[2014-11-21 22:45] derrickreimer opened #12 "Add pagination to grouped issue view"
For projects with a large number of milestones, the main issue view can be slow and unwieldy.

This should vastly improve the Webmaker dashboard @simonwex

[2014-11-22 00:34] simonwex opened #13 "Team management might be easier through the GH team interface"
Linking a Codetree organization to a Github team might provide a low-effort mechanism for team management.

https://developer.github.com/v3/orgs/teams/

[2014-11-23 00:04] derrickreimer commented on #12
Performance is still pretty lousy, but a little better now with pagination. Onward.

[2014-11-23 00:04] #12 closed, assigned to derrickreimer

[2014-11-24 17:49] 0b10011 commented on #13
:+1:

[2014-11-24 17:52] 0b10011 commented on #11
:+1: Also, non-priveleged users should be able to do this without paying for an account. Requiring a general user to pay discourages contributing.

[2014-11-24 17:54] derrickreimer commented on #11
Definitely. Permissions model will mirror GitHub.

[2014-11-25 06:56] derrickreimer commented on #9
@simonwex check out the "unanswered" filter:

![unanswered-filter](https://cloud.githubusercontent.com/assets/341387/5179109/117d1d22-742d-11e4-8b61-56a8549f9ea8.png)

[2014-11-25 17:07] davidascher commented on #9
:heart_eyes:

[2014-11-25 17:09] davidascher commented on #10
For inspiration, this is what our bugzilla does: https://bugzilla.mozilla.org/enter_bug.cgi

(the checkbox autocomplete is the key bit)

it uses data including the descriptions in https://bugzilla.mozilla.org/describecomponents.cgi?product=Air%20Mozilla&component=Community#Community

[2014-11-25 17:51] simonwex commented on #9
<img src="http://media.giphy.com/media/14yp0WnXMeXq9y/giphy.gif">

[2014-11-29 20:22] #9 closed, assigned to derrickreimer

[2014-12-01 16:42] dphaener opened #14 "Closed issue in GitHub showing up on open issues"
There is one closed issue (#3) in my account that is showing up on the open issues tab. This issue has been closed for a few weeks now, so it should have been synced (I think).

[2014-12-02 16:29] derrickreimer commented on #14
Fixed

[2014-12-02 16:29] #14 closed, assigned to ac21

[2014-12-03 18:18] derrickreimer opened #15 "Move issues between repositories"

[2014-12-03 18:20] derrickreimer opened #16 "Default repository setting"
So that you don't have to change the repo every time you create an issue.

[2014-12-03 18:21] derrickreimer commented on #10
Needs #15 and needs #16.

[2014-12-03 20:46] 0b10011 commented on #13
And, just in time: [Organization Webhooks](https://github.com/blog/1933-introducing-organization-webhooks)

[2014-12-09 18:19] simonwex opened #17 "Unable to refresh list of organizations and repositories in project"
I've created a new org and repos. I'd like to be able to add them to an existing codetree org. How do I refresh the list?

[2014-12-09 18:41] derrickreimer commented on #17
I need to add a UI component for this. Should able to get this shipped today. In the meantime, I just ran the sync manually -- do you see them in your available repos now?

[2014-12-10 04:59] derrickreimer commented on #17
This should do it.

![refresh-button](https://cloud.githubusercontent.com/assets/341387/5371164/324564dc-7fe6-11e4-9a73-f3ad6cf0f19e.png)

[2014-12-10 04:59] #17 closed, assigned to derrickreimer

[2014-12-10 16:40] derrickreimer opened #18 "Assigning agile points to issues"
Requested by @awaxman11. Would prefer label-based storage (e.g. "size-1", "size-8").

I'm leaning toward comment/body-based storage, like this: `points:5`. Another option is title-based, like this: `Assigning agile points [5]`, where `[5]` indicates point value.

Notify https://secure.helpscout.net/conversation/64951821/67/

[2014-12-29 05:57] dphaener opened #19 "Potential race condition during issue creation"
Creating an issue returned an error, and it looks like the error div isn't there for the particular error, so the JS pooped out.

![screen shot 2014-12-28 at 9 54 51 pm](https://cloud.githubusercontent.com/assets/5187971/5566433/86ea44c6-8edc-11e4-8a23-af7fd02429a3.png)

[2014-12-30 00:24] derrickreimer commented on #19
Dropping this here for my own reference: https://www.honeybadger.io/projects/39461/faults/10274360#notice-summary

Appears to be caused by race condition that has only happened once -- I think you have bad luck my friend :). It appears that the issue did get created on GitHub, judging by the stack trace. Can you confirm?

[2014-12-30 00:34] dphaener commented on #19
hahaha, just my luck. Yeah it was created just fine, popped up after a few minutes.

[2015-01-03 20:44] #19 closed, assigned to derrickreimer

[2015-01-04 01:24] #16 closed, assigned to derrickreimer

[2015-01-07 00:36] wanderingmatt opened #20 "Sorting issues within Milestones"
It would be incredibly useful to be able to sort issues in a given milestone by different criteria including Assignee, #/Creation Date, and Recently Updated. Ideally, it would be nice to be able to simply click on the table header to change the sort.

[2015-01-07 00:36] wanderingmatt commented on #7
:+1:

[2015-01-07 00:46] derrickreimer commented on #20
Thanks Matt! I agree. This one is in the queue. Will keep you informed.

[2015-01-07 13:33] lightcap opened #21 "Delete a shortcut"
There doesn't seem to be a way to delete a shortcut once it's created.

[2015-01-07 13:34] lightcap commented on #5
:+1:

[2015-01-07 13:41] lightcap opened #22 "Milestone management"
I created new milestones in Github, but after 10 or 15 minutes they never showed up in Codetree. But, creating them in Codetree did create new milestones in Github.

Can we get some clarity on how this is intended to work?

As part of this, how do we go about editing a milestone name so that it appears synced in both Github and Codetree?

Another corollary would be: what can we expect for syncing

[2015-01-07 16:35] derrickreimer commented on #22
When milestones are created on GitHub, they are synced...eventually. The bummer here is that GitHub does not send webhook events for milestone creation, so we have to fall back to polling the API. We do this periodically. At present time, it could take up to a few hours for them to appear in Codetree (because load is very high right now with the recent public launch). I'm working on tightening up

[2015-01-07 16:39] derrickreimer commented on #21
Sorry for the confusion. To delete/reorder shortcuts, head to Settings > Shortcuts. The settings link can be found in the dropdown that appears when you click the "Issues" heading in the left sidebar.

![settings](https://cloud.githubusercontent.com/assets/341387/5649166/aa3325ba-9648-11e4-86b3-60633a59e6bb.png)

[2015-01-07 16:39] #21 closed, assigned to nobody

[2015-01-07 17:27] wanderingmatt opened #23 "Creating shortcuts was confusing to figure out"
FWIW, even the word ("shortcut") confused me.

My main difficulty though was with figuring out how they worked. The first time I used it, the UX made me think that I needed to create the shortcut and name it first, then set all of the filters. I created a couple of shortcuts in a row that were simply duplicates of the Issues view. At the very least, some explanation text would be helpful.

[2015-01-07 18:48] derrickreimer commented on #23
Thanks, good feedback. We will work on refining this.

[2015-01-07 22:01] lightcap commented on #22
I've actually got milestones that seem to be completely unsynced now. My 1.3 milestone isn't showing up in Github at all, and it seems that all the tasks assigned to 1.3 have been unassigned now that the milestone is gone in GH. But, it's still showing up in Codetree.

[2015-01-07 22:28] derrickreimer commented on #22
That sounds strange. Did you create the milestone in question through GitHub or Codetree?

[2015-01-07 22:30] lightcap commented on #22
Strangely, it was there before I started using Codetree. I've been
monkeying around with both interfaces a fair amount today and it's hard to
tell what's what now.

I'll run a few tests and let you know.

On Wed, Jan 7, 2015 at 11:28 PM, Derrick Reimer notifications@github.com
wrote:

[2015-01-07 23:03] wanderingmatt opened #24 "Remove "in progress" label from closed issues"
Small thing, but it's strange glancing through the Done issue on your task board and seeing the "in progress" label still attached to them.

[2015-01-08 12:08] lightcap commented on #22
Here's a screenshot. After an overnight there's still unsynced milestones. I need to delete the 1.3 milestone so I can continue working, so unfortunately you're not going to have the state to work off of. But, the issue is there.

It's also strange that my milestones are showing up as "edited" 14 minutes ago in Github. I haven't touched them since setting them up yesterday.

![41to1](https://cloud

[2015-01-08 16:14] derrickreimer commented on #22
It looks like there's a bug in the two-way syncing mechanism of milestones, preventing milestones deleted on GH from being deleted in Codetree. I'll address this soon and post here when it's fixed!

[2015-01-08 16:26] derrickreimer commented on #22
For now, I manually removed that stray 1.3 milestone from your Codetree project.

[2015-01-08 17:18] lightcap commented on #22
Thanks. I just closed the other x.x style milestones because I couldn't
delete them, either. So, I think there's definitely an issue there. Should
I drop an issue in codetree/feedback to ask for the ability to delete
milestones from the Codetree interface? That would probably do the trick
here.

On Thu, Jan 8, 2015 at 5:26 PM, Derrick Reimer notifications@github.com
wrote:

[2015-01-08 17:20] derrickreimer commented on #22
Sure that'd be great. Keeps the paper trail clean so you can be notified when that one is shipped. I'll still hammer out the sync bug, but native deletion capability is definitely something we need to have.

[2015-01-08 17:35] lightcap commented on #22
Sorry for so many questions, really trying to make this work for us. And,
by the way it's great. I was figuring I'd have to build this for myself
eventually so I really can't tell you how happy I am to have Codetree.

In that vein, I really need to add view only collaborators so I can get my
stakeholders to see the milestones. This is probably the 2nd most important
reason for us to use Codetree.

[2015-01-08 17:37] lightcap opened #25 "Delete milestones"
It would be very helpful, especially if things get out of sync, to have the ability to delete milestones in the Codetree interface.

[2015-01-08 18:04] derrickreimer commented on #22
No apology needed! This is all good stuff. I understand your predicament about the user counts. I'd be happy to work something out for upping your user count until we have client access permissions. Let's bring this conversation to email -- will follow up soon.

[2015-01-08 18:18] wanderingmatt opened #26 "Add "close" action to issue modal"
I imagine that you are trying to handle the ability to quickly create multiple issues in a row; however, there should be an option to create a single issue and dismiss the modal in a single click. Typically, I would expect this to be handled through separate buttons — "Create" next to "Create and Add Another" or something. In addition, and especially for the "Create and Add Another" path, the moda

[2015-01-08 18:57] wanderingmatt opened #27 "Responsive truncation for long titles"
Really long issue titles (like the ones Airbrake generates for us) break the layout — pushing the milestone table outside the browser window. Some responsive and/or more aggressive title truncation would help with this.

![screenshot 2015-01-08 10 52 15](https://cloud.githubusercontent.com/assets/11926/5668487/ca52a1d6-9724-11e4-875f-2ae136a86170.png)

[2015-01-08 20:56] lightcap commented on #22
FYI, and unrelated, but none of my team members can see the project I added
them to.

On Thu, Jan 8, 2015 at 7:04 PM, Derrick Reimer notifications@github.com
wrote:

[2015-01-08 20:58] derrickreimer commented on #22
Head to project Settings > Permissions -- are they in the full-access area? I'm aware of some confusion around this and will be iterating on that UI for sure :)

[2015-01-08 21:06] ajwaxman opened #28 "Ability to organize task board with GitHub labels"
I love the new task board :heart:

In addition to organizing issues by Backlog, To Do, In Progress, and Done, it'd be great to be able to customize the columns. One way to do this would be to have them associated with GitHub labels. For example, in the case below a `Backlog` label would be applied to the issues in the left hand column, and when moved to the To Do column the `Backlog` label would b

[2015-01-08 21:26] derrickreimer commented on #28
Thanks Adam! Custom stages for task boards is in the works. Regarding the `Backlog` and `To Do` columns, I am trying to rely on the "natural state" of issues as much as possible to reduce label noise (and stick to convention over configuration). But I'm definitely open to hearing use cases where this falls down.

[2015-01-08 21:50] ajwaxman commented on #28
Yeah one downside to the this approach is definitely label noise. I also appreciate the desire to stick to convention over configuration - definitely a good point.

However, from briefly using this approach with waffle.io I found it a nice way to use a 3rd party tool and also be able to see the activity/state of a given issue on GitHub as well.

[2015-01-08 21:51] lightcap commented on #22
Ah! That's the issue I bet.

On Thu, Jan 8, 2015 at 9:58 PM, Derrick Reimer notifications@github.com
wrote:

[2015-01-08 22:01] lightcap commented on #22
That was it. Thanks.

On Thu, Jan 8, 2015 at 10:51 PM, Matt Kern matt@bloomcrush.com wrote:

[2015-01-09 09:13] jochenonline commented on #23
Can anyone explain HOW shortcuts work or what they even are?

[2015-01-09 16:27] VinSpee commented on #22
I assume this also applies to labels. They behave the exact same way.

[2015-01-09 16:41] VinSpee commented on #23
"Shortcuts" are basically links to quick filters.

To create a shortcut:
1. Filter your issues exactly as you like. For example, add a tag such as "bug"
2. Press the "Create Shortcut" button in the sidebar.

Whenever you click that shortcut, it takes you to this filtered view.

In my case, I'm using tags as markers for large features within our application which all share a repo ("dashboard", "wid

[2015-01-09 17:13] jochenonline commented on #22
On my side also the milestone relation of an issue is not synched from GitHub to codetree. When I change the milestone of an issue, it keeps on beeing related to the   old milestone in codetree. This happens (or better not happens) even if both milestones are known in codetree.

Is this a bug ore a feature?

[2015-01-09 17:20] derrickreimer commented on #22
@VinSpee yes, I believe the same issue is affecting label syncing. I will address this soon.

@jochenonline that sync should happen eventually. Strangely enough, GitHub does not send webhook events when the milestone of an issue is updated, so we have to rely on polling the API for those changes. (Hopefully this will change!). I'm working on tightening up the polling frequency to get those changes

[2015-01-09 17:45] derrickreimer commented on #23
@VinSpee great explanation!

[2015-01-09 20:19] VinSpee opened #29 "Transfer organization ownership"
As a codetree user, I may need to change my organization owner to someone else because they are the one with the credit card.

Please allow me to change org owner to another user. In the meantime I'll be sitting here with your money in my hand. Thanks!

![](https://i.imgur.com/j2sUwkD.gif)

[2015-01-09 20:35] derrickreimer commented on #29
Bonus points for the meme. :star2: :star2:

[2015-01-10 00:32] VinSpee commented on #28
I love sticking to the "natural state" as much as possible.

[2015-01-10 00:37] VinSpee commented on #26
I think these are two separate issues.
1. Adding a visual close action to the "create issue" modal.
2. Add new functionality to "Add another"

I think 1 is definitely fair - adding an additional affordance is nice for the less inclined (like our Customer Success team).

I think 2 is heavy-handed and unnecessary. The additional cognitive load of figuring out what the difference between "Create" and

[2015-01-10 00:42] VinSpee opened #30 "Ownership transfer doesn't remove payment alert"
## Current

When ownership is (manually) transferred, the previous owner will still see the "Update your payment information before your trial expires." box, even if a payment method has been added.
## Expected

If I'm not an owner, I shouldn't know anything about payments.
## Screencap

![screen shot 2015-01-09 at 7 41 41 pm](https://cloud.githubusercontent.com/assets/582828/5689647/8f57bfda-9837

[2015-01-10 00:45] VinSpee commented on #27
tables are annoying. Weird fix here:

http://jsfiddle.net/7CURQ/

[2015-01-10 00:52] VinSpee commented on #22
In the meantime, would it be useful to have a manual syncing button? I assume this is normally not a huge issue, but it is when first setting up a repo.

[2015-01-10 05:26] derrickreimer commented on #22
@VinSpee yes, I agree.

[2015-01-10 06:05] derrickreimer commented on #30
Should be fixed now. Looks like I missed updating one attribute when manually transferring the organization. Will be sure to cover this when building transfers :)

[2015-01-10 06:05] #30 closed, assigned to derrickreimer

[2015-01-10 19:42] derrickreimer commented on #27
We should in better shape now. Tables are finicky.

[2015-01-10 19:42] #27 closed, assigned to derrickreimer

[2015-01-11 05:30] derrickreimer commented on #22
Alright, the original problem referenced here should be fixed now: milestones (and labels) that are deleted on GitHub are now deleted in Codetree within a few hours. I'm still a fan of adding manual sync buttons in various places, though, so I will open separate issues to track those features.

[2015-01-11 15:46] lightcap commented on #22
Yeah, I'd love to see manual refresh buttons too.

Thanks for fixing this!

Also, related, I've still got a bunch of orphaned milestones. Anything in
this screenshot without a "v" in front of the milestone doesn't exist in
Github.

On Sun, Jan 11, 2015 at 6:30 AM, Derrick Reimer notifications@github.com
wrote:

[2015-01-11 20:02] derrickreimer commented on #22
@lightcap should be all synced up now.

[2015-01-11 20:55] lightcap commented on #22
I just saw! Thanks :-)

On Sun, Jan 11, 2015 at 9:02 PM, Derrick Reimer notifications@github.com
wrote:

[2015-01-11 22:31] lightcap commented on #22
Looks like they're back. Just taken:

On Sun, Jan 11, 2015 at 9:55 PM, Matt Kern matt@bloomcrush.com wrote:

[2015-01-11 22:32] derrickreimer commented on #22
@lightcap well that's mysterious...I'm on it. Sorry for the back and forth on this one.

[2015-01-11 23:07] derrickreimer commented on #22
@lightcap can you confirm that milestone number two (with the name "1.5") is deleted from the "api" repository?

[2015-01-12 10:27] lightcap commented on #22
Actually, I've got 1.4, 1.5, 1.6, and 1.7 in "closed" in Github.
Coordinating milestones between repos is going to be a challenge :-) Maybe
when there's more than one repo in a project there should be some indicator
which repo it's from?

Does creating a milestone in Codetree when there's multiple repos create
that milestone in all repos?

I'm deleting the milestones without the "v" prefix that ar

[2015-01-12 12:57] VinSpee commented on #22
Yes I agree. There should be some indicator of which repo the issue is from. We are hacking around that right now by using a label, which is annoying.

On Mon, Jan 12, 2015 at 5:27 AM, Matt Kern notifications@github.com
wrote:

[2015-01-12 18:20] derrickreimer opened #31 "Creating + breaking dependencies through Codetree"
/cc @andacturkmen @lightcap

[2015-01-12 19:19] Pomax opened #32 "when viewing issues, make the "assigned to" a selectable too"
Right now the issue filter system offers a few manipulable options, as shown here:

![screenshot 17](https://cloud.githubusercontent.com/assets/177243/5709188/8bc54592-9a4c-11e4-9ed6-3cb511d73f58.png)

However, it's (critically, I'd say) important that the "assigned to" part is a multi-filter, too, so that we can search for things like

"Showing [_open issues_] [_assigned to_ or _@-mentioning_] [_

[2015-01-12 19:50] lightcap commented on #31
I love that the closed deps disappear, btw. But there should be a way to "unhide" them maybe?

[2015-01-13 16:17] VinSpee opened #33 "Allow for attachments to issues"
We've invited our customer support team to our github org and instructed them on how to create issues. We'd love for them to be able to use the CodeTree UI, but in order to do so, they need to be able to attach screenshots and other assets (eps, ai, svg, pdf).

[2015-01-13 17:47] VinSpee commented on #31
how do i set up dep issues?

[2015-01-13 22:10] wanderingmatt commented on #28
:+1: for relying on natural state here. While I could see the case for having additional label-based boards (allowing you to define your own states), I don't feel like I need a labels on Backlog or Todo issues to understand their state over on Github.

[2015-01-13 22:17] wanderingmatt opened #34 "Would be nice to be able to edit/rename Shortcuts"
So that I don't have to delete them and recreate them.

[2015-01-14 00:09] ajwaxman commented on #28
@djreimer I overlooked the part of your reply that said custom stages for task boards is in the works. Very exciting! How will custom stages be created and modified? Will it be a codetree only state or will it be compatible with the Github Issues interface as well?

Agreed, I don't think this should be a requirement (or even the default). However, I do think that some teams will find it helpful fo

[2015-01-14 03:57] derrickreimer commented on #31
@lightcap not a bad idea

@VinSpee you can add a dependency to another issue by dropping a comment like "needs #31". Codetree automatically parses these references out. We accept "need", "needs", "needed", "require", "requires", "required" (similar to GitHub's "fixes" convention for pull requests).

[2015-01-14 03:58] derrickreimer commented on #34
:+1:

[2015-01-14 03:59] derrickreimer commented on #33
@VinSpee this is in the queue. Will keep you informed.

[2015-01-14 04:01] derrickreimer commented on #32
This makes sense. Is the most common pairing (assigned to OR mentioned) for you?

[2015-01-14 04:04] derrickreimer commented on #28
@awaxman11 custom stages will be label-based, similar to the `In Progress` column. Actually, the `In Progress` column will be customizable as well.

[2015-01-14 04:44] Pomax commented on #32
it's certainly the one I run into most often, since github doesn't do multiple assigning (so if the task owner's assigned, and I'm cc'd as a dev, but it's a p1 ticket, I still really want to be able to find that =D)

[2015-01-14 17:42] ajwaxman commented on #28
Awesome!

[2015-01-14 18:05] wanderingmatt opened #35 "Ability to reorganize Projects"
Would be nice to be able to sort and/or reorganize Projects, as you can with Milestones and Shortcuts, and have the order reflected in the Codetree navbar dropdown.

[2015-01-15 22:10] veganstraightedge opened #36 "Issue list layout broken in Safari"
![issues codetree](https://cloud.githubusercontent.com/assets/4361/5767836/48209e38-9cc0-11e4-8c0a-f0076e7cd76b.png)

[2015-01-15 22:13] derrickreimer commented on #36
Yikes, sorry Shane. It's definitely not supposed to look like that. Are you by chance using Safari? We are working on a fix now for layout issues in that browser.

[2015-01-15 22:17] veganstraightedge commented on #36
I am using Safari. Latest Safari. Latest OS X.
Anything else you need from me/my environment?

[2015-01-15 22:18] derrickreimer commented on #36
No thanks, that'll do. Expect a fix soon.

[2015-01-15 22:22] veganstraightedge commented on #36
Thanks!

[2015-01-16 00:50] derrickreimer commented on #36
Should be fixed now. Let me know if you run into any other issues!

[2015-01-16 00:50] #36 closed, assigned to derrickreimer

[2015-01-16 00:56] derrickreimer commented on #22
Yeah, it's a tricky problem. Right now, we take all milestones from all repos and bring them in as project milestones in Codetree. The idea is to not have to think about which repo has which milestones. When you move an issue under a milestone that does not yet exist on it's parent repo, we create it spontaneously. But I can see how this is challenging when trying to hunt down the source of unwant

[2015-01-16 04:36] derrickreimer commented on #22
Feast your eyes!

![milestone-refresh](https://cloud.githubusercontent.com/assets/341387/5771643/0dec0e38-9cf6-11e4-99f4-0e53c6b91442.png)

/cc @VinSpee @lightcap

[2015-01-16 04:38] veganstraightedge commented on #36
Looks good to me. Thanks!

[2015-01-16 04:39] derrickreimer commented on #36
:metal:

[2015-01-16 12:27] lightcap commented on #22
Thanks, that's great!

On Fri, Jan 16, 2015 at 5:36 AM, Derrick Reimer notifications@github.com
wrote:

[2015-01-16 19:05] veganstraightedge opened #37 "Milestone names get stuck in cache when updated"
We had a milestone named: "v1.4 Feed".
We changed it to "Public Feed".

New issues created in this milestone show the correct name ("Public Feed").
Issues created in this milestone before the name change retain the old/wrong name ("v1.4 Feed").

[2015-01-16 19:07] veganstraightedge commented on #37
![screen shot 2015-01-16 at 11 01 53 am](https://cloud.githubusercontent.com/assets/4361/5782465/dfad53fe-9d6f-11e4-8ec9-4054fc6575f3.png)

[2015-01-16 19:08] derrickreimer commented on #37
Thanks, I think is a case of cache invalidation not happening when it should. I'll investigate.

[2015-01-16 19:57] veganstraightedge commented on #37
One of the two hard problems of computer science. ;)

http://tantek.com/2010/085/t2/hard-problems-computer-science

[2015-01-16 20:07] veganstraightedge opened #38 "Re-ordering issues isn't sticking"
I have a [milestone](https://codetree.com/projects/b1SW/issues?milestone=Public+Feed) that has 27 issues in it. So, there are issues "above the fold" with a white background and some "below the fold" with background color of `#fdf9f6`.

When I drag an issue from the white section to the `#fdf9f6` section to re-order it, the issue snaps back to its original position.

[2015-01-16 20:09] veganstraightedge commented on #38
The menu item `move to bottom` is also only moving the issue to the bottom of the white section.

[2015-01-16 20:15] derrickreimer commented on #38
This is actually by design, although it probably warrants better explanation to the user to avoid confusion. Issues with a white background are "ordered", while those with a tan background are strictly "unordered". The two can't be intermixed, so dragging an issue below the block of ordered issues will cause it to move to the lowest possible ordered position.

The reason for this behavior is to al

[2015-01-16 20:15] #38 closed, assigned to nobody

[2015-01-16 20:28] veganstraightedge opened #39 "Add ability to manually refresh issues"
When my issues/milestones get out of sync with the GitHub Issues Truthiness™, I'd like to be able to force Codetree to re-sync **now** as opposed to **sometime**.

Or at the least, so visibility into that re-syncing schedule / progress would be swell.

[2015-01-16 20:30] veganstraightedge commented on #38
Ooooh. I got around it by dragging all of the unordered ones up to the ordered ones section. Then re-ordering to the way I want.

Thanks for clarifying.

[2015-01-19 04:49] rinopo opened #40 "Add "Repository" column to issue list"
Hi,
I'd love it if you could add a "Repository" column to the issue list, so that one can see from which repo an issue is coming from at a glance.

![issues codetree](https://cloud.githubusercontent.com/assets/45791/5796043/1dedc842-9fe1-11e4-9988-3fe9e495bebe.png)

Maybe you could also make the visibility of certain columns optional for people who don't need to see them. (This could be related to

[2015-01-19 05:29] rinopo opened #41 "Ability to add private repo w/ collaborator access"
There's a repo that I have on my list of repositories on GitHub but cannot add to a Codetree project.
It's a repo that I've been invited to with a [collaborator access](https://help.github.com/articles/permission-levels-for-a-user-account-repository/) permission.

Could you make this kind of repository available in Codetree too?

![repositories](https://cloud.githubusercontent.com/assets/45791/579

[2015-01-20 14:16] lightcap opened #42 "Clarify the split between issues & PRs on milestone completion status"
I have a milestone that shows as 97% complete with one issue open, but I don't see any open issues in the milestone.

Clicking on the milestone itself also reports "Hooray! No issues to show here". Seems like something out of sync.

![obnux](https://cloud.githubusercontent.com/assets/12123/5818591/00ea54f0-a0b7-11e4-8306-fe83a6c84aba.png)

[2015-01-20 16:30] derrickreimer commented on #42
Is there by chance an open pull request that was put under that milestone?

[2015-01-20 16:32] lightcap commented on #42
It doesn't look like it, no.

[2015-01-20 16:32] derrickreimer commented on #41
Great question! The reason we require owner/admin rights is because Codetree relies heavily on webhooks to keep data in sync with GitHub, but collaborators are not allowed to install webhooks. Would it be possible to have the owner of the repo set up the project?

[2015-01-20 16:37] derrickreimer commented on #42
I just ran little query and it looks like there is one: https://codetree.com/projects/b1SW/issues?status=open&milestone=Grid

I'll classify this ticket as a usability issue.

[2015-01-20 16:38] lightcap commented on #42
That shows up as no issues to me, how odd.

On Tue, Jan 20, 2015 at 5:37 PM, Derrick Reimer notifications@github.com
wrote:

[2015-01-20 16:40] derrickreimer commented on #42
Bah, sorry my fault...

https://codetree.com/projects/b1SW/issues?type=&status=open&milestone=Grid

[2015-01-20 16:43] lightcap commented on #42
Ah, yes. That is accurate. Thanks! We generally keep a PR open for the
milestone until it's closed.

On Tue, Jan 20, 2015 at 5:40 PM, Derrick Reimer notifications@github.com
wrote:

[2015-01-21 02:28] rinopo commented on #41
Thanks for the explanation!

Yeah, since that seems to be the only solution, I'd ask them to do so.
Maybe you can close this issue.

[2015-01-21 04:05] derrickreimer commented on #41
Sounds good. Let me know if you have further questions.

[2015-01-21 04:05] #41 closed, assigned to lokesh75way

[2015-01-21 05:07] derrickreimer commented on #40
:+1: we are working on freeing up some space in the list view to accommodate more data. For now, you can hover over the issue number to see the repository name in a tooltip (although I know that doesn't help you see it at a glance).

[2015-01-21 05:08] derrickreimer commented on #7
See https://secure.helpscout.net/conversation/66417658/89/

[2015-01-21 06:22] rinopo commented on #40
Thanks for the reply and great to hear that the improvements are coming!

BTW, I've also noticed that in the case of the screenshot posted above, the "Assignee" column is also redundant, since the table itself is divided by the tasks' assignees.

[2015-01-21 06:24] derrickreimer commented on #7
Alright folks, I've completely hidden the "Creator" column as a test.

[2015-01-21 07:00] #7 closed, assigned to sachinkum123

[2015-01-21 14:04] JohnLemberger commented on #31
How do you create cross-repo dependencies?  I tried `needs http://github.com/.../issues/####` but it hasn't linked.

[2015-01-21 15:31] derrickreimer commented on #31
Hi @JohnLemberger! The syntax is like this: `needs codetree/feedback#31`. GitHub will recognize the reference in this format too and include it in the activity feed for the issue: https://help.github.com/articles/writing-on-github/#references

[2015-01-23 06:47] veganstraightedge opened #43 "Redirect to dashboard when logged in"
When I'm already logged in and I visit codetree.com, I always just click on "View my dashboard". Please save me a click and redirect me to same place as that link instead of showing me this page.

[2015-01-23 07:59] rinopo opened #44 "Switching milestone-based / assignee-based interface after a project is created?"
Is it possible to switch between milestone-based / assignee-based interface after a project has been created?

I'm talking about the "prioritization" setting that I've chosen when creating my project.

![new project codetree](https://cloud.githubusercontent.com/assets/45791/5871450/05b578cc-a321-11e4-8378-aff1d36b04d7.png)

[2015-01-23 12:54] rinopo commented on #40
For the meantime, I've made a quick and dirty Stylish user style to always show the repository names:
https://userstyles.org/styles/109618/codetree-repository-label

[2015-01-23 16:40] derrickreimer commented on #43
:+1:

[2015-01-23 17:44] derrickreimer commented on #44
This is not available in the user settings yet, but I can update it manually if you'd like. This can actually be a pretty destructive action, since it wipes out all your manual ordering of issues. Shoot me an email in support if you'd like me to update. You can also create a second project attached to the same repos if you are just looking to try out a different prioritization method.

[2015-01-23 17:44] #44 closed, assigned to nobody

[2015-01-24 06:53] derrickreimer commented on #37
Should be fixed now

[2015-01-24 06:53] #37 closed, assigned to ac21

[2015-01-25 04:07] #24 closed, assigned to derrickreimer

[2015-01-25 08:21] rinopo commented on #44
Hi,
Thanks for the reply.

Since I've already ordered some 40+ issues assigned to me, and it would be painful to do that again, I'd choose to stay with the current setting.

Thanks for the suggestion.
This would be another pain for me though. My use case is that I have 50+ repos each having some issues assigned to me, and I hoped to manage those issues in one list with Codetree (and that seems to

[2015-01-26 16:40] lightcap opened #45 "New workflow columns show up after "Done""
Excited to see we can add columns to the task board! Thanks!

There seems to be a bug that has the column show up after my "Done" column though.

![8luzn](https://cloud.githubusercontent.com/assets/12123/5903482/403286b2-a582-11e4-8988-7259d195a2ac.png)

[2015-01-26 16:43] lightcap commented on #45
Wow, disregard this. I just can't read :-) This is not an issue, the "Done" column was just off the screen.

[2015-01-26 16:43] #45 closed, assigned to nobody

[2015-01-26 16:44] derrickreimer commented on #45
This is my favorite kind of bug! :)

[2015-01-26 18:12] wanderingmatt opened #46 "Invitation emails"
When adding someone as an organization member, I expected that an invitation email would be sent to them.

[2015-01-26 18:13] derrickreimer commented on #46
:+1: this is a much needed addition

[2015-01-26 18:35] wanderingmatt opened #47 "Add type as a criteria for custom stages"
First of all, congrats on the Custom Stages release!

Second, now that I've had a chance to see how you guys implemented it, I have an additional request. It would be helpful if type were a criteria for the custom stages. For example, my team creates (or converts existing issues to) pull requests when something reaches the review stage. So, it is a bit redundant to have to also move it to the cust

[2015-01-26 18:39] wanderingmatt commented on #33
:+1:

[2015-01-26 18:41] derrickreimer commented on #47
Thanks!

I have a feature in the works broadly termed "task board automation" that will allow you to configure rules like "when a pull request is attached, move to stage X". Sounds like that might solve this?

[2015-01-26 18:45] wanderingmatt commented on #47
Sounds great!

[2015-01-28 17:05] derrickreimer commented on #47
Needs codetree/codetree#189

[2015-01-28 22:00] wanderingmatt opened #48 "Global shortcuts"
I would like to be able to specify a Shortcut as "global" so that every member of the organization can see it. We started testing out Codetree for review during bug meetings and, depending on who leads the meeting, we can't rely on the same shortcuts for review.

[2015-01-28 22:00] derrickreimer commented on #48
:+1:

[2015-01-30 08:56] #43 closed, assigned to derrickreimer

[2015-01-30 17:45] wanderingmatt opened #49 "Reassign issues from the task board"
I tried to click on an assignee like you can in the list view.

[2015-01-30 17:46] derrickreimer commented on #49
Move love coming to task board cards shortly!

[2015-01-30 22:26] veganstraightedge commented on #43
🎉🚀🌈‼️

[2015-01-30 22:27] derrickreimer commented on #43
Happy Friday :star2: :star2:

[2015-01-31 19:50] #15 closed, assigned to derrickreimer

[2015-01-31 21:13] #49 closed, assigned to derrickreimer

[2015-01-31 21:19] #26 closed, assigned to derrickreimer

[2015-02-03 18:05] wanderingmatt opened #50 "Card menus clipped by column boundaries"
![screenshot 2015-02-03 10 03 27](https://cloud.githubusercontent.com/assets/11926/6026053/32d2c058-ab8c-11e4-8d3c-d25b46ff951a.png)

[2015-02-03 18:06] wanderingmatt commented on #49
Awesome! See #50 though.

[2015-02-05 06:49] aseemk commented on #39
+1

[2015-02-05 06:55] aseemk opened #51 "Issue title gets completely covered by labels"
We have an admittedly oddball issue that has a lot of labels on it. (It's an umbrella-type issue for a work item that cuts across several areas of our repo.) The title has gotten completely covered up:

![screenshot 2015-02-05 01 54 09](https://cloud.githubusercontent.com/assets/537838/6056085/e679a1fa-acd9-11e4-94a0-6d3370b72d95.png)

I can't even find any element to click to visit that issue! =P

[2015-02-05 06:56] derrickreimer commented on #51
Lol point taken :)

[2015-02-05 07:05] aseemk commented on #31
Would you guys consider automatically picking up issues linked in Markdown task lists? E.g.:
- [ ] #1234 Foo bar
- [ ] [#1234] Foo bar
- [ ] Issue #1234: Foo bar
- [ ] Foo bar #1234
- [ ] Foo bar (details in issue #1234)

That's the convention we've been using for a long time across many of our issues, and it's one that we've seen others use too. (E.g. [see here](http://www.ianbicking.org/blog/201

[2015-02-05 07:18] derrickreimer commented on #31
@aseemk that's an interesting idea. These wouldn't necessarily be dependencies though, right? I could see listing these relationships more generically under the parent. E.g. this is how dependencies are listed now:

![dependencies](https://cloud.githubusercontent.com/assets/341387/6056332/0144fee6-acc4-11e4-983c-bca267f0f408.png)

Perhaps other referenced issues could appear as "references [Issue

[2015-02-05 07:20] aseemk commented on #31
I don't think listing referenced issues is a bad idea, but to be clear, the task list use case is indeed for dependencies. The referenced issues contain more detail for tasks of the master issue; the master issue isn't done until all its tasks, and thus those referenced issues, are done.

[2015-02-05 07:21] aseemk commented on #31
Random minor thought: the word "mentions" is nicer and shorter than "references", if you do add referenced issues to the UI. =)

[2015-02-05 07:28] derrickreimer commented on #31
:+1:

Just thinking of edge cases here, I'm fairly sure I've referenced another issue in a task list (I'm a heavy task list user myself) without implying a dependency. Assuming that all issues referenced in task lists are dependencies might be dangerous.

Would it mess with your flow too much to use one of the accepted reference keywords (need, needs, needed, require, requires, required) in front

[2015-02-05 07:31] aseemk commented on #31
Yeah fair enough, I'm sure we've done that too. =)

It wouldn't mess with our workflow; it's just friction...

[2015-02-05 07:36] derrickreimer commented on #31
I'll keep noodling this one. Perhaps a simple convention like this will reduce friction:

---

Needs:
- [ ] #12345
- [ ] #23456

[2015-02-05 16:49] dblandin commented on #48
:+1:

I currently have two shortcuts setup that show open pull requests with either the label `review` or `qa`. I would also love the ability to promote these personal shortcuts to the organization level.

[2015-02-05 16:54] dblandin commented on #28
This feature [shipped recently](http://blog.codetree.com/articles/custom-stages.html). Our team has setup custom `review` and `qa` stages. Works wonderfully. Time to close this issue?

[2015-02-05 17:14] derrickreimer commented on #28
Good catch @dblandin!

[2015-02-05 17:14] #28 closed, assigned to nobody

[2015-02-05 17:17] ajwaxman commented on #28
Super excited to try this out!!

[2015-02-05 17:17] derrickreimer commented on #28
Woot!

[2015-02-05 17:19] #22 closed, assigned to rapidnoodle

[2015-02-05 17:23] dblandin opened #52 "View task board without assignee or milestone filter"
Is there a way to view all open issues in a task board layout without filtering by assignee or milestone?

[2015-02-05 17:35] derrickreimer commented on #52
This one is quickly percolating to the top of my development queue. Will keep everyone posted here.

[2015-02-05 20:52] dblandin commented on #52
Great. thanks!

[2015-02-08 16:01] #18 closed, assigned to derrickreimer

[2015-02-09 17:43] ajwaxman commented on #18
@djreimer is this live yet? Looks like it's part of a feb milestone. Wasn't sure if you deployed features as they were finished or waited until all the issues in the milestone were completed first. I'm excited to try it out!

[2015-02-09 17:56] derrickreimer commented on #18
@awaxman11 Yeah I soft launched the first iteration of this over the weekend (we continuously deploy). I'll do a bigger announcement once I have a launch blog post / docs to back it up, but you are welcome to try it out. To enable point estimates, head to your project settings and tick the enable box. We opted to store points in the title, in the form of `Issue title here [2]`. This makes it visib

[2015-02-09 18:02] ajwaxman commented on #18
Awesome, checking it out now!

[2015-02-09 18:31] derrickreimer commented on #18
:+1:

[2015-02-09 21:01] #40 closed

[2015-02-09 21:04] derrickreimer commented on #40
Alrighty, here it is. In Settings:

![show-repo-name-option](https://cloud.githubusercontent.com/assets/341387/6115661/1e16aa7e-b05c-11e4-9c61-a204123ae079.png)

When checked, you'll see the repo name here:

![repo-name-in-list](https://cloud.githubusercontent.com/assets/341387/6115673/28b10934-b05c-11e4-9496-18633784f478.png)

Enjoy!

[2015-02-10 02:44] rinopo commented on #40
Great! Thanks a lot :smiley:

[2015-02-10 17:58] derrickreimer commented on #32
Added an "Interacted" filter which should cover this!

[2015-02-10 17:58] #32 closed, assigned to ac21

[2015-02-10 21:32] chadbay commented on #13
:+1: How do I add another admin to an organization? I see a way to do it on the project level, but not at the organizational level.

[2015-02-10 21:53] derrickreimer commented on #13
@chadbay just got back via email, but I'll copy here to get this info in the public sphere:

Currently the owner is the only one who can create projects, because we rely on the organization owner's credentials to periodically poll the GitHub API for certain changes. This keeps it simple on our end, but I do recognize it's a bit limiting for users.

We'll work on improving permissions soon.

[2015-02-11 17:59] lightyrs opened #53 "New labels added to issue on GitHub take awhile to show up in Codetree"
Is this a limitation of the GitHub Issues API?

[2015-02-11 18:00] derrickreimer commented on #53
Interesting, this should be fairly instantaneous. Was the delay in the magnitude of minutes or hours?

[2015-02-11 18:04] lightyrs commented on #53
Our PM was doing a test of labels and was adding/removing a lot quickly so maybe that's what caused it but no labels showed up in Codetree:

![screen shot 2015-02-11 at 1 02 57 pm](https://cloud.githubusercontent.com/assets/334749/6152874/74b32982-b1ee-11e4-8fa3-bc9b5f89a8b1.png)

[2015-02-11 18:06] derrickreimer commented on #53
Hm. Can you visit the Settings page on GitHub for that repository, click Webhooks & Services, and let me know if you see a codetree.com hook there?

[2015-02-11 18:12] lightyrs commented on #53
I don't have access to that but I will ask someone else when they are around.  Thanks for your help.

[2015-02-11 18:13] lightyrs commented on #53
It seems to be working now — sorry for the false alarm.

[2015-02-11 18:26] derrickreimer commented on #53
No problem, let me know if you notice long delays again.

[2015-02-11 18:26] #53 closed, assigned to nobody

[2015-02-11 20:26] dblandin commented on #48
I noticed these new global shortcuts based on my custom stages show up in the sidebar:

![screen shot 2015-02-11 at 11 28 00 am](https://cloud.githubusercontent.com/assets/123595/6155553/cffab886-b1f9-11e4-9eca-77c10df9fa53.png)

Great to see them, but can we widen the scope to Issues and Pull Requests? We generally use the custom stages for PRs, not issues.

[2015-02-12 05:25] derrickreimer commented on #48
@dblandin would you like your default view to always show issues and pull requests together, or just for these custom stages?

[2015-02-12 17:02] wanderingmatt commented on #48
FWIW, my team considers Pull Requests just another stage of an issue.

[2015-02-12 23:36] dblandin commented on #48
@WanderingMatt Yep, our team as well.

@djreimer It would be great to see the counts of open PRs next to the global shortcuts for custom stages so I can see at a glance: 2 PRs are waiting on QA, 3 PRs need some code review, etc...

I'm fine with the current default view behavior which takes you to open issues with a separate link for open PRs:

![screen shot 2015-02-12 at 5 35 32 pm](https://cloud

[2015-02-13 02:39] derrickreimer commented on #48
Thanks for the info guys.

Here's the workflow I've been recommending:
1. File standard issues for bugs and features
2. Attach pull requests to issues using the GitHub reference convention (e.g. fixes #12345)
3. When it's ready for review/QA, move the original issue to that stage
4. Once the pull request is merged/deployed/QA'd, then close the original issue

There are several advantages that I've

[2015-02-13 03:05] dblandin commented on #48
I do like keeping the lists of issues and PRs separate. We would also have some visual redundancy if both were shown by default. It may be related to our specific stages (I'd love to hear other examples) but our issues aren't involved in custom stages as PRs are. Issues aren't code reviewed, PRs are. Issues aren't QA'd, changes introduced in PRs are.

To address your first question: generally yes,

[2015-02-13 15:21] derrickreimer opened #54 "JSON is displayed intermittently upon back navigation (Chrome)"
Appears to be a Chrome bug. See http://sdqali.in/blog/2012/11/27/on-rest-content-type-google-chrome-and-caching/

Possible solution: append `.json` on all backchannel requests?

[2015-02-13 20:02] dblandin commented on #48
@djreimer Hey, that was quick!! This is perfect! :+1:

![screen shot 2015-02-13 at 2 01 23 pm](https://cloud.githubusercontent.com/assets/123595/6194318/e1ac1a4e-b388-11e4-9d0e-8ab6dd20444f.png)

[2015-02-13 20:25] dblandin commented on #48
Ha, never mind. That's my own shortcut... whoops :persevere:

[2015-02-13 23:02] wanderingmatt commented on #48
To try and answer your first question — our PRs have either a 1-to-1 or 1-to-many relationship with our issues. We file issues for every bug/feature. If it is a one-off maintenance bug, we create a matching branch and (eventually) a matching PR for that branch. For feature work however, we create an omnibus branch which we will hang the eventual PR off of. As issues get worked on, we create matchi

[2015-02-14 00:56] #54 closed, assigned to derrickreimer

[2015-02-18 18:10] wanderingmatt opened #55 "Newly created issues are not appearing on task boards immediately"
Behind the "New Issue" modal, basically. It's inconvenient to have to hit refresh to see the issue I just filed; especially when I forgot to prioritize it during creation and want to be able to grab it and move it to the top.

[2015-02-18 21:19] ajwaxman commented on #52
+1

[2015-02-18 21:30] ajwaxman opened #56 "Ability to filter issues with an AND operator instead of only an OR operator"
I'm currently trying to create a shortcut for the intersection of two 2 labels

When I filter these two labels in GH's interface it gives me the intersection of issues:

![](http://cl.ly/Zqqc/Image%202015-02-18%20at%204.22.56%20PM.png)

When I filter on Codetree it gives me the union of issues:
![](http://cl.ly/Zpmo/Image%202015-02-18%20at%204.24.02%20PM.png)

Was there a reason you decided to go

[2015-02-18 21:45] derrickreimer commented on #55
Actually, this should be happening already. I have seen some cases happen though where the background refresh fails because of a race condition. Does it seem to never update for you?

[2015-02-18 21:49] derrickreimer commented on #56
To be honest, I don't have a great rationale for choosing union over intersection :). I think there's value in both depending on how you are using labels. I'm definitely open to adding a toggle to switch between conjunction and disjunction when filtering.

[2015-02-18 21:57] veganstraightedge opened #57 "All links should have a path/URL in its href"
From a project's list of issues, if I try to command click or right click a label to open it in a new tab, it doesn't work. It fails to fire off into a new tab because the `href` is `javascript:;` which is neither a URL nor a glob of Javascript.

With a combination of push/pop state and JS routing, you could keep this same behavior but still have real URLs in your `href`s.

Alternately, you could

[2015-02-18 22:00] derrickreimer commented on #57
Fair point, sir!

[2015-02-18 23:06] ajwaxman commented on #56
Sounds great! Definitely agree that there is value in both depending on how you use labels

[2015-02-19 00:21] wanderingmatt commented on #55
It never updates for me. I typically create new issues from the task board view, if that helps you isolate things.

On Wed, Feb 18, 2015 at 1:45 PM, Derrick Reimer notifications@github.com
wrote:

[2015-02-19 00:22] derrickreimer commented on #55
Thanks Matt. Will look into this.

[2015-02-19 07:29] derrickreimer commented on #48
Alright, here's the latest:
- Custom stages now include issues and pull requests (on boards and in the left-hand shortcuts), as requested by @dblandin
- Pull requests attached to issues via the "fixes" convention now show on task board cards

Still to come:
- Pull requests listed under issues on boards will be draggable to different stages. E.g. if an issue is "in progress" and you want it's attac

[2015-02-19 07:52] dblandin commented on #48
Sounds like an awesome update! Thanks for your hard work on this!

Will PRs attach to issues on the task board via any other mention keyword besides "fixes"? We usually use "fixes" when a PR should close a bug report issue and "addresses" for anything else (like a feature request).

[2015-02-19 16:14] derrickreimer commented on #48
I like that convention. I think it would be reasonable to expand this to list any PRs referencing an issue. Stay tuned.

[2015-02-19 17:30] wanderingmatt commented on #48
:+1:

[2015-02-20 03:31] derrickreimer commented on #48
Alright, all referencing PRs should be visible now.

[2015-02-20 03:40] #55 closed, assigned to derrickreimer

[2015-02-20 05:08] dblandin commented on #48
Fantastic! Thanks @djreimer!

[2015-02-20 05:09] #57 closed, assigned to derrickreimer

[2015-02-20 05:09] derrickreimer commented on #48
:metal:

[2015-02-20 18:50] veganstraightedge commented on #57
Boom! 👍

[2015-03-02 06:56] rinopo opened #58 "Show repository names in task board view"
As a corollary of #40 I really wish I could see repository names of the issues in task board view, too.

Thanks for your consideration!

[2015-03-03 00:37] veganstraightedge opened #59 "Add a "Feedback" link"
For easier access from Codetree to this Issues repo, maybe you could add a `Feedback` link somewhere on the Codetree site from there to here?

[2015-03-03 00:38] derrickreimer commented on #59
:+1: this is the most "meta" issue yet :)

[2015-03-03 00:59] veganstraightedge opened #60 "Logomark feedback"
I'm not sure where to leave this feedback.

Your logo mark is very close to being a checkmark which pairs nicely with Issues/project management/todo tasks. If you (or you designer) did it right you could invoke a nice subtle checkmark (in the whitespace down the middle of the leaves) without loosing your pretty leaves or looking like every other checkmark app icon.
- Personally, I'd reduce the siz

[2015-03-03 04:28] #59 closed, assigned to derrickreimer

[2015-03-03 04:33] derrickreimer commented on #59
![feedback-link](https://cloud.githubusercontent.com/assets/341387/6456598/566de7aa-c11b-11e4-9897-9fa056cc77d1.png)

[2015-03-03 20:49] veganstraightedge commented on #59
Thanks!

[2015-03-05 17:04] derrickreimer commented on #58
:+1:

[2015-03-06 01:26] dblandin opened #61 "Allow filtering of issues by the absense of a label"
It would be great to be able to filter down to (and create a custom shortcut for) issues without a certain label.

We've been using GitHub Issues to plan features which aren't yet ripe for the dev team. We usually add a label of **planning** to these issues. This would be also useful for organization that label issues with **icebox**.

I usually filter out the issues that still require business pl

[2015-03-06 04:14] derrickreimer commented on #61
Yep, this would definitely come in handy. You can actually accomplish this now by adding `exclude_labels=planning` to the query string (and creating a shortcut will retain it). This deserves a place in the UI.

[2015-03-06 04:48] dblandin commented on #61
@djreimer Fantastic! So many tricks up your sleeve :)

[2015-03-06 22:13] chadbay opened #62 "Add "exclude blockers" filter"
Here's what the issues look like, with issue 1 being blocked by 2 and 3:

[code]

Codetree's filter with blocked would show:

[code]

I want to see:

[code]

[2015-03-07 00:34] derrickreimer commented on #62
:+1: that seems useful

[2015-03-08 01:22] derrickreimer commented on #58
Alrighty, this is live!

![repo-on-card](https://cloud.githubusercontent.com/assets/341387/6544013/8c330e16-c4ee-11e4-9837-0042503ed6d7.png)

[2015-03-08 01:22] #58 closed, assigned to derrickreimer

[2015-03-08 01:55] derrickreimer commented on #62
Alright sir! Just shipped the "Blocking" filter:

![not-blocking](https://cloud.githubusercontent.com/assets/341387/6544120/1ebea476-c4f3-11e4-8a72-5272772970d1.png)

[2015-03-08 01:55] #62 closed, assigned to derrickreimer

[2015-03-08 02:25] derrickreimer commented on #61
@dblandin added to the UI

[2015-03-08 02:25] #61 closed, assigned to nobody

[2015-03-08 15:44] #2 closed, assigned to derrickreimer

[2015-03-09 04:12] rinopo commented on #58
Wow, so fast!
Thanks a lot :blush:

[2015-03-09 06:20] #42 closed, assigned to lokesh75way

[2015-03-09 06:21] #34 closed, assigned to nobody

[2015-03-09 22:38] dblandin commented on #61
@djreimer Awesome! :+1:

[2015-03-10 15:04] dhicking opened #63 "Newly created labels aren't showing up in Codetree"
I've created a new label but it's not showing up in Codetree yet.  I tried manually syncing my data and I've also tried logging in and logging out.  Is this a bug?

[2015-03-10 16:07] derrickreimer commented on #63
Hi Dave! Unfortunately GitHub doesn't send us a webhook when a label is created for the first time on a repository. However, Codetree will become aware of it as soon as it is used for the first time.

[2015-03-10 16:38] dhicking commented on #63
Thanks for the heads up, that’s good to know.

On Tue, Mar 10, 2015 at 12:07 PM, Derrick Reimer notifications@github.com
wrote:

[2015-03-10 17:51] derrickreimer commented on #63
No problem!

[2015-03-10 17:51] #63 closed, assigned to nobody

[2015-03-10 17:51] derrickreimer commented on #60
Thanks!

[2015-03-10 17:51] #60 closed, assigned to nobody

[2015-03-10 18:19] wanderingmatt opened #64 "Unable to drag an issue from Todo to Backlog via task board"
I assumed this would be possible — stripping the issue of its current milestone — and tried to do it.

[2015-03-10 18:29] derrickreimer commented on #64
That's strange, it should work like you expected. I will investigate.

[2015-03-10 18:39] derrickreimer commented on #64
@WanderingMatt sorry about that, there was a little bug introduced yesterday. Should be fixed now, but please let me know if you run into it again!

[2015-03-10 18:39] #64 closed, assigned to derrickreimer

[2015-03-10 19:05] wanderingmatt commented on #64
Working. :+1:

[2015-03-12 17:23] adro718 opened #65 "Edited content doesn't update in codetree display"
If I update a comment or title in github for an existing issue displaying in codetree, the updates do not display in codetree. Once I create a new comment for that issue the edits do update. It seems like codetree is only updating for new content not edited content.

[2015-03-12 17:29] derrickreimer commented on #65
Hi Alex! Unfortunately, GitHub does not send us webhooks for title/body/comments are edited, or when the issue milestone is changed. I'm currently lobbying them to change that, but for now we have to rely on polling the API to bring those changes over to Codetree. Sorry for the inconvenience! We are actively looking for ways to make this better all the time.

[2015-03-12 17:29] #65 closed, assigned to nobody

[2015-03-16 05:16] #5 closed, assigned to derrickreimer

[2015-03-26 16:06] aseemk commented on #23
Maybe the fix could be as simple as rewording "Create shortcut" to e.g. "Save shortcut" or similar. Maybe a tooltip on hover that clarifies, e.g. "Save the current view to a shortcut."

Related though: it'd be nice to be able to edit an existing shortcut, e.g. by re-saving with the same name, overwriting the existing one. The scenario is for a "current milestone" shortcut.

[2015-03-26 16:06] aseemk commented on #3
+1 (but great to hear this is planned)

[2015-03-26 16:07] aseemk opened #66 "Shared shortcuts"
It'd be great if shortcuts could be shared across the team (i.e. everyone who had access to view this project, had access to these shortcuts).

There might still be scenarios for personal shortcuts, so I'd be okay with both personal and shared shortcuts, but at least in our workflow, shared shortcuts are much more valuable than personal.

[2015-03-26 16:22] aseemk opened #67 "Custom Fields / Enhanced issue schema"
This might be an uncommon use case, so feel free to discard, but just wanted to share and file:

To manage label overload, but still get nice and precise labels (for both at-a-glance-ness and filtering), we group our labels with common prefixes, e.g.:
- `area-api`, `area-ui`, etc.
- `type-bug`, `type-feature`, `type-question`, etc.
- `reason-ux`, `reason-security`, `reason-perf`, etc.

It'd be kil

[2015-03-27 11:02] SeanBannister opened #68 "Label management"
Because codetree polls github for new labels and doesn't provide an interface to create new labels there's no way to apply a label to an issue when you first create it, you have to wait for codetree to poll.

[2015-03-27 20:30] adro718 commented on #65
Thanks for the update!

[2015-03-28 20:38] derrickreimer commented on #67
Nice! Will give this some thought.

[2015-03-30 07:05] SeanBannister opened #69 "Cannot delete an organisation or a repository"
Once an organisation or repository is created there's no way to delete it.

[2015-03-31 18:27] beaugunderson opened #70 "Other users with 'Full Access' permission can't link additional repositories"
The select box at the bottom of the page doesn't exist when she accesses the 'edit' page for our project (with shortlink uFsu).

[2015-03-31 20:50] beaugunderson opened #71 "After linking a new repository to an existing project another user can't see issues from the new repository"
And additionally, on their 'edit' page for the project the new repository does not show up in the list of linked repositories.

[2015-04-01 17:28] derrickreimer opened #72 "Commas in milestone names break filtering"
Originally reported by @iamEAP: https://twitter.com/iamEAP/status/583318975833980928

[2015-04-01 17:39] beaugunderson opened #73 ""Sync My GitHub Data" does not update milestones"
Newly created milestones are not reflected in Codetree, for example.

[2015-04-01 17:42] derrickreimer commented on #73
@beaugunderson sorry for the confusion. Right now, this particular sync operation refreshes your user repository permissions only. We do have plans to add more manual/force sync options for project-level things. I'll open a separate issue for this one and keep you in the loop.

[2015-04-01 17:42] #73 closed, assigned to rapidnoodle

[2015-04-01 17:43] derrickreimer opened #74 "Manual sync operation for project milestones and labels"
/cc @beaugunderson

[2015-04-01 17:45] derrickreimer commented on #71
Does this user have access to that particular repository on GitHub? We only allow users to view issues for which they have GitHub access. If the user was recently granted permission, he or she may need to hit the "Sync my GitHub data" button to have Codetree re-sync permissions immediately.

Let me know if this does not work.

[2015-04-01 19:37] beaugunderson commented on #74
cc @madprime :)

[2015-04-01 19:38] beaugunderson commented on #71
Yes, when @madprime used the 'Sync my GitHub Data' function she was then able to see the newly-linked repository. :)

[2015-04-01 19:44] beaugunderson commented on #74
Oh, I missed the 'Refresh' button on this page: https://codetree.com/projects/uFsu/milestones

That synced the milestone itself, but the main issues page doesn't show the issues have that milestone assigned yet.

And in the future we'll try to create our milestones from the milestones page and do the assigning there to avoid the sync lag; I didn't realize you could add them from that page. :)

[2015-04-02 23:06] derrickreimer commented on #69
Hi @SeanBannister, we can definitely take care of that for you. Which organization would you like deleted?

[2015-04-02 23:08] derrickreimer commented on #71
Great :)

[2015-04-02 23:08] #71 closed, assigned to ac21

[2015-04-02 23:08] derrickreimer commented on #74
Ah yes, I forgot to mention that! Going to close this one for now.

[2015-04-02 23:08] #74 closed, assigned to derrickreimer

[2015-04-05 01:22] #72 closed, assigned to derrickreimer

[2015-04-05 01:34] derrickreimer commented on #72
@iamEAP this should be fixed now, let me know if observe any odd behavior!

[2015-04-06 07:41] SeanBannister commented on #69
Thanks I'd actually like a project deleted, called "Test" under the Creative.Parts organisation.

[2015-04-07 18:17] ajwaxman commented on #67
fwiw we also group our labels, although slightly differently:
- `needs: design`, `needs: feedback`
- `size: 1`, `size: 2` ...
- `type: feature`, `type: bug`
- `priority: low`, `priority: normal`, `priority: high`
- `team: x`, `team: y`, `team: z`

[2015-04-07 18:21] aseemk commented on #67
Colons definitely read nicer, but they make search harder, right?

[2015-04-07 18:29] derrickreimer commented on #69
Got it -- so we do have delete project functionality in the UI. Click the "Issues" menu in the left hand side bar and then click "Settings". You should see a delete button there:

![delete-project](https://cloud.githubusercontent.com/assets/341387/7030431/5c4f92c6-dd19-11e4-98d0-fb74073b9075.png)

[2015-04-07 18:29] #69 closed, assigned to ac21

[2015-04-07 18:31] derrickreimer commented on #68
Thanks @SeanBannister -- updated the title to reflect the feature request.

[2015-04-07 18:34] ajwaxman commented on #67
Searching labels? Issues? They don't seem to affect search as far as I can tell

You can do queries like `label:"type: feature" -label:"team: x"` if you're referring to there being a space in the label names

[2015-04-07 18:36] derrickreimer commented on #70
@beaugunderson sorry for the delay. We are airing on the side of caution here by only allowing the owner to add repos, since we rely on the owner's credentials to install the webhook and that user needs admin-level permissions on GitHub side. I suppose we could still allow others to link repos as long as the owner also has admin access to them without too much re-architecture -- I'll take a closer

[2015-04-07 19:08] aseemk commented on #67
Ah, you answered my q: have to quote the label name (not just bc of the space, but also the colon).

[2015-04-08 19:10] beaugunderson commented on #70
cool, that makes sense--I think we can live with that (linking new repos doesn't happen very often) but would be good to describe that limitation on that page to avoid confusion. :)

cc @madprime

[2015-04-17 08:42] jasny opened #75 "Use webhook to listen to changes"
When we update an issue on GitHub, the change doesn't appear in codetree. You need to manually refresh first. This gives rise to major miscommunication and the blood baths that follow.

If I look at the repository settings, I see that there are webhooks in place, but they don't seem to do anything.

[2015-04-17 08:46] jasny opened #76 "Bulk actions"
It would be great if you could do bulk actions in codetree, just like in GitHub.

You should be able to select a number of issues and add a label, close them, assign them or put them in a milestone.

:100:

[2015-04-17 08:48] jasny commented on #39
I think this has been implemented.. right?

[2015-04-17 08:48] jasny commented on #68
:+1:

[2015-04-17 16:19] derrickreimer commented on #75
@jasny we actually listen for as many events as GitHub sends via webhooks. Unfortunately, GitHub does not send events when for some common updates:
- Update title
- Update body
- Update milestone assignment

(see https://developer.github.com/v3/activity/events/types/#issuesevent)

I'm currently lobbying them to send more, but for now we have to fallback to manual polling for these changes.

[2015-04-17 16:19] #75 closed, assigned to ac21

[2015-04-17 16:22] derrickreimer commented on #39
@jasny not yet. The "Sync My GitHub Data" triggers a manual refresh of the currently logged in user's data (most importantly, their repository permissions).

[2015-04-17 16:32] derrickreimer commented on #76
:+1:

[2015-04-17 23:44] wanderingmatt opened #77 "Closing an issue via the task board should remove priority order"

[2015-04-17 23:46] derrickreimer commented on #77
I'd have to agree here. I'm often going back through and "removing from priority order" in my projects.

[2015-04-20 01:24] #77 closed, assigned to nobody

[2015-04-20 01:25] derrickreimer commented on #77
@WanderingMatt should behave this way now

[2015-04-22 20:17] kellyrmilligan opened #78 "Search by issue number"

[2015-04-22 20:18] kellyrmilligan opened #79 "Incomplete search results"

[2015-04-22 20:18] JohnLemberger commented on #78
+1

[2015-04-22 21:32] derrickreimer commented on #78
:+1:

[2015-04-28 11:09] anthillape opened #80 "Additive custom stage sticky labels"
There are situations where I would like to have two custom stages, for example 'sprint 2' and 'in progress'. When I am sprint planning I want to put some issues into the 'sprint 2' column, then while they are in 'in progress' or 'done' I want them to retain the 'sprint 2' label, however when I drag from 'sprint 2' to 'in progress' the issue disappears from codetree.

I think this is due to codetre

[2015-05-04 13:49] JohnLemberger commented on #79
The search problems appear to go deeper than the title on this issue.  For instance, we have multiple issues with "app" in both the title and descriptions, yet only one of them is returned when searching for "app".

[2015-05-04 14:04] derrickreimer commented on #79
I will look into this!

[2015-05-04 19:14] chrisocast commented on #50
+1 This is a serious issue for new projects/milestones where all columns are empty.

[2015-05-13 04:25] derrickreimer commented on #79
@kellyrmilligan @JohnLemberger are you guys still experiencing search inconsistencies? Reproducing this is proving difficult, I'm afraid. Will definitely keep digging though if the problem is persisting.

[2015-05-13 04:43] derrickreimer commented on #66
Duplicate of #48

[2015-05-13 04:43] #66 closed, assigned to ac21

[2015-05-13 15:37] kellyrmilligan commented on #79
still seeing this. looking at it again, I am filtered to a task board, a milestone, and assigned to me. I searched for a word in the title of the issue, and got no results, capitalized or not.

[2015-05-13 15:38] derrickreimer commented on #79
Thanks -- I'll try that route to see if filters are interfering.

[2015-05-18 15:17] derrickreimer commented on #52
At last, the global task board layout has shipped! You can now toggle any view between list and task board. The one kicker is that sorting within columns is only available when the task board is filtered down by a specific assignee or milestone (depending on the prioritization method you chose for your project). Big announcement coming in the next few days for this feature.

[2015-05-18 15:17] #52 closed, assigned to nobody

[2015-05-18 15:20] ajwaxman commented on #52
:clap: :clap:

[2015-05-20 10:31] slickrick1983 opened #81 "Unable to sync delete Milestones"
I have delete all milestones through Github, as I wasn't able to delete it through CT ref #25, but it wont update. Deleted Milestones remain visible.

[2015-05-20 16:24] derrickreimer commented on #81
Thanks Rick, I'll look into whats happening here. I think the best solution
will be for me to expedite issue #25 - it's too cumbersome to have to go to
each repo to delete the milestone when you have a lot of repos anyhow.
Thanks for your patience, I'll keep you in the loop.

On Wed, May 20, 2015 at 3:31 AM, slickrick1983 notifications@github.com
wrote:

##

Derrick

[2015-05-21 08:27] slickrick1983 commented on #81
Tnx Derrick. Yea we have about 20 repo’s or so. So that’s a hussle. Same as label management L

We need to change that though Github in each respective repo as well.

KRs Rick

Van: Derrick Reimer [mailto:notifications@github.com]
Verzonden: woensdag 20 mei 2015 18:25
Aan: codetree/feedback
CC: slickrick1983
Onderwerp: Re: [feedback] Unable to sync delete Milestones (#81)

Thanks Rick, I'll look i

[2015-05-25 17:19] #78 closed, assigned to derrickreimer

[2015-05-25 17:23] derrickreimer commented on #78
This is live. To search by issue number, enter a search query in the following form: `#123`

[2015-05-25 17:29] JohnLemberger commented on #79
Here's another specific case:

Issue title: "edit profile item"    (no it isn't very descriptive, is it)
Issue description contains the word "edit" but neither "profile" nor "item"

Search for "edit" works.  Search for "item" works.

Search for "profile" returns no results.

[2015-05-25 17:37] derrickreimer commented on #79
Ah that's interesting. So it appears our Elastic Search configuration might need to be adjusted. This is a good data point, thanks John.

[2015-05-25 17:54] derrickreimer commented on #25
Deployed!

[2015-05-25 17:54] #25 closed, assigned to mereimer

[2015-05-25 17:55] derrickreimer commented on #81
Deleting milestones in CT has been deployed!

[2015-05-25 17:55] #81 closed, assigned to rapidnoodle

[2015-05-25 18:18] #10 closed, assigned to derrickreimer

[2015-06-02 17:21] derrickreimer commented on #79
Examples
- Drip issue 902 is not showing up in search results
- Drip issue 448 for term "segment" or "segments", but is showing up for "bulk"

[2015-06-03 13:11] slickrick1983 opened #82 "Manage labels - feature request"
Currently codetree doesnt allow you to add the same labels accross repo's.
I would like a screen similar to the milestone screen were I can manage the labels accross repo's

[2015-06-03 14:40] rinopo commented on #82
+1

[2015-06-03 15:57] derrickreimer commented on #68
Also requested by @slickrick1983 @rinopo

[2015-06-03 15:58] derrickreimer commented on #82
Thanks gents. cc'd you on the original label management issue.

Duplicate of #68

[2015-06-03 15:58] #82 closed, assigned to rapidnoodle

[2015-06-03 15:58] derrickreimer commented on #68
From @slickrick1983:

[2015-06-03 16:22] derrickreimer opened #83 "Prompt for info when performing ambiguous operations"
For example, on an unfiltered board, dragging from "Backlog" to "To Do" is ambiguous, because we can't guess which milestone/assignee should be applied in order to make the issue stay in the "To Do" column. We should throw up a prompt to answer that question instead of flat rejecting the move operation.

/cc @irvincee @chufucious

[2015-06-05 16:57] derrickreimer opened #84 "Option to show closed pull requests in the Done column"
From customer:

[2015-06-05 19:35] shaneog opened #85 "Assignee menu cutoff in stage with few issues"
When the number of issues in a column/swimlane/stage is low, the assignee dropdown menu gets cut off.

I'm using Firefox 40 (Dev channel) on OS X Yosemite.

![single-issue](https://cloud.githubusercontent.com/assets/130415/8013495/14a1777c-0ba0-11e5-92a2-985c607c134e.png)

[2015-06-06 00:30] derrickreimer commented on #85
Thanks @shaneog - tracking this on #50.

[2015-06-06 00:30] #85 closed, assigned to nobody

[2015-06-06 00:31] derrickreimer commented on #50
Also filed by @shaneog

[2015-06-06 00:37] derrickreimer commented on #13
Closing for now

[2015-06-06 00:37] #13 closed, assigned to ac21

[2015-06-08 20:33] ajwaxman opened #86 "Task board is not properly showing issues that have 2 labels related to custom stages"
I currently have a task board created that has [2 custom stages](http://cl.ly/bYNR). The first custom stage (`Sprint`), has the "Keep label when stage is changed" option turned on. When I drag an issue from the `Sprint` column to the `Checked Out` column, the issue disappears from the task board:

![](http://g.recordit.co/Avs4vSBGAI.gif)

This bug looks similar to https://github.com/codetree/feedb

[2015-06-08 20:37] derrickreimer commented on #86
Thanks, this should not be happening. When you drag it to the Checked out column, is the `status: checked out` label applied to the issue?

[2015-06-08 20:39] ajwaxman commented on #86
Yep! The `status: checked out` label is applied and the `status: in sprint` label is left alone (as expected). Seems to be an issue in how the UI is deciding which issues to show for that column

[2015-06-08 20:41] derrickreimer commented on #86
Great, I'll get this fixed!

[2015-06-08 20:41] ajwaxman commented on #86
Thanks!

[2015-06-10 05:44] #86 closed, assigned to derrickreimer

[2015-06-10 05:45] derrickreimer commented on #86
Alright, this one should be fixed now.

[2015-06-12 00:01] ajwaxman commented on #86
Thanks! Working on our end :+1:

[2015-06-19 05:00] derrickreimer commented on #79
It looks like this was a result of not enough search hits being fetched. I've increased the threshold to remedy this, but will continue adjusting/optimizing moving forward.

[2015-06-19 05:00] #79 closed, assigned to derrickreimer

[2015-06-19 05:01] derrickreimer commented on #11
On hold for now.

[2015-06-19 05:09] derrickreimer commented on #35
In the interest of simplicity, I've made sure that we are explicitly ordering projects alphabetically in the project quick selector and on the My Projects page.

[2015-06-19 05:09] #35 closed, assigned to nobody

[2015-06-19 05:10] #29 closed, assigned to rapidnoodle

[2015-06-19 05:15] #23 closed, assigned to ac21

[2015-06-19 05:16] #70 closed, assigned to derrickreimer

[2015-06-22 17:24] shaneog opened #87 "Ability to define items per page (pagination)"
It would be good to be able to define the number of items shown per page so that people with larger monitors can show more items on one page.

[2015-06-23 22:49] mwbrooks opened #88 "Add Milestone Deadline Support"
The most compelling feature of Codetree is the ability to group multiple repositories under one issue tracker interface. I absolutely love that I can mirror milestones across projects seamlessly. However, it becomes tedious to set each project milestone's deadline. It would be nice if this was an option under _Milestone Settings_.

![screen shot 2015-06-23 at 3 48 37 pm](https://cloud.githubuserco

[2015-06-23 22:50] mwbrooks opened #89 "Add Milestone Description Support"
Similar to #88, a great addition would be the synchronization of the milestone description under the _Milestone Settings_ section.

![screen shot 2015-06-23 at 3 48 37 pm](https://cloud.githubusercontent.com/assets/21328/8319081/9c2359c2-19bf-11e5-93d0-99feeb9c00cc.png)

[2015-06-23 22:50] derrickreimer commented on #88
:+1: Should be able to knock this out fairly quickly - will keep you in the loop!

[2015-06-23 22:51] mwbrooks commented on #88
Awesome man, let me know if I can provide any other feedback!

[2015-06-26 18:09] derrickreimer opened #90 "Show pull request statuses"
- [ ] Consume the `status` event, flag related pull requests
- [ ] Add a `commit_status` column to `remote_pull_requests`
- [ ] Cache `commit_status` on `remote_issues`?
- [ ] Add pull request sync to refresh method?

[2015-06-29 05:29] #68 closed, assigned to derrickreimer

[2015-06-29 05:30] derrickreimer commented on #68
First pass at this is live in all projects :star:

[2015-06-29 05:34] rinopo commented on #68
Wow, so nice!

[2015-06-29 05:35] derrickreimer commented on #68
Thanks!

[2015-06-30 05:20] rinopo commented on #68
Would it be possible also to delete a label  from within Codetree from all the repos in a project?

[2015-06-30 05:27] jasny opened #91 "Delete label in all repositories"
It would be nice is you could also delete a label in all repositories through the manage labels interface (#68).

[2015-06-30 15:51] derrickreimer commented on #91
:+1: this is coming soon - ran out of time in my last sprint to get that in :)

[2015-06-30 15:51] derrickreimer commented on #68
@rinopo yes, tracking this here #91

[2015-07-03 22:24] #91 closed, assigned to nobody

[2015-07-03 22:24] derrickreimer commented on #91
This one is live

[2015-07-03 22:25] derrickreimer commented on #68
Label deletion is now live

[2015-07-04 05:47] #89 closed, assigned to derrickreimer

[2015-07-04 05:48] derrickreimer commented on #89
:shipit: :fireworks:

[2015-07-06 15:43] #90 closed, assigned to derrickreimer

[2015-07-06 17:17] mwbrooks commented on #89
Awesome @djreimer, thanks!

[2015-07-08 23:52] dbachelder opened #92 "assignee list cut off in task board"
![screen shot 2015-07-08 at 4 51 16 pm](https://cloud.githubusercontent.com/assets/325706/8585035/be974da0-2591-11e5-8219-196bedc7d4c7.png)

[2015-07-11 20:26] derrickreimer commented on #92
Thanks - tracking this one here: #50. Sorry for the inconveniece here, this one is nearing the top of my queue now :).

[2015-07-11 20:26] #92 closed, assigned to derrickreimer

[2015-07-13 15:32] derrickreimer opened #93 "Recognize issue references from titles"

[2015-07-13 20:01] jwpeddle commented on #39
I just got burned by this while trying to demo the needs/blocking functionality. I thought I was using the wrong word, but I guess the ticket just hasn't updated yet. I looked for a way to force sync, but found no such option.

[2015-07-13 20:02] derrickreimer commented on #39
Bummer, sorry about that @jwpeddle

[2015-07-14 01:56] #93 closed, assigned to derrickreimer

[2015-07-14 02:07] #80 closed, assigned to nobody

[2015-07-14 18:03] andrewborstein opened #94 "Pull requests detached from issues, behaving like unique cards"
While viewing `Issues` in the `Task Board` view, sometimes a PR will appear in two places (cards):
1. attached to its associated issue
2. floating on its own, as if it's an issue
## PR #2917

![screen shot 2015-07-14 at 1 40 36 pm](https://cloud.githubusercontent.com/assets/7654254/8680312/9c27a1ec-2a2e-11e5-948b-e185efe51d3a.png)
## PR #2928

![screen shot 2015-07-14 at 1 41 58 pm](https://cloud.

[2015-07-14 20:52] derrickreimer commented on #94
Hi @andrewborstein! This will happen when both the pull request and the original issue is marked with a stage label (in this case "ready for qa"). We show PRs in the intermediate stages because some folks prefer to move their pull requests through stages, while others just move the original issue through the stages (and leave the PR without stage labels).

In your case, it looks like it might be a

[2015-07-14 21:41] andrewborstein commented on #94
Oh, interesting. Ok, that makes sense. I guess I thought the views on the lefthand side might change the way things are **grouped**, not just what's visible.

For example, it would be _awesome_ to have the option to _always_ group things together in one of a few ways:
- a) Issue card with PRs attached below
- b) PR card with issues attached below

It seems like only **a** is possible right now, wh

[2015-07-15 14:56] edwinv opened #95 "New issue contents lost when waiting too long"
1. Start adding a "New Issue" in the CodeTree UI and fill in some fields
2. Wait until other events refresh the tickets in the background
3. The issue form will be emptied, resulting in a loss of data

We have diverted to Github for adding issues, but losing a description of a new issue is very frustrating.

[2015-07-15 14:57] derrickreimer commented on #95
Wow, really sorry about that. :disappointed: This should not be happening. I will investigate.

[2015-07-15 16:20] dphaener commented on #88
:+1: on this

[2015-07-17 11:40] edwinv opened #96 "Overflow in card causing horizontal scroll"
![codetree](https://cloud.githubusercontent.com/assets/563294/8746423/529b9558-2c89-11e5-8f95-b1dc6d0750b7.png)

When an issue has a long description without spaces, the content is the card is extended over its borders. This causes a horizontal scrollbar to appear in the list.

[2015-07-17 15:33] derrickreimer commented on #96
Eww, I'll address this soon. Thanks @edwinv

[2015-07-18 17:50] #96 closed, assigned to derrickreimer

[2015-07-18 20:57] derrickreimer commented on #95
@edwinv just deployed something that should prevent this from happening. As you populate the new issue form, we now cache the form contents in local storage will rehydrate the form when the modal is brought back up, page refreshed, etc. This behavior is similar to the GitHub comment form, which auto-saves your draft.

[2015-07-18 20:57] #95 closed, assigned to nobody

[2015-07-21 16:47] dphaener opened #97 "CSS issue on task board view"
See attached, the dropdown for assigning the issue to someone has a display problem. Looks like it's not a simple z-index fix unfortunately. :)

<img width="310" alt="screen shot 2015-07-21 at 9 41 32 am" src="https://cloud.githubusercontent.com/assets/5187971/8806738/e8b3cea6-2f8c-11e5-94a3-61f37cb5dcea.png">

[2015-07-21 16:48] derrickreimer commented on #97
Thanks - tracking this one here: #50

[2015-07-21 16:48] #97 closed, assigned to nobody

[2015-07-23 11:45] Dieterbe opened #98 "given milestone to ticket, doesn't show up under proper milestone"
our grafana repo has milestones like 0.17 and 0.16
those tickets show up fine in the right place.
however the board also shows tickets from another repo called customer-experience.
so i opened an existing ticket of the custom-experience repo and gave it milestone 0.17

it didn't show up in codetree list view under the proper milestone, but it does show up on the board.
this is after explicitly syn

[2015-07-23 14:59] derrickreimer commented on #98
Hey @Dieterbe, did you apply the milestone on the GitHub side? Unfortunately, GitHub does not send us a webhook when a milestone is applied to an issue or an issue title is updated. We have to fallback to periodically polling GitHub to propagate these changes back to Codetree.

At current time, the "Sync My GitHub Data" refreshes your permissions, owned repositories, etc. but does not perform full

[2015-07-23 17:26] Dieterbe commented on #98
yes, github side.  now it works properly indeed, in both list and taskboard view.
i wasn't aware you could change milestone in codetree. so what are the changes we should make in codetree as opposed to GH if we want the changes to sync immediately? just milestones or also assignee, tags, ... ?
i'm quite interested in the issue editing interface in codetree because that workflow seems a bit clunky

[2015-07-23 17:29] derrickreimer commented on #98
Just milestones - assignee and label updates propagate back to Codetree via webhooks almost instantly. Milestones can be applied in Codetree in the list view by clicking the milestone name on any given issue. I'll be sure to push out a big announcement when the full editing interface is available!

[2015-07-23 17:29] #98 closed, assigned to nobody

[2015-07-24 16:09] Dieterbe opened #99 "Fix "unanswered" filter for mixed-case usernames"
somebody said "Thanks @Dieterbe" on a ticket in github (in a repository that is included in the board)
yet it doesn't show up in the "unanswered by me" filter.

[2015-07-24 16:10] Dieterbe commented on #99
same thing after i explicitly sync github.

[2015-07-24 16:30] derrickreimer commented on #99
Mind sharing the repo name and issue number? You can email it to me if you'd prefer not to post it on a public forum. I can check to see if the interaction was somehow missed.

[2015-07-24 16:39] Dieterbe commented on #99
the ticket has since been closed, but it was https://github.com/raintank/grafana/issues/299

actually i also just noticed there's a different 12 hour old, open ticket that i haven't gotten back to yet:
https://github.com/raintank/grafana/issues/295
it also doesn't show up :(

[2015-07-24 16:40] Dieterbe commented on #3
+1 yes please.
it would be a great fit for drag 'n drop

[2015-07-24 16:43] derrickreimer commented on #99
Ah! I think it know what's happening. We downcase usernames when storing interactions, but the filter is performing a case-sensitive query on your username "Dieterbe". This is a bug - will push out a fix soon.

For now, this should do the trick: https://codetree.com/projects/mNzg/issues?type=&unanswered=dieterbe

[2015-07-24 16:48] Dieterbe commented on #99
workaround works!

[2015-07-24 17:14] Dieterbe opened #100 ""mark as answered" for "unanswered" filter?"
it would be nice for tickets where people say stuff like "ok good idea @Dieterbe".  I don't really have anything to say to that. I just want to see that comment once and then never have that highlight be considered as "unanswered". I guess for now I could just reply "ok" or "cool" or something

[2015-07-24 17:20] Dieterbe commented on #99
also confirmed that a new highlight shows up instantly (i checked about 50s later), without needing to do a manual sync

[2015-07-24 17:23] Dieterbe opened #101 "roadmap?"
just curious, what's ahead for codetree?

https://github.com/codetree/feedback/milestones doesn't say much.

[2015-07-24 17:29] Dieterbe opened #102 "analytics? burndown charts? cycle times?"
although I don't feel strongly on this yet (and i'm curious what others think) it seems useful to have:
- cycle time for each ticket (time between work on it starting and finishing, time spent in each lane), which were the fast, which were the slow tickets
- burndown charts

[2015-07-24 17:41] Dieterbe opened #103 "issue incorrectly showing up under "unanswered""
I have an issue showing up under "unanswered by `dieterbe`" even though no-one highlighted me after I last commented.

https://github.com/raintank/grafana/issues/91

[2015-07-25 23:46] #99 closed, assigned to derrickreimer

[2015-07-25 23:46] derrickreimer commented on #99
@Dieterbe This should be all fixed up now.

[2015-07-25 23:47] derrickreimer commented on #103
Along with #99, this should be fixed as well.

[2015-07-26 11:55] Dieterbe commented on #103
confirmed :)

[2015-07-26 12:10] Dieterbe opened #104 "can't add new users?"
![not-found](https://cloud.githubusercontent.com/assets/20774/8893802/04292f98-33a0-11e5-84c5-5de4f3c32c03.png)
user definitely exists? https://github.com/nopzor1200

[2015-07-26 12:11] Dieterbe commented on #104
oh i guess i was too quickly. i had to use username.
this was a bit unexpected, most other tools use email address.

[2015-07-26 12:11] #104 closed, assigned to nobody

[2015-07-26 12:22] Dieterbe commented on #100
playing with unanswered filter a bit more, i noticed a lot of the comments are of the form "i was discussing this with @username",  "thanks for raising this issue @username". those don't really require anything extra to be said and it's a bit annoying they keep showing up in unanswered filter until i say something.  not sure what's an elegant solution though.

[2015-07-26 12:44] Dieterbe opened #105 "adding linked repositories is clunky"
my org on GH has 25 repositories.
I think for our initial (and perhaps final) approach I think it makes most sense to just put all our repos into 1 board (maybe with the exception of 1 or 2 repos). We're only a small team of 8-ish working on a variety of issues that span many different repo's but ultimately all serve the same product and goal. (if anyone can comment and why this approach wouldn't

[2015-07-27 12:07] Dieterbe opened #106 "Recognize full GH urls when parsing out relationships"
I have a ticket that depends on a ticket in another repo.
my workflow is as follows:
- add comment stating `needs https://github.com/raintank/ops/issues/40`
- note i just copy-pasted in the url, which is super easy because:
- github auto turns this into a link so that the message is `needs raintank/ops#40` (the latter being link)

unfortunately codetree doesn't seem to recognize the needs relation

[2015-07-27 16:52] derrickreimer commented on #106
Interesting, I was not aware that GitHub auto converts full URLs to the `user/repo#xxx` format and recognizes it as a reference. I can add support for this in Codetree soon.

For now, you need to reference it like this for cross repo dependencies to be picked up by CT: `needs raintank/ops#40`.

[2015-07-27 16:55] derrickreimer commented on #100
I'll give this one some thought. Finding the simple, elegant solution for this is the tricky part.

[2015-07-27 18:06] Dieterbe opened #107 "my coworkers are not getting their invites?"
confirmed by @ctdk, @bulletfactory and @mattttt

[2015-07-27 18:10] derrickreimer commented on #107
They just need to log in to Codetree to access the project. It is probably time to add automated invite notification emails.

[2015-07-27 18:10] #107 closed, assigned to nobody

[2015-07-28 04:26] moodonis opened #108 "Request: "Create Another" button"
When filing many issues, it would be helpful to have a "Create Another" button that creates the issue that you're working on, but pops up another modal window with a blank title and body.

Repo information, assignee, priority and milestone can be inherited.

[2015-07-28 08:38] Dieterbe commented on #103
this is happening again.
this time https://github.com/raintank/grafana/issues/327 shows up in my answered despite me being the last person to comment

[2015-07-28 14:18] derrickreimer commented on #103
Hmmm. I just looked in the database and I'm showing that a comment came in with GH ID #125363185 at 2015-07-27 22:15:39 UTC from @mattttt that mentioned you, but there appears to be no trace of it now. I'm thinking it must have been deleted. Can you check to see if you got a GitHub notification email for that missing comment?

[2015-07-28 15:30] derrickreimer commented on #108
Hi @moodonis! This should actually be the default behavior right now - the modal is supposed to clear but stay open after creating an issue in Codetree. Is this not happening for you? If not, could you tell me which browser + OS you are using?

[2015-07-28 15:35] Dieterbe commented on #103
oh i think @mattttt deleted that comment afterwards. there was a notification indeed

[2015-07-28 16:39] Dieterbe opened #109 "indicate that a ticket has an unanswered item"
i have a bunch of tickets where i asked people something like "hey @$nickname how do i/can you/..."
the unanswered filter is nice and we rely on it and ask everyone to respond at least daily to all tickets they have in their unanswered filter.

but when i look at my ticket overview in my kanban board and i see 5 tickets in my "in progress lane", and 3 of them are waiting for other people's respons

[2015-07-28 16:43] Dieterbe opened #110 "tickets jump back when trying to move into a lane"
in the kanban board, when i try to move a ticket from backlog to to-do, it keeps jumping back :?

[2015-07-28 16:47] derrickreimer commented on #110
The reason for this is that is an ambiguous operation. Issues belong in the To Do column once they have a milestone, but when dragging into the To Do column when the board is not filtered down to one milestone we are unable to infer which milestone to apply to the issue.

The solution for now: filter by the milestone you'd like the issue to fall under first, then drag from Backlog into To Do and w

[2015-07-28 16:47] #110 closed, assigned to nobody

[2015-07-28 19:51] Dieterbe commented on #110
that would be great

[2015-07-28 23:04] moodonis commented on #108
@djreimer this actually does work as intended. It's just not obvious it does that until you actually create an issue. I'm using Safari latest on OSX 10.10.3

[2015-07-28 23:04] #108 closed, assigned to nobody

[2015-07-29 15:55] derrickreimer commented on #103
Ok, I'm going to close this one for now since it's a super edge case. Cases like this will be handled by whatever mechanism we come up with for "marking as answered".

[2015-07-29 15:55] #103 closed, assigned to nobody

[2015-07-29 17:51] robchandhok opened #111 "Add milestone board to help manage top level tasks"
One thing we are missing as we try codetree is a top level view of our milestones, which we used to keep in another board-ish app.  Since codetree already has the ability to annotate milestones with ordering, if you could add attributes to milestones in codetree and use them for backlog/active/etc. it would be very powerful.

[2015-07-29 17:54] robchandhok opened #112 "bug: need to trim whitespace when entering git usernames"
When you add someone to your organization, codetree doesn't trim whitespace so the add fails for something not visible.

[2015-07-30 03:57] #112 closed, assigned to derrickreimer

[2015-07-30 04:24] derrickreimer commented on #111
@robchandhok this is an interesting idea. To clarify, you'd like to have a board that has one column per milestone? Could you explain a bit more about the "add attributes to milestones" part?

[2015-07-30 19:35] robchandhok commented on #111
No, it's more than that.  Consider issues.  With codetree I can layer things like "active" or other states on issues.  I would like to do the same thing for milestones - show them progress with more information than "open" or "closed"  Imagine a "task board" view of milestones instead of just a list.

Also would like to be able to see/edit the milestone description in that view.

This would be mag

[2015-07-31 15:56] Dieterbe opened #113 "same ticket shown twice?"
![duplicate-codetree](https://cloud.githubusercontent.com/assets/20774/9011403/609a8702-37ad-11e5-9132-45c1e8b9946e.png)

[2015-07-31 16:52] jamesraby opened #114 "Add assignee to custom stage"
Would love to have ability to have stages for assignees vs just labels.

This way - we can balance issues easily amongst the team.

Great product by the way.

[2015-08-01 21:06] #88 closed, assigned to derrickreimer

[2015-08-01 22:37] #106 closed, assigned to derrickreimer

[2015-08-01 22:41] derrickreimer commented on #88
![image](https://cloud.githubusercontent.com/assets/341387/9023844/c2703ef2-3863-11e5-9bd8-a191bb2e2723.png)

[2015-08-01 22:45] derrickreimer commented on #113
Likely was a blip in the infinite scroll loading - seems to not be consistently showing dups.

[2015-08-01 22:45] #113 closed, assigned to ac21

[2015-08-01 22:46] derrickreimer commented on #106
This one should be fixed :+1:

[2015-08-01 22:48] derrickreimer opened #115 "Exclude already added repos from the selector"
Addresses part of #105

[2015-08-01 23:11] #115 closed, assigned to derrickreimer

[2015-08-03 21:21] rsyring opened #116 "Declare dependency to parent from child issue."
Currently codetree supports adding "needs ####" to indicate that a parent issue will get blocked by a child issue.  I'd also like to see support added for the reverse, being able to declare "needed-by ####" on the child issue and then referencing the parent.

This permits one to create a new issue and setup the dependency without having to go and edit the parent.  It requires only one step (create

[2015-08-03 21:24] rsyring opened #117 "Setup issue dependencies using "blocks ####" as well as "needs ####""
Basically, just allow both setups of terminology.  I've used "blocks" terminology in lots of other project management systems and it seems more intuitive to "needs" IMO.

If you accept #116, then you'd also want to support "blocked-by ####".

[2015-08-03 21:26] rsyring opened #118 "UI support for creating issue dependencies"
It would be very nice to be able to create issue dependencies through the UI, i.e. without having to go to GitHub and comment on the issue.  We have "milestone goal" issues and every issue has to be related to a goal in order to show that it fits with the goals of the milestone.  So cutting down on the number of steps needed to link issues would be a huge help.

Thanks.

[2015-08-03 21:31] rsyring opened #119 "Adding Credit Card screen could give better feedback"
When adding a credit card, the UI seemed to hang for about 10 secs.  I believe the button dimmed, but I wondered if the transaction was going through.  It eventually did, but some kind of "in progress" UI notification would have eased my fears.  :)

[2015-08-03 21:34] rsyring opened #120 "Members "add user" button gets stuck dimmed"
Screen: Organization -> Members

If you add an unknown user, the "Add User" button dims and changes text.  If the operation fails, because the user is unknown, nothing was entered, etc., then an error message is shown but the button is never refreshed so it can be used again.

[2015-08-03 21:34] derrickreimer commented on #120
Sorry about that, I will investigate!

[2015-08-03 21:34] derrickreimer commented on #119
:+1:

[2015-08-03 21:35] derrickreimer commented on #118
Related #31

[2015-08-03 21:42] rsyring commented on #117
Just documenting this since I found it in another issue.  Are there docs for codetree anywhere?

[2015-08-03 22:03] robchandhok opened #121 "Renaming milestone removes ordering information"
When you rename a milestone in codetree, it drops to the bottom of the list.  It appears to totally lose it's priority order.

[2015-08-04 05:21] #120 closed, assigned to derrickreimer

[2015-08-04 14:49] #119 closed, assigned to nobody

[2015-08-04 15:30] derrickreimer commented on #117
We have some official docs in the works, but not live at this point.

[2015-08-04 22:36] robchandhok opened #122 "Issues and milestones should be top level in side bar"
There's an inconsistency in the wasy you move from Issues to Milestones.  I think it's too hard to flip, and would appreciate "milestones" and "issues" always being the top level rather than a pull down.  Also in the milestones view the option "milestones _is_ in the sidebar.

anyway needs a tiny bit of dusting.

[2015-08-05 04:22] derrickreimer commented on #122
Yes I'd have to agree that a little reorganization is in order. The milestones (and labels) pages have become more feature-rich over time and deserve better placement.

[2015-08-05 19:40] robchandhok opened #123 "Changing an issue in a search result view should redo the search"
Reproduce:
- search for an issue from all issues view
- one comes up, catagorized as "no milestone"
- assign to a different milestone
- window updates to an empty list
- reload page, correctly comes back in the frame for that milestone

[2015-08-06 01:59] derrickreimer opened #124 "Help Scout integration"
Parse out Help Scout links in issues and list in the "references" area.

[2015-08-06 03:10] derrickreimer commented on #123
Ah, yes. The issue will move properly if the it's destination group is already showing on the page, but will not otherwise.

[2015-08-06 17:02] derrickreimer commented on #83
Notify https://secure.helpscout.net/conversation/103800004/249/

[2015-08-08 19:29] #122 closed, assigned to derrickreimer

[2015-08-08 19:29] derrickreimer commented on #122
Shipped! :tada:

[2015-08-08 19:55] robchandhok commented on #122
Very cool!

you might want to tweak the pulldown menu, it always says “issues”.  or remove it  and   pye proc settings somewhere else.

[2015-08-10 19:12] derrickreimer commented on #11
Needs codetree/codetree#400

[2015-08-12 14:02] robchandhok opened #125 "New shortcut creation doesn't update display"
When you add a new shortcut (save a filter) after you click the "save" button the display doesn't update.  so you think you haven't created one, so you click again.  Etc.  if you go to another page you see that all of the "save" events worked and you have multiple shortcuts.

[2015-08-12 14:50] #125 closed, assigned to derrickreimer

[2015-08-14 19:47] derrickreimer opened #126 "Themes"
Requested here: https://secure.helpscout.net/conversation/112276262/285/

[2015-08-17 17:01] derrickreimer opened #127 "Export to CSV"
Requested by https://secure.helpscout.net/conversation/112309783/286/

[2015-08-18 17:44] peritpatrio commented on #39
+1

[2015-08-19 09:38] Dieterbe opened #128 ""unanswered by" also for comments on commits, not just issues?"
because i often comment on commits that people push if something doesn't seem right.
and i would like a way to assure they respond to it at some point.
creating an issue for a comment seems a bit overkill.

[2015-08-19 20:53] mrenvoize commented on #39
+1.. or just stay in sync ;)

[2015-08-19 20:59] derrickreimer commented on #39
@peritpatrio @mrenvoize thanks gents.

@mrenvoize - we do our best with what GitHub sends us in webhooks :). I've been lobbying them for quite some time to send webhooks when milestones are added to issues and when titles/bodies are updated.

[2015-08-19 21:08] derrickreimer commented on #128
I like the spirt of this. How are you envisioning representing this in your Codetree project without an issue? I suppose we could pull in commits with comments as "pseudo-issues"...

[2015-08-20 07:37] Dieterbe commented on #128
i only want them to show up as items in "unanswered by". i don't need it to be an issue/card that can be moved around on the kanban board. if you do want this, then i guess pseudo-issue would work, or having 2 classes of items that can each be a card.

[2015-08-22 03:40] #127 closed, assigned to derrickreimer

[2015-08-22 03:40] derrickreimer commented on #127
:tada:

<img width="429" alt="export" src="https://cloud.githubusercontent.com/assets/341387/9422349/d7f4506a-4844-11e5-926e-856a5f35e002.png">

[2015-08-22 03:47] djreimer commented on #11
Needs codetree/feedback#408

[2015-08-22 03:47] derrickreimer commented on #11
Needs codetree/codetree#408

[2015-08-24 13:50] mrenvoize commented on #39
It's a shame they don't support this then (I'd be interested to see how some other tools work.. I'm sure I didn't have this issue when using waffle.io).

Having a manual refresh would be a good interim measure though. Currently I can't actually tell if the big selling point for us actually works at all as the sync is so slow. (the 'needs' dependency handling).

[2015-08-24 14:01] mrenvoize commented on #116
+1

[2015-08-24 14:08] mrenvoize opened #129 "When are the dependency keyword tested for?"
I'm struggling to work out when a dependency keyword (like 'needs') is looked for..
- Is it only in new comments?
- Is it in edited comments?
- Does the milestone status make a difference?
- Does the milestone due date make a difference?

[2015-08-24 14:12] derrickreimer commented on #129
Hi Martin, sorry for the confusion. Dependencies will be picked up from the following places:
- In the body of a new issue (immediately)
- New comments (immediately)
- Edited issue body (within one hour)

I'm afraid we don't sweep up dependencies from _edited_ comments. GitHub doesn't send webhooks when comments are edited and it is very expensive (in terms of compute & rate limit) to constantly r

[2015-08-24 14:12] derrickreimer commented on #129
Also, milestone status/due date do not factor in to dependency tracking.

[2015-08-24 14:14] mrenvoize commented on #129
Cheers for the prompt reply @djreimer , that certainly make it much clearer for me :)

[2015-08-24 14:15] derrickreimer commented on #129
:beers:

[2015-08-24 14:15] #129 closed, assigned to nobody

[2015-08-25 15:21] joshtronic commented on #87
:+1:

[2015-08-25 22:38] mwbrooks commented on #88
Hey @djreimer, sorry about the slow response and thanks a bunch for this update! I especially like the _Multiple Deadline_ message when there are conflicts.

I've signed up as a paying customer. Cheers man!

[2015-08-25 22:41] derrickreimer commented on #88
:beers: cheers!

[2015-08-26 22:31] ajwaxman opened #130 "Ability to sum agile pts for a specific view"
The ability to add story points to issues (https://github.com/codetree/feedback/issues/18) has been helpful as we try to move our very manual google spreadsheet sprint process into a software solution like Codetree.

One enhancement to that feature that would be just as helpful for us is the ability to view total pts for the current view. So if the board is organized by Assignee with a specific la

[2015-08-26 22:34] ezra-g commented on #130
I work with @awaxman11 and wanted to reiterate that this capability would be helpful to making the case to use CodeTree more regularly internally.

[2015-08-26 22:52] derrickreimer commented on #130
@awaxman11 @ezra-g thanks gents. This is definitely doable. I'll try to get this knocked out soon for you. :+1:

[2015-08-26 22:54] ezra-g commented on #130
Wowza - Thanks for the fast response, @djreimer!

[2015-08-26 22:55] ajwaxman commented on #130
@djreimer thanks for the quick response!! :smiley:

[2015-08-31 02:28] derrickreimer commented on #130
All this is live except the combined total points (still pondering the best way to represent that in the UI). :thought_balloon:

[2015-08-31 02:28] #130 closed, assigned to derrickreimer

[2015-08-31 14:08] ajwaxman commented on #130
Thanks! :clap: :clap:

[2015-08-31 15:28] ezra-g commented on #130
Thanks! We'll get to testing soon :).

Ezra Barnett Gildesgame | http://ezra-g.com

On Mon, Aug 31, 2015 at 10:08 AM, Adam Waxman notifications@github.com
wrote:

[2015-09-04 14:17] ulgens commented on #69
If you didn't pay for the subscription, when you try to access project page, it redirects you to billing page. Because of this, accesing to issues page and deleting project is impossible.

[2015-09-04 16:22] nZac opened #131 "Global Shortcuts UI ambiguous"
I read through #48 and #66 was closed as a duplicate.

I am looking to create a global shortcut that is shared for the project/projects, is this possible, if so I am not sure how to do it. Thanks for any assistance.

[2015-09-04 16:56] derrickreimer commented on #131
Hey @nZac, sorry for the ambiguity - the thread on #48 did steer a bit off topic. We don't have the type of global shortcuts you are talking about, but we should be able to get this added soon. I will keep you in the loop :+1:

[2015-09-06 01:29] dphaener opened #132 "Drag and drop in task board view stops working"
On a few occasions (typically when I drag an issue from an area in the list that was below the fold, and there is scrolling involved while dragging up), the drag and drop feature in that column only stops working. When I initiate a drag and drop in another column, the drag and drop works again in that column.

[2015-09-09 06:59] Dieterbe opened #133 ""needs" links not detected"
1. in https://github.com/raintank/ops/issues/120 i put `needs #123` as a new comment
2. in https://github.com/raintank/ops/issues/78 and https://github.com/raintank/ops/issues/106 i put `needs #101` as a new comment. one of them also has some other text in the comment. edit: 101 has been closed, so maybe that's why the needs doesn't show, though i think they also didn't show before.
3. in https://

[2015-09-09 07:07] Dieterbe commented on #133
hmm now the first one showed up. it took about 15 minutes :(

[2015-09-09 17:16] derrickreimer commented on #133
@Dieterbe did they all show up eventually? Looks like our background message queue may have gotten a bit large when the delay happened. I've added additional capacity to mitigate this.

[2015-09-14 14:02] irvincee opened #134 "Request - Recent Activity tab"
Several of my team members create and close tickets in Codetree. I run into the problem of not knowing who created an issue and where in the taskboard the issue was filed (in progress, code review, etc.).

I find myself going to Github to identify who created the issue and, subsequently, the task board state (in progress, code review, etc.).

I'd like to request a "Recent Activity" tab feature tha

[2015-09-14 17:54] derrickreimer commented on #134
I like this :+1:

[2015-09-15 20:05] pzuraq opened #135 "Ability to filter assignee selection"
When trying to assign a user to an issue, if the relevant orgs are large there can be a huge amount of people to choose from. This means a _lot_ of scrolling. A simple regex filter at the top would really help this.

[2015-09-15 20:07] derrickreimer commented on #135
@pzuraq you're in luck! I have a (nearly complete) version of this feature that should deploy in the next few days. I've felt a similar pain.

[2015-09-15 20:07] pzuraq opened #136 "Assignee selection hidden by element overflow"
![image](https://cloud.githubusercontent.com/assets/685518/9888579/b4c53482-5baa-11e5-9234-8636fbd3a125.png)

[2015-09-15 20:07] pzuraq commented on #135
:smile:

[2015-09-21 09:45] Dieterbe commented on #133
i think so.
but now seeing this happen again.
needs relations not being updated in codetree ui :(

update: now they did show up, it just took a while

[2015-09-21 16:15] derrickreimer commented on #133
Ah, I believe I was able to reproduce this. I deployed a fix and resynced your project so that those prior references should appear now.

[2015-09-21 16:15] #133 closed, assigned to nobody

[2015-09-23 08:48] bdelv commented on #67
It is the main thing I am now missing from Jira Agile.
- The ability to have a different type of labels so to be able to easily create epics, components, and to visually dispatch from those epics to milestones and people.
- The ability to add information in the issues (which are really too basic in GitHub, and which is one of the main reasons to use Codetree)

Suggestion:
- Add a "custom type" com

[2015-09-23 16:51] derrickreimer commented on #67
Thanks @bdelv, solid suggestions here! This use case is definitely on the rise. We've begun to use the `type: value` convention in house as well.

[2015-09-28 10:44] jacobpierce commented on #136
:+1:

Does allow scrolling down to view it. It's particularly a problem when there are only 1-3 issues on a column.

![codetree-overflow](https://cloud.githubusercontent.com/assets/597902/10133580/21e43a38-65d6-11e5-8055-ef11a37c9b13.png)

[2015-09-29 14:49] ezra-g opened #137 "Make shortcuts available to all users in a project"
When I save a shortcut in CodeTree, I'd expect that shortcut to be available to all members of my CodeTree project, but right now shortcuts appear to be saved on a per-user basis.

The motivation for this request is that I'd like to setup filters for commonly used views (eg, issues with a particular label) so that anyone in my project can easily see those views without having to configure shortcut

[2015-09-29 14:49] ezra-g commented on #137
Oops - Duplicate of https://github.com/codetree/feedback/issues/48 .

[2015-09-29 14:49] #137 closed, assigned to rapidnoodle

[2015-09-29 14:52] ezra-g opened #138 "Issue title disappears after expanding to show pull request"
Per this animated gif. I'm using the latest version of Google Chrome ( 45.0.2454.101 (64-bit) on Mac OS 10.11 Beta.
![](http://g.recordit.co/Uz5T0Shm5y.gif)

[2015-09-29 15:02] ezra-g opened #139 "User's point total no longer updates"
It's great having the user's point total displayed at the top of the column. I've noticed that the column total takes 5 or more seconds to update after changing a single value. The teams I'm working with typically update point estimates during sprint planing, which is typically a time-sensitive with several people present, so having these kinds of interactions happen quickly would be particularly

[2015-09-29 15:08] ezra-g opened #140 "Consider adding a "User's capacity" field, display "remaining capacity""
I'm working with some teams where the sprint planning process includes assigning point estimates to a list of tasks and then assigning tasks to a user until she reaches her capacity. We currently use a spreadsheet to manage this process and it would be ideal to manage it within CodeTree. I think the simplest way of handling that, which would still provide a lot of value to us would be to have a si

[2015-10-01 14:43] dallasgutauckis commented on #135
Is this in place somewhere now or is this still pending release?

[2015-10-01 16:41] derrickreimer commented on #135
Still pending release - it got rolled into a larger feature that has a few blockers. Will keep this thread informed.

[2015-10-01 18:22] johanbillgren commented on #131
+1 for this request.

[2015-10-01 18:25] johanbillgren opened #141 "Update shortcut based on current filters"
As of now, if yo want to add a milestone to a shortcut filter, you need to create a new one, and then remove the old one.
It would be really helpful if you could simply update existing shortcuts to use the current filter.
(and thanks for a great Service)

[2015-10-01 18:26] johanbillgren opened #142 "Show repository on issues"
It would be really helpfull is a subtile label was placed on the issue in list view, that just presented the name of the repository.

[2015-10-02 16:30] derrickreimer commented on #141
:+1: thanks @johanbillgren!

[2015-10-02 17:06] derrickreimer commented on #142
This is actually an existing setting :tada:

![settings_ _codetree](https://cloud.githubusercontent.com/assets/341387/10252568/28c720c6-68ed-11e5-971d-1a869b6aee9d.png)

[2015-10-02 17:06] #142 closed, assigned to ac21

[2015-10-02 17:08] derrickreimer commented on #138
I've noticed this one as well...Chrome bug. Will see what I can do to hack around it, seems like we need to force a repaint after toggling.

[2015-10-05 09:29] jasny opened #143 "Unable to edit delete label with a question mark"
Naming a label 'foo?' causes issues. Labels with a question mark can't be edited or deleted through Codetree.

[2015-10-05 19:47] derrickreimer commented on #143
That's no good - will have a look

[2015-10-05 22:37] dallasgutauckis commented on #140
:+1:

[2015-10-11 21:39] jbt opened #144 "Repo picker in new issue modal isn't sorted logically"
It looks like it's sorted in reverse order of when the repos were added to the project. Would be great if it could be alphabetical or something because as soon as there's more than a few repos in there it's absolutely impossible to find anything.

[2015-10-11 21:41] derrickreimer commented on #144
:+1: thanks @jbt. I will fix this promptly.

A _major_ overhaul of the new issue form + a shiny new edit form is in progress. Stay tuned for that.

[2015-10-11 22:09] #144 closed, assigned to derrickreimer

[2015-10-12 19:44] jbt commented on #144
:+1: excellent stuff, much nicer now :)

[2015-10-13 18:16] cdaguerre opened #145 "Update issue description from CodeTree"
First of all, great job!
Only been playing around with Codetree for a couple a minutes and find it amazingly clean, powerful and simple. Been searching for this kind of app for a while.

The only problem for now, is that our product owners don't want to go to Github at all ;)

It seems there are only few features missing to allow non-github users to efficiently use codetree, ie.:
- view issue comm

[2015-10-15 16:21] mazesoul opened #146 "Display task list summary for issues and PRs"
It would be useful to display a task summary view in codetree list and board view.

The github native summary view support is detailed [here](https://github.com/blog/1375-task-lists-in-gfm-issues-pulls-comments)

[2015-10-15 16:42] derrickreimer commented on #146
:+1:

[2015-10-17 06:52] jeanfw commented on #33
:+1:

[2015-10-17 06:53] jeanfw commented on #3
+1, is this still planned? (since it is no longer in a milestone)

[2015-10-19 15:24] derrickreimer opened #147 "Size field not allowing digits on azerty keyboard"
https://secure.helpscout.net/conversation/131374742/351/

[2015-10-19 15:48] #138 closed, assigned to mereimer

[2015-10-19 16:07] Too-Funky commented on #33
:+1: Yeah it would be awesome if you could paste img, gif etc direct into the issue box (like on regular github issues)

[2015-10-19 16:10] Too-Funky opened #148 "Ability to preview markdown when creating a new issue"
After recently migrating to codetree i miss a few of the standard github issues features including ability to preview markdown and also the ability to paste attachments directly into the issue.

[2015-10-19 16:11] derrickreimer commented on #148
This is coming soon! A complete overhaul of the issue creation form is under development, as well as an editing interface for issues.

[2015-10-19 16:17] Too-Funky commented on #148
Awesome, looking forward to it!

[2015-10-19 19:11] ezra-g opened #149 ""Application Error" Page"
I'm getting long page load times or an "Application Error" at https://codetree.com/projects/1iG4/issues?labels=%2Cstatus%3A+in+sprint%2Cteam%3A+1 .

![https___codetree_com_projects_1ig4_issues_labels__2cstatus_3a_in_sprint_2cteam_3a_1](https://cloud.githubusercontent.com/assets/349595/10588357/ac58708c-7673-11e5-8a6c-a81faacd1530.jpg)

[2015-10-19 19:12] ezra-g opened #150 "Allow .5 points as a point value"
I'm working with teams who occasionally have small tasks and would like to be able to have 1/2 a point (.5) as a point value.

[2015-10-19 19:14] derrickreimer commented on #149
We are currently investigating an outage with an upstream provider. Updates here: http://status.codetree.com/

[2015-10-19 19:14] ezra-g commented on #149
Thanks!

[2015-10-19 19:23] ezra-g commented on #56
Big +1 on this. We have 3-4 teams sharing a repo and being able to combine `status: in sprint` with `team: 1` labels would be hugely valuable to us.

[2015-10-19 19:29] ezra-g commented on #56
To elaborate: While it's currently possible to filter by username for people within a particular sprint team, this still leaves the "unassigned" list of issues with issues that, under our label scheme, are irrelevant to the team. If we could combine our team and status labels, I believe we'd be able to start adopting Codetree for this particular group of teams.

[2015-10-19 19:32] #149 closed, assigned to nobody

[2015-10-20 18:58] ezra-g commented on #56
@djreimer, is there any rough approximate potential timeframe for this feature?

[2015-10-20 19:03] derrickreimer commented on #56
I'll expedite this for you @ezra-g. Aiming to ship by the end of the week.

[2015-10-20 19:04] ezra-g commented on #56
Wowza - Thanks, @djreimer!

[2015-10-20 19:05] derrickreimer commented on #56
:+1: I know you guys need this one badly, and you've been great customers :).

[2015-10-20 19:07] ajwaxman commented on #56
Thanks so much @djreimer! :heart:

[2015-10-20 19:41] dphaener opened #151 "Add tag creation during issue creation"
It would be awesome if you could add a new tag on the fly while creating an issue in the modal. I often find myself thinking of a new tag while I'm creating an issue.

[2015-10-21 21:29] adambair opened #152 "Preserve sort order across projects"
Example. I have web, ios, and android. Each has their own set of issues... ideally I would like to sort in the "all projects" project and have the order preserved in the individual projects and vice versa.

That way each team can take care of their own stuff -- and for planning I can go to the overall project and order/sort across all projects.

The same way that if I change an "estimate" number i

[2015-10-21 21:29] adambair commented on #152
bug / request -- not sure.

[2015-10-21 21:35] adambair opened #153 "Ability to create team-wide shortcuts"
Currently if you create a shortcut it's only visible to you -- it would be super helpful to be able to create shortcuts (as a pm/team lead) to create shortcuts for everyone else on the team so we can be on the same... page ;)

[2015-10-21 21:36] adambair commented on #153
Having this could be a workaround for #152 -- just have all teams (ios, android, web) in the master project -- with team-wide shortcuts scoped to different repositories.

[2015-10-22 17:06] derrickreimer commented on #153
Sorry for the delay!

Yes, I think this is the right solution for #152, as sort ordering is tightly linked to projects. This is also being tracked on #48.

[2015-10-22 17:07] derrickreimer commented on #153
I will try to expedite global shortcuts - this feature request has been hanging around in the queue for far too long. :+1:

[2015-10-22 17:17] adambair commented on #153
Awesome -- that would work well for us (and probably others) with the same issue. Much appreciated!

[2015-10-22 17:18] adambair commented on #153
And it's likely MUCH easier implementation. Honestly, the other ticket was a swing for the fences / maybe it's in the works type of thing :)

Cheers, thanks!

[2015-10-22 17:20] adambair commented on #152
Feel free to close in favor of #153

[2015-10-22 17:49] #152 closed, assigned to nobody

[2015-10-22 18:12] derrickreimer commented on #3
It is, but no ETA yet.

[2015-10-23 16:43] adambair opened #154 "Change "closed" icon/color"
Red feels like something is wrong or needs attention -- http://cl.ly/image/2u2G0p370G3D

Perhaps a simple checkmark that's the same brown as the text in the milestone header?

[2015-10-23 16:46] derrickreimer commented on #154
Hmm...I'll have to think hard about this one. The red color+icon is a GitHub convention. To deviate from that visual language may cause cognitive "friction".

![image](https://cloud.githubusercontent.com/assets/341387/10699332/c6e11752-796a-11e5-8c87-afcc890dad35.png)

[2015-10-23 17:44] derrickreimer commented on #56
Alrighty, this is now live. There's still some polishing to be done, but it should be working.

![codetree_-_board_ _codetree](https://cloud.githubusercontent.com/assets/341387/10700482/d5c00fdc-7972-11e5-8b85-ebc69f3f2573.png)

Just toggle the "All" option and it will return the conjunction.

[2015-10-23 17:44] #56 closed, assigned to derrickreimer

[2015-10-23 17:48] ezra-g commented on #56
Thanks so much, @djreimer! We'll try it out :).

[2015-10-23 17:48] derrickreimer commented on #56
:+1: let me know how it works for you!

[2015-10-23 17:49] ezra-g commented on #56
Will do!

[2015-10-23 18:44] adambair commented on #154
Huh, hadn't noticed -- if that's convention no need to rock the boat; it just stuck out for me this context for some reason.

[2015-10-23 18:45] adambair commented on #154
Yeah, feel free to ditch this one as well :)

[2015-10-23 18:46] derrickreimer commented on #154
Closing this for now. I do appreciate your participation here, though!

[2015-10-23 18:46] #154 closed, assigned to nobody

[2015-10-24 19:04] #147 closed, assigned to derrickreimer

[2015-10-24 21:06] derrickreimer commented on #48
Shipped! :shipit:

![global-shortcuts](https://cloud.githubusercontent.com/assets/341387/10712776/70980f7e-7a58-11e5-97ed-9049f9d35db2.png)

[2015-10-24 21:06] #48 closed, assigned to derrickreimer

[2015-10-24 21:07] derrickreimer commented on #131
Shipped! :shipit:

![global-shortcuts](https://cloud.githubusercontent.com/assets/341387/10712778/88a79bf2-7a58-11e5-877f-e2129957158d.png)

[2015-10-24 21:07] #131 closed, assigned to derrickreimer

[2015-10-24 21:07] derrickreimer commented on #153
Shipped! :shipit:

![global-shortcuts](https://cloud.githubusercontent.com/assets/341387/10712780/98c77566-7a58-11e5-8108-cfe8d1775824.png)

[2015-10-24 21:07] #153 closed, assigned to derrickreimer

[2015-10-24 22:01] nZac commented on #131
Thanks @djreimer & the team over there!

[2015-10-25 20:43] kwiens opened #155 "Migrate to label-based point system"
We'd love to use your difficulty points, but my team has aesthetic problems with [5] in issue titles. I tried using the [5] point system and people really rebelled — it’s visual clutter in a lot of our other systems.

We'd like to use an API to synchronize our point counts (stored in labels) with CodeTree.

It would also work if you'd support numeric labels as points, but we could work around that

[2015-10-25 21:23] derrickreimer commented on #155
Thanks @kwiens! I've been giving this some thought. I think it will ultimately be best to migrate toward label-based storage for sizes. No ETA just yet.

[2015-10-26 15:27] kwiens commented on #155
I think that's a smart strategy — then we can use Github's API and built-in authentication. Thanks!

[2015-10-27 15:50] ajwaxman commented on #155
+1.

Here's a related issue for using label groupings in general: https://github.com/codetree/feedback/issues/67

[2015-10-27 15:52] derrickreimer commented on #155
@awaxman11 good connection there. Thinking that size labels would be scoped like you mentioned on #67. E.g. `size: 2`

[2015-10-27 16:16] ajwaxman opened #156 "Add the ability to group all issues together"
Right now you can group projects by either 1) Assignee or 2) Milestone. These are likely the two biggest use cases, so makes sense that these are the two options:

![](http://cl.ly/ddqg/Image%202015-10-27%20at%2011.58.28%20AM.png)

While those are the two biggest use cases, I think there _are_ workflows where it'd be nice to view all the issues without any groupings (`Group By: None`). For example

[2015-10-27 16:24] adambair commented on #153
Yes! Thank you -- this is great!

[2015-10-28 00:39] kwiens commented on #155
Yes, although using numeric sizes keeps the interface lightweight.
![image](https://cloud.githubusercontent.com/assets/129007/10776764/9f6b748c-7cd1-11e5-9a42-c42dbcbf3a16.png)

[2015-10-28 19:13] ezra-g opened #157 "Use autocomplete when changing a milestone, not radios"
We have a long list of milestones (eg dozens of milestones). It would be great to put an issue in a milestone using an autocomplete UI  rather than reading through all the milestones as a list of radios:

![seatgeek__tixcast___clients_-_issues_ _codetree](https://cloud.githubusercontent.com/assets/349595/10800024/41ff5754-7d86-11e5-9902-f20b6a7eda67.jpg)

[2015-10-28 19:15] derrickreimer commented on #157
:+1: for sure. This has already made it's way to the filter bar - will be blanketing all dropdowns with this functionality soon.

![image](https://cloud.githubusercontent.com/assets/341387/10800098/739a84a0-7d6d-11e5-98ef-2e408184f1bd.png)

[2015-10-28 19:26] ezra-g opened #158 "Use autocomplete when changing an assignee for projects with > 5 assignees"
Similar to #157, we have dozens of users in our Codetree project. It would be easier to change the assignee if we could use an autocomplete field.

[2015-10-28 19:30] ezra-g commented on #157
Sounds great. Thanks!

[2015-10-29 00:53] rsyring commented on #131
Thanks for this. :+1:

[2015-10-29 05:34] adambair opened #159 "Filter "assigned to anybody" doesn't seem to work"
Click filter, assignee, anybody, apply and nothing happens... -- it still shows unassigned tickets http://cl.ly/image/0H3a152N141u

[2015-10-29 05:48] adambair opened #160 "Ability to change grouping per saved search (public/private)"
It'd be great to have the main issue list order by milestone -- and then be able to have a saved search which is grouped by assignee so I can see overall workload to make sure folks aren't being slammed.

[2015-10-29 15:43] derrickreimer commented on #159
Yeah, the word "anybody" is not entirely clear in this case - it means "anybody or nobody". We actually don't have a filter that only excludes unassigned issues at present time. Are you in need of such a filter?

[2015-10-29 15:44] derrickreimer commented on #160
:+1:

[2015-10-29 18:03] carlshimer opened #161 "Change stage when pull request summitted"
I want any tickets tied to a branch to be put in the "ready for review" stage when a pull request is submitted.  When the PR is merged I want the ticket to move to "ready to release" stage so I know what features are going out.

Right now all of these steps are manual. Some automation would be nice.

[2015-10-29 18:04] derrickreimer commented on #161
Absolutely agree! This is in the dev queue - no ETA just yet, but I will keep you posted.

[2015-10-29 18:50] carlshimer opened #162 "milestone created on github hasn't synced for 13 minutes"
13 Minutes later I don't see it on codetree.  I probably should have created the milestone on codetree first...

[2015-10-29 18:52] carlshimer commented on #162
oh... I didn't see the refresh button.  well, that picked it up.  should it be automatic?

[2015-10-29 20:03] adambair commented on #159
anybody and nobody -- would have expected them to be opposite of each other -- it would be nice to be able have this flag set automatically instead of clicking on everyone in the list to find all assigned issues across the teams.

[2015-10-29 20:12] adambair commented on #156
Seems like this could be related to #160 -- having the ability to change grouping on different views instead of being global -- including a "group by none" setting.

[2015-11-02 17:46] ezra-g opened #163 "Consider hiding issue labels that are included in the filter"
If I'm filtering to show only issues that include a given label, it seems redundant to show that label for each issue.  For example, in this view, it seems worth considering not showing the the `team: 1` and `status: in sprint` labels for each issue to make room for other issue labels

![banners_and_alerts_and_seatgeek__tixcast___clients_-_issues_ _codetree](https://cloud.githubusercontent.com/ass

[2015-11-02 18:59] derrickreimer commented on #163
Seems reasonable to me. Gmail does this as well.

[2015-11-02 19:34] jamemackson commented on #150
:+1:

[2015-11-02 19:34] jamemackson commented on #148
:+1:

[2015-11-02 20:35] ezra-g opened #164 ""No assignee" table should appear asynchronously"
In a list view of issues where all issues are assigned, unassigning the issue causes the issue to disappear form the Codetree view until the page is refreshed, because the "No assignee" table doesn't appear asynchronously. I'd suggest that the table appear without refreshing the page, or that it always appear by default.

[2015-11-03 01:04] derrickreimer commented on #162
@carlshimer unfortunately, GitHub does not send us a webhook when a milestone is created. We poll for those changes hourly, but you can also manually refresh on the milestones page to force a sync sooner.

[2015-11-03 01:04] #162 closed, assigned to nobody

[2015-11-03 04:39] dphaener opened #165 "Duplicate issues in backlog"
See attached, issue #154 is shown twice

<img width="293" alt="screen shot 2015-11-02 at 8 38 50 pm" src="https://cloud.githubusercontent.com/assets/5187971/10901369/d0fcec68-81a1-11e5-9136-2a537b45213a.png">

[2015-11-03 04:45] derrickreimer commented on #165
Still showing after page refresh? I think there was probably a slight pagination discrepancy in the infinite scrolling.

[2015-11-03 04:47] dphaener commented on #165
Ah. Yeah after refresh it’s gone. Darn infinite scrolling.

[2015-11-03 04:47] derrickreimer commented on #165
Technically a bug, but going to close this one. Will probably need to switch to cursor-based pagination to ultimately keep this from happening.

[2015-11-03 04:47] #165 closed, assigned to nobody

[2015-11-03 21:13] ericalli commented on #3
+1, would love to see this feature!

[2015-11-03 21:16] ericalli opened #166 "Overview of assigned issues across projects"
On the Dashboard view of Codetree, it would be great to see an overview of all the issues across all my projects that are assigned to me so that at a glance, I can know exactly what I need to work on today.

[2015-11-04 14:25] ajwaxman commented on #166
Would you be able to do this by creating a project that contains all the repos you're currently working with?

[2015-11-04 17:56] derrickreimer commented on #166
That would be the best way to accomplish this for now.

[2015-11-04 22:31] ezra-g opened #167 "Put currently applied label filters at top of checkbox list"
Currently when removing an selected label that is being used to filer a list view, I have to scroll all the way through the full list of labels to remove it. It seems like it would be ideal to present the selected labels at the top of the list of checkboxes so that I can more easily uncheck them.

![tixcast___product_-_issues_ _codetree](https://cloud.githubusercontent.com/assets/349595/10954153/c

[2015-11-05 06:47] derrickreimer commented on #167
:+1:

[2015-11-06 16:50] ezra-g opened #168 "Automated label changes should match acting user"
I closed an issue in Github, so Codetree removed our `status: in sprint` label, which is super handy. However, it removed the label using @awaxman11's Github account rather than my own. It seems ideal for Codetree to perform the automated action using the account of the user who triggered label change to avoid confusion. Since starting to use Codetree, we've had a few cases where people were confu

[2015-11-06 20:34] ezra-g commented on #139
I've noticed in some cases that the point total never ends up updating and we have a 503 in the browser console for https://codetree.com/projects/z9qh/issues/sizes.json?labels=all%3A(status%3A+next+sprint%2Cteam%3A+1)

[2015-11-06 20:35] ezra-g commented on #139
Actually, we appear to be getting a 503 every time we update points for an individual issue.

[2015-11-06 20:45] derrickreimer commented on #139
Background updating of point totals is temporarily disabled. We are
encountering floods of heavy queries from this, presumably due to many
simultaneous requests from open browsers that want updated totals for their
given view every time points are updated. This is adversely impacting site
performance. I'm working on some performance enhancements and throttling
measures.

On Friday, November 6, 201

[2015-11-06 20:45] ezra-g opened #169 "Changing order in list view doesn't take effect"
The drag&drop interaction appears to work but a moment later the issues snap back to their original order in the table. We're seeing 503s in the console as in https://github.com/codetree/feedback/issues/139 - Not sure if those are related. Sorting in priority order is fairly important to our sprint planning process so we'd love if at all possible to see this one resolved in the semi nearish approx

[2015-11-06 20:46] ezra-g commented on #139
GTK, thanks!

[2015-11-09 21:06] ezra-g opened #170 "What do the white/peach rows mean?"
In the list view of issues, some rows are white colored whereas others are peach colored. They don't seem to be zebra-striped. What does this coloration indicate?

[2015-11-09 21:13] derrickreimer commented on #170
White means the issues are explicitly prioritized, while tan means that they are unprioritized. The unprioritized issues appear in chronological order of creation until they are explicitly prioritized, at which point they appear above the unprioritized issues. This is a unique feature of Codetree that helps prevent unintentional "implicit" ordering of issues.

[2015-11-09 21:13] #170 closed, assigned to nobody

[2015-11-09 21:23] ajwaxman commented on #170
One of my favorite features :+1:

[2015-11-10 16:31] derrickreimer commented on #168
Yeah, we should probably be more intelligent about that in cases where it's feasible.

[2015-11-13 18:47] ajwaxman commented on #20
Was just about to open an issue with the same request. It'd be awesome to be able to sort the tables in a similar manner as GitHub's `/issues` UI (although I personally have never used least / most commented much) :

![](http://cl.ly/doWD/Image%202015-11-13%20at%201.45.55%20PM.png)

[2015-11-18 18:37] bedhed opened #171 "Doubts about onboarding"
I'm not sure, but at the moment, if I want someone to join codetree (and say 3 projects within), I need to:
- Look for the username on github
- Ctrl-c the username
- Go in the first project
- Ctrl-v the username
- Drag & drop the user to full access
- Go to the second project
- Drag & drop the user to full access
- Go to the third project
- Drag & drop the user to full access

Even if the user alr

[2015-11-18 18:43] derrickreimer commented on #171
Hmm that is not an ideal experience. We can definitely improve in that area. To make things a little easier, I'd be willing to manually add all your users for you. You can email me a list of usernames or you can add them as members on your Codetree organization and I can take care of granting them access to all your projects.

There is definitely ongoing internal debate about how to improve our pe

[2015-11-18 19:17] bedhed commented on #171
Thanks, that's a nice offer.
(Still hoping there will be some tight intergration with github's teams soon ; as the point of codetree is to bring a **great** UX/UI layer above issues & PR, it sound logical to me to do the same for rights).

On an other subject, where would be the best place to talk about pricing ? I just noticed your max license is for 50 users (and also wondering if we're not too

[2015-11-20 16:08] derrickreimer commented on #171
Let's continue the conversation via email :+1:

[2015-11-20 16:08] #171 closed, assigned to nobody

[2015-11-21 02:40] #84 closed, assigned to derrickreimer

[2015-11-23 22:31] ajwaxman commented on #155
Now that we've been using Codetree more regularly our developers are sharing similar thoughts to the origin comment. Conversation from this afternoon:

[2015-11-26 06:40] derrickreimer commented on #155
Thanks @awaxman11. Planning to run a little survey across folks using points right now to see if I can get a broad consensus. It's coming down to either making it configurable (labels or in title) or migrating everyone over to label-based points.

[2015-11-26 06:41] derrickreimer commented on #169
Hmm this should not be happening - are you still observing bugginess on the list view?

[2015-11-26 06:42] derrickreimer commented on #139
This should all be working now (we are no longer DDoSing ourselves...). Sorry for the inconvenience!

[2015-11-26 06:43] #139 closed, assigned to nobody

[2015-11-26 14:06] ajwaxman commented on #155
Sounds great, thanks for the update!

[2015-12-03 20:10] ezra-g commented on #150
This one sure would be handy. Any rough sense of if/when this might be available?

[2015-12-04 07:14] derrickreimer commented on #150
Sorry for the long wait. Let me try to expedite this one.

On Thu, Dec 3, 2015 at 12:10 PM, Ezra Gildesgame notifications@github.com
wrote:

##

Derrick

[2015-12-06 20:26] derrickreimer commented on #150
Shipped!

[2015-12-06 20:26] #150 closed, assigned to derrickreimer

[2015-12-08 15:24] ezra-g commented on #150
@djreimer Great - Thanks!

[2015-12-08 15:34] ezra-g opened #172 "Allow "Keep label when stage is changed" for "Open" column"
We're using the label `status: in sprint` for our `Open` column so that our Codetree list view shows a list of issues in the current sprint. Currently, Codetree removes the `status: in sprint` label once issues are closed, which makes it difficult to see which issues have been closed within the current sprint.

It would be ideal to have the "Keep label when stage is changed" option so that we coul

[2015-12-09 04:49] premist opened #173 "Name change is not being synced"
I changed issue name via GitHub's web interface, and Codetree doesn't update issue name accordingly. I tried 'Sync My GitHub Data' but it didn't help.

[2015-12-09 04:51] premist commented on #173
I tried switching to the task board view and moving cards to different list, and it retrieved changed issue title.

[2015-12-09 17:30] derrickreimer commented on #173
Hey @premist, unfortunately there are a few events that GitHub does not send out via webhooks - the two most painful being title/body changes and applying a milestone. We poll the API hourly to pull in those changes. We are about ready to ship a brand new issue editor in Codetree, so that it will be much easier to make those changes on the Codetree side.

[2015-12-09 17:30] #173 closed, assigned to nobody

[2015-12-09 17:31] #169 closed, assigned to nobody

[2015-12-11 20:22] ajwaxman commented on #150
Just realized this was live! :smiley: :clap: :clap: :clap:

[2015-12-14 12:21] ClementChapalain commented on #102
Burndown charts would be super useful. Also a velocity history (for each past sprint) would be great !

[2015-12-14 17:06] clarkbk opened #174 "Stuck on server error screen"
Been using Codetree for months and never had any problems, but I did something this morning to make it angry and now I cannot escape this error screen:

<img width="815" alt="we_re_sorry__but_something_went_wrong__500_" src="https://cloud.githubusercontent.com/assets/1349496/11787505/035d2fc8-a25a-11e5-93c3-98d0b50cbe2d.png">

Remedies I've tried so far to no avail:
- cache-refreshing my browser
-

[2015-12-14 17:13] derrickreimer commented on #174
That's no good! Let me have a look...

[2015-12-14 17:29] derrickreimer commented on #174
This should be fixed now - sorry for the trouble. Some fluke must have happened during a GitHub sync operation, which left one issue with half corrupted data.

[2015-12-14 17:29] #174 closed, assigned to nobody

[2015-12-14 17:48] clarkbk commented on #174
thanks @djreimer !

[2015-12-19 21:41] derrickreimer commented on #102
Noted @ClementChapalain!

[2015-12-27 23:28] #50 closed, assigned to derrickreimer

[2015-12-29 13:54] jbt opened #175 "Allow Ctrl+Enter to submit comment form"
Firstly, got to say I'm really digging the new detail / edit view. Very nice.

One thing I'd love to see is the ability to use <kbd>Ctrl</kbd>+<kbd>Enter</kbd> / <kbd>Cmd</kbd>+<kbd>Enter</kbd>\* to submit the comment form - I'm in the habit of using my keyboard as much as possible and having that would be great, just like GH does it.

\* for all I know you may already have done <kbd>Cmd</kbd>+<kb

[2015-12-29 17:32] derrickreimer commented on #175
:+1: expect to have this soon! Also, I didn't know `<kbd>` tags were a thing :smile: - will add some styles for that.

[2016-01-01 02:14] derrickreimer commented on #175
Should work now :tada:

[2016-01-01 02:14] #175 closed, assigned to nobody

[2016-01-01 23:37] jbt commented on #175
Nice one! :+1:

[2016-01-04 02:35] alonnovy opened #176 "Unable to add member to organization"
We had a particular user in our organization with Codetree, and all was well.  Today that user no longer appears in our organization and when we try to add him back in, the system tells us "User not found".

[2016-01-04 15:52] clarkbk opened #177 "Clicking to edit issue size from a task board view opens the issue modal window"
This makes the size uneditable as far as I can figure.

[2016-01-04 15:57] derrickreimer commented on #177
D'oh...on it...

On Monday, January 4, 2016, Ben Clark notifications@github.com wrote:

##

Derrick

[2016-01-04 16:13] #177 closed, assigned to nobody

[2016-01-04 16:29] derrickreimer commented on #177
Should be fixed now.

[2016-01-04 16:30] derrickreimer commented on #176
@alonnovy that's odd - can you provide the username? We can move this to email if you'd rather not disclose in public.

[2016-01-04 16:54] ajwaxman opened #178 "The new issue detail modal feature makes it difficult to edit points"
While the new modal feature makes a lot of things easier, it makes it a bit difficult to edit points. Every time I try and edit the size of an issue the modal pops up. For now I've been holding down my mouse until I edit the size, but it'd be nice to not have to do that.

[2016-01-04 16:56] derrickreimer commented on #178
Sorry @awaxman11 - a fix for this is actually going live as we speak!

[2016-01-04 16:56] #178 closed, assigned to nobody

[2016-01-04 17:12] ajwaxman commented on #178
Perfect, thanks!! You continue to amaze me with these issue response times :)

[2016-01-04 18:47] clarkbk commented on #177
Gracias, señor!

[2016-01-04 22:58] alonnovy commented on #176
Hi Derrick - thanks for the prompt response.

I just tried it again now, and suddenly it worked....  Perhaps the usernames are case sensitive and I got the case wrong somewhere?  That might explain why I couldn't add the user, but it wouldn't explain why he went missing.
Anyways, it seems to be all OK now.

Thanks again.

[2016-01-04 22:58] #176 closed, assigned to nobody

[2016-01-15 22:00] chadbay commented on #161
The more automation the better, I would use this too.

[2016-01-21 16:32] mazesoul opened #179 "Labels sorting should be consistent with Github"
Hi,

first of all, thanks for your product. It's working great for us!

Now for the bug, when you go to the label edition page, the labels are sorted according to github (ASCII I believe). In the list display or the issue edition popup, the labels are sorted using lowercased, stripped special chars.

It would be nice if all of codetree would sort labels the same as github.

[2016-01-24 13:14] RussTedrake opened #180 "need a previous/next button + keyboard shortcut to quickly move through detailed views from search results"
I consider this a major missing feature from github (i'm not alone: https://github.com/isaacs/github/issues/366 ), and it's one that codetree could presumably implement easily.  Thanks for considering.

[2016-01-24 20:34] derrickreimer commented on #180
:+1:

[2016-01-26 00:57] kilianc commented on #3
+1 it's almost impossible from the PM point of you do some heavy planning without drag and drop across milestones, also empty milestones should show

[2016-01-26 10:44] chids opened #181 "Request - (re)define "In Progress" as open, assigned issues, in milestones"
While I :+1: the definition that _Backlog_ is issues without a milestone, _To Do_ is issues with a milestone and _Done_ is closed issues I would personally prefer if _In Progress_ was defined as: **open issues** :heavy_plus_sign:  **in a milestone** :heavy_plus_sign: **assigned to someone**, rather than being defined by a label.

That would make the overall workflow simpler imho, as it would, roug

[2016-01-26 11:06] jeanfw commented on #3
+1 on this (cf. my earlier email @djreimer), especially now that there's no longer a dropdown to quickly switch milestones from the issues list.

Btw, an alternative way to let us move issues between milestones without having to "drag over" many issues (cf. @bfrohs https://github.com/codetree/feedback/issues/3#issuecomment-61494746) in task board format (one column per milestone). The drag and dro

[2016-01-29 01:05] derrickreimer commented on #181
This is an interesting use case for sure. Let me give this some thought :+1:

[2016-01-30 07:10] derrickreimer commented on #179
Great to hear Codetree is working well for you! This bug should be fixed now.

[2016-01-30 07:10] #179 closed, assigned to nobody

[2016-01-30 20:15] #167 closed, assigned to derrickreimer

[2016-01-30 20:15] derrickreimer commented on #167
:shipit:

[2016-01-30 20:23] #157 closed, assigned to derrickreimer

[2016-02-02 16:25] #158 closed, assigned to nobody

[2016-02-02 16:28] derrickreimer commented on #158
Filtered dropdowns for all!

[2016-02-03 14:43] seocam opened #182 "Renaming a milestone doesn't update milestone name in individual issues"
After I renamed a Milestone the issues were grouped in the right way but the milestone name appears wrong inside codetree. For example, I've renamed the milestone alpha to "Iteration #1" and that was the result I got:

<img width="1094" alt="screen shot 2016-02-03 at 12 42 18 pm" src="https://cloud.githubusercontent.com/assets/33388/12785437/ae0a1558-ca73-11e5-9df0-cf02fb3bd468.png">

It's all gro

[2016-02-03 16:27] derrickreimer commented on #182
Sorry for the confusion. Because of the way we cache milestone names, the issues view should be consistent within one hour of renaming a milestone.

[2016-02-03 16:27] #182 closed, assigned to nobody

[2016-02-05 19:42] pushred commented on #169
I am and ordering is kinda the whole point for using Codetree for us.. I also managed to somehow end up with a clone when repeatedly reordering to demonstrate this.

![http://g.recordit.co/2DO0D7cGnQ.gif](http://g.recordit.co/2DO0D7cGnQ.gif)

I'm on Chrome 48.0.2564.97 (mac)

[2016-02-05 19:46] pushred commented on #169
Looks like I ran into the scenario described in #38 but this was really unintuitive (at least coming from Trello) because my intention is to order issues in the same action as moving them from the backlog. Where they get dropped is their order, initially at least. I get the intention behind this but it just feels like a bug, like a failed sync action.

[2016-02-05 19:51] pushred commented on #118
Wish the syntax was a little more consistent with what GitHub recognizes as a link at least. For example..

`{org}/{repo}/issues/6` works in GitHub, but I need to use `{org}/{repo}#6` in Codetree.

[2016-02-05 19:59] pushred commented on #38
What about another workflow list, like Unprioritized or To Prioritize?

[2016-02-08 17:11] derrickreimer opened #183 "Support [user]/[repo]/issues/[number] syntax for issue references"
Requested by @pushred:

[2016-02-08 17:12] derrickreimer commented on #118
Thanks @pushred. I frankly had no idea that was a supported way to reference issues :). Filed in #183.

[2016-02-09 11:02] TheDeveloper commented on #15
Hi, this option seems to have disappeared. I found it very useful. Where did it go?

[2016-02-09 17:39] derrickreimer commented on #15
Hey @TheDeveloper - removing this from the UI was part of an experiment to see which rarely used features would be good candidates for permanent removal. Since you are finding it useful, I've added this back in :+1:

[2016-02-09 17:51] TheDeveloper commented on #15
@djreimer phew, thanks :) I'm surprised to hear it's a rarely used feature, we use it all the time. We have a large number of repos and issues are quite commonly moved to more appropriate repos.

[2016-02-11 13:30] seocam opened #184 "Milestones are not created in one of my repositories"
The milestone is not created in one of my repos and the tasks in that repo doesn't appear on CodeTree.

I'm able to create issues using codetree but the issue does not show up anywhere.

[2016-02-11 16:42] derrickreimer commented on #184
Hi @seocam - can share the repo name that's giving you trouble? You can email me (support at codetree) as well if you'd prefer to keep this private.

[2016-02-11 17:20] phobeo opened #185 "Issue counts not being updated for taskboard columns in milestones"
when checking the board view of a Milestone (navigate to Issues > Task Board > choose Open Task Board in a milestone), despite there being actual issues in a column, they all show issue count as zero:

![screenshot 2016-02-11 18 14 45](https://cloud.githubusercontent.com/assets/109575/12983938/ddffba64-d0eb-11e5-821f-af812b0ac6bf.png)

Would have expected that number to be the actual number of iss

[2016-02-11 17:40] derrickreimer commented on #185
Hi @phobeo - this figure is actually the sum of the size points in the column.

[2016-02-11 17:40] #185 closed, assigned to nobody

[2016-02-11 17:56] seocam commented on #184
The name of the repos are `puppet-environments` and `mobileapp`. I've unlinked `puppet-environments` and linked it back and now the milestones are working. I haven't done the same for `mobileapp` so you could investigate the issue.

[2016-02-20 23:45] #123 closed, assigned to derrickreimer

[2016-02-20 23:51] #159 closed, assigned to nobody

[2016-02-20 23:56] #143 closed, assigned to derrickreimer

[2016-02-20 23:59] derrickreimer commented on #148
Previews for all!

[2016-02-20 23:59] #148 closed, assigned to nobody

[2016-02-21 00:00] derrickreimer commented on #145
Most of this is doable now with our issue editing interface :+1:

[2016-02-21 00:00] #145 closed, assigned to nobody

[2016-02-21 00:01] derrickreimer commented on #136
This is fixed by our new issue editing inferface :+1:

[2016-02-21 00:01] #136 closed, assigned to nobody

[2016-02-21 00:02] derrickreimer commented on #135
Missed updating this issue back when it was released. Shipped!

[2016-02-21 00:02] #135 closed, assigned to nobody

[2016-02-21 00:02] #132 closed, assigned to rapidnoodle

[2016-02-21 00:03] #126 closed, assigned to nobody

[2016-02-21 00:03] #117 closed, assigned to rapidnoodle

[2016-02-21 00:05] #101 closed, assigned to ac21

[2016-02-21 00:07] #87 closed, assigned to nobody

[2016-02-21 00:09] #51 closed, assigned to derrickreimer

[2016-02-21 00:10] #83 closed, assigned to derrickreimer

[2016-02-21 00:39] Dieterbe commented on #101
:(

[2016-02-23 14:58] ajwaxman opened #186 "Sorting issues recently became a bit buggy"
I'm trying to re-order issues in a list view organized by assignee. Sorting works about 50% of the time, but there are a handful of issues that revert back to their original spot whenever I try and move them :pensive:

[2016-02-23 16:28] derrickreimer commented on #186
That's no good :(. I'll take a look.

[2016-02-23 16:31] ajwaxman commented on #186
I can email you a video via email if that'd be helpful. Just didn't want to post a video with our backlog on GH. Thanks!

[2016-02-23 16:36] derrickreimer commented on #186
Sure, if it's not too much trouble that could be helpful for troubleshooting.

[2016-02-23 16:42] ajwaxman commented on #186
Np, just send an email to support@codetree.com

[2016-02-23 17:06] derrickreimer commented on #186
Alright, I reindexed your project ordering. Let me know if you are still seeing strangeness.

[2016-02-23 17:07] ajwaxman commented on #186
Working well now! Thanks!!

[2016-02-23 17:08] derrickreimer commented on #186
:+1: :tada:

[2016-02-23 17:08] #186 closed, assigned to nobody

[2016-02-24 18:57] hgascoigne opened #187 "Show repository name in milestone list"
I'd love it if the milestone list would prepend the name of its parent repository (similar to how it already does for issues). We are tracking many repos in CodeTree and if a milestone is named "v1.0," we don't have context for which project that is under. We are currently getting around this by putting the repo name in the milestone, but it's redundant when in GitHub. Thoughts?

Thanks guys!

[2016-02-24 20:20] briangruber opened #188 "A way to hide the Done column in the task board view"
In case I'm not interested in seeing all the done issues.

[2016-03-01 09:54] jeanfw commented on #3
Hi @djreimer, any updates on this? Thanks!

[2016-03-02 16:11] nZac commented on #155
Any news on how the `size` feature is shaping up? We aren't big fans of having the title renamed either. It makes a mess of the issue history. I would like to see it label based.

[2016-03-02 16:26] derrickreimer commented on #155
Thanks for resurfacing this @nZac. It's time to circle back to this now that some other major blockers are out of the way. Will touch base soon.

[2016-03-07 05:10] realyze opened #189 "Drag-drop operation occasionally locks up the interface"
When I try to move a card (any card) between columns, the source card disappears, mouse cursor turns into a fist and the system doesn't allow me to interact with anything on screen.

I'm on Mac 10.11.2, Chrome 48.

[2016-03-10 23:12] derrickreimer commented on #189
Hi @realyze, that's no good. I'm having trouble reproducing this behavior. I haven't heard other reports either. Are you still experiencing this?

[2016-03-10 23:15] realyze commented on #189
Hmm, no it seems to have fixed itself after I rebooted my Mac later that day. Might have been just a ghost in the machine sort of thing. Will report if it happens again.

[2016-03-10 23:19] derrickreimer commented on #189
:+1:

[2016-03-14 21:10] lexitorres opened #190 "Support for private repositories"
Is there any way to add private repositories to Codetree? All of our repos are private but we really want to use the tool!
Thanks,
Lexi

[2016-03-14 21:14] derrickreimer commented on #190
Hi Lexi, you definitely can! Sounds like a permissions issue.

Are these private repos under a GH organization, and do you have [third-party application restrictions](https://help.github.com/articles/about-third-party-application-restrictions/) in place for this organization? If so, you should be able to grant access by going to your Applications page (https://github.com/settings/applications), cl

[2016-03-14 21:14] #190 closed, assigned to nobody

[2016-03-17 15:32] leonardfactory commented on #184
Same issue here. I can send you an email with the repo name if it helps.

[2016-03-17 15:46] derrickreimer commented on #184
Hi @leonardfactory, please do! Thanks

[2016-03-17 16:52] leonardfactory commented on #184
@djreimer sent!

I've tried unlinking the project and syncing github data with provided command in the interface.
Even actually changing (on GitHub) one issue milestone to not-recognized one, does not cause Codetree to refresh.
Furthermore, the issue still keeps listing under the old milestone.

[2016-03-21 23:11] kangaroo5383 opened #191 "A stage should be able to have closed issues."
Our current process is such:

in progress / open
resolve / open (in code review)
release / closed (issue is completed and will go out with the next release)
fixed / closed (in the latest internal build, assigned to issue creator to verified)
verified / closed (all done!)
rejected / open (nope, not fixed, try again!)

The reasoning is as follows:
- Our engineering team and non engineering are using

[2016-03-23 16:21] nZac commented on #155
Hi @djreimer, just pinging this again.

I found myself wanting this today as I am stuck doing this work manually. Labels would be a huge plus.

[edit: spelling]

[2016-03-23 16:43] derrickreimer commented on #187
Hi @hgascoigne, Codetree actually aims to have milestones shared across all the repos linked to a project. For example, when you create a milestone through Codetree, it will create one with the same name in every linked repo. I actually think it's the right approach to prepend the repo name in the milestone if it only applies to specific repo.

[2016-03-23 16:43] #187 closed, assigned to nobody

[2016-03-31 22:20] derrickreimer commented on #191
Sorry to leave you hanging @kangaroo5383 -- this one somehow slipped into my inbox archive. This has come up before -- let me see what I can do and I'll keep you in the loop. Glad to hear CT is working out well for you!

[2016-04-01 05:08] kangaroo5383 commented on #191
Thank you so much @djreimer, appreciate you looking into it!  Our team is really loving it after testing a number of solutions, really great work here, very glad we found CT.  Look forward to hearing from you.

[2016-04-05 02:51] akatov commented on #155
:+1:

I was going to report a different problem as a separate issue, but I think it's good to report it here too, since it would be solved (presumably, judging by other Codetree behaviour)  by using labels for sizes.

In particular the problem is that the sync of sizes only happens one way - from Codetree to Github. If I change the number in the issue description on Github it doesn't update the si

[2016-04-05 03:36] realyze commented on #189
So this is still happening. And quite often (like, every other day). It's incredibly frustrating.

[2016-04-05 09:45] TimonVS opened #192 "Slow scrolling in modals on Safari"
I noticed that scrolling a modal window is really slow in Safari, and in Chrome it causes another issue:

![](https://i.imgur.com/wlBuQdl.png)

The modal backdrop scrolls away.

A simple fix is to use  `position: fixed` for `.modal-backdrop` instead of `position: absolute`. This will fix the slowness for Safari and the scrolling issue for Chrome.

[2016-04-05 10:09] TimonVS opened #193 "Due date dropdown sporadically stops working in Safari"
When I click on the dropdown to change the due date and click on `change...` the date input doesn't appear in Safari. If I try to click on the dropdown after that, nothing happens anymore (the dropdown doesn't open anymore).

Video demonstrating the bug: https://vid.me/rPz4

[2016-04-05 10:34] TimonVS opened #194 "Wrong due date is shown"
When selecting a due date, the due date shown in the UI is a day before the actual due date. The Github milestone shows the correct due date which was selected in the date input.

Example:
Github:
![](https://i.imgur.com/48gB6si.png)

CodeTree:
![](https://i.imgur.com/R8FbxPY.png)

[2016-04-05 16:24] derrickreimer commented on #194
Looks like a time zone issue -- I will investigate.

[2016-04-05 16:30] derrickreimer commented on #193
How odd...first report of this one as well.

[2016-04-05 16:47] derrickreimer commented on #192
Upgraded Bootstrap modal, looks like these issues were taken care of by latest changes :+1:

[2016-04-05 17:48] derrickreimer commented on #155
@akatov it should update the size on the Codetree side within 1 hour (sadly GitHub does not send webhooks yet when title is changed, so we have to pick up those changes through polling.

That being said, the first phase of migrating away from title-based points is almost ready to ship. First phase will be to decouple title and size, with a utility to scrub the points from existing titles.

During

[2016-04-05 18:26] derrickreimer commented on #193
I'm having trouble reproducing this. Tested on Safari 9.0.3 (11601.4.4). Which version are you on?

[2016-04-05 19:57] TimonVS commented on #193
Safari 9.1 (11601.5.17.1). It only happens sometimes though, it's really strange.

[2016-04-05 20:00] TimonVS commented on #192
@djreimer the issue seems to be resolved for Chrome, but scrolling is still extremely slow in Safari :/.

[2016-04-05 20:34] TimonVS opened #195 "Click and hold to delete is confusing"
'Click and hold to delete' is really confusing for new users (my coworkers).
I think a better solution would be to be able to click once then the button will turn red and contain the text "Are you sure?".

Example.: http://codepen.io/timonvs/pen/oxoyLm

[2016-04-06 18:49] wanderingmatt opened #196 "Duplicate modal overlay"
Clicking on one of the default views immediately prior to filing a new Issue results in a duplicate modal overlay which cannot be excused.
##### REPRO
1. Click **Issues** or **Pull Requests** from the left sidebar.
2. Click **New Issue**.
3. Close the new _New Issue_ modal.

[2016-04-06 21:26] wanderingmatt commented on #188
:+1:

Our team has a couple Milestones which we use for on-going Issues, like Maintenance. The Done column in those contain thousands of bugs and is fairly useless.

[2016-04-06 21:28] wanderingmatt commented on #181
Interesting. This would work for our team about 90% of the time.

[2016-04-06 21:28] wanderingmatt commented on #168
:+1:

[2016-04-06 21:38] wanderingmatt opened #197 "Sometimes you click to modify sometimes you click to filter"
Some subjective UX criticism.

Now that you've taught me to re/assign new issues from the _New Issue_ modal by clicking on the Github username here...

![screen shot 2016-04-06 at 2 30 11 pm](https://cloud.githubusercontent.com/assets/11926/14333597/68ba75ca-fc04-11e5-8c5b-0aaf1e0519c2.png)

I constantly attempt to re-assign issues from list view by clicking on the Github username in the same way

[2016-04-06 22:30] adro718 opened #198 "Screen remains in modal after closing dialog"
Issue:
After I close a modal dialog for an issue in code tree I can't access the list view as the transparent gray is still blocking me. I need to refresh before I can interact with the screen.

How to reproduce:
Launch Modal and close modal and see if overlay of screen is still there.

Note: This doesn't always happen.

[2016-04-06 22:32] adro718 opened #199 "Allow me to update labels from list view without accessing the modal"
Previous versions of code tree allowed me to change a user or a label without opening the full dialog. I was also able to copy the github link without opening the dialog. Anyway to get that functionality back into the list view?

[2016-04-06 23:32] derrickreimer commented on #198
Ergh...sorry about that. I recently upgraded bootstrap modal library and it
looks to be buggy. Will address soon.

On Wednesday, April 6, 2016, Alex Robinson notifications@github.com wrote:

##

Derrick

[2016-04-07 10:07] TimonVS commented on #199
I agree that changing a label without opening the modal would be a great feature. You can ctrl/command + click on an issue to open the issue on Github in a new tab.

[2016-04-07 17:10] derrickreimer commented on #196
Thanks for the repro steps! I see what's happening. Now for the fix...

[2016-04-07 17:11] derrickreimer commented on #198
Duplicate of #196

[2016-04-07 17:11] #198 closed, assigned to ac21

[2016-04-07 17:21] #196 closed, assigned to nobody

[2016-04-07 17:57] TimonVS commented on #192
@djreimer could you reopen this issue? It's really frustrating to use Codetree in Safari this way.

[2016-04-07 18:08] derrickreimer commented on #196
Should be fixed now

[2016-04-07 21:00] TimonVS commented on #192
An easy (but dirty) fix would be to add `transform: translate3d(0, 0, 0);` to `.model-dialog` to force GPU rendering.

[2016-04-07 21:02] derrickreimer commented on #192
Thanks for sharing a hack! I'll give that a try 👍

[2016-04-09 16:54] derrickreimer commented on #189
@realyze that's no good. I will try my best to reproduce this. If you notice any pattern of behavior that ultimately leads to this happening, please let me know. I will reopen this ticket to track progress.

[2016-04-09 17:04] derrickreimer commented on #192
@TimonVS can you give it another try? I deployed the GPU rendering fix you suggested. Seems fine on my machine (comparable to Chrome). I'm running Safari Version 9.1 (11601.5.17.1).

[2016-04-09 18:34] #192 closed, assigned to derrickreimer

[2016-04-09 20:05] #194 closed, assigned to derrickreimer

[2016-04-09 20:33] derrickreimer commented on #193
The good news is I have reproduced it. The bad news is for the life of me I can't see what causes it. As you observed, it only happens sometimes and for no apparent reason. I will keep working on this, but it seems like a bug in Safari.

[2016-04-09 22:11] derrickreimer commented on #155
Alright folks, an email just went out to everyone about this. I'll copy it here:

[2016-04-10 18:43] TimonVS commented on #192
@djreimer Still the same problem, and that's because the rule you added (`transform: translate3d(0, 0, 0);`) gets overridden.

![https://i.imgur.com/eJFfFw2.png](https://i.imgur.com/eJFfFw2.png).

Adding `!important` solves the problem.

[2016-04-10 18:47] TimonVS commented on #194
@djreimer I see that you've closed the issue. But the issue is still there for me. Or is the version with the fix not deployed yet? :)

[2016-04-10 19:41] derrickreimer commented on #194
Hm that's odd. Same milestone showing the wrong date for you?

On Sunday, April 10, 2016, Timon van Spronsen notifications@github.com
wrote:

##

Derrick

[2016-04-10 21:20] derrickreimer commented on #192
Fixed the specificity problem.

[2016-04-10 23:13] kwiens commented on #155
Thanks!

I'd vote for _either_ proposal rather than _neither_ proposal! I personally prefer the former but I would love to have the latter over nothing at all.

[2016-04-10 23:15] derrickreimer commented on #155
@kwiens noted! 👍

[2016-04-10 23:34] akatov commented on #155
I'd prefer a namespaced label, e.g. "size: 5".

Furthermore, I'd love configurable numeric labels, i.e. labels for more than just size, e.g. "impact: 3".
Then, I'd love to have configurable values (that live only in codetree) that are an arithmetic combination of these github label namespaced values, e.g. `"relativeImpact" = 2 * "impact" / "size"` which for the above values would give `1.2`.
Then

[2016-04-11 12:01] akatov commented on #155
@djreimer what about having size parsed from the description, just like the `needs #X` interdependencies, e.g. `needs #100, size: 1.2` - this way you don't need to define a massive amount of size labels (for someone that uses a lot of different sizes)..

[2016-04-11 16:28] derrickreimer commented on #155
Yes, this has been one of my concerns. If using labels, I'd prefer to limit to a small set of fibonacci numbers for sizes, but I've been hearing folks want lots of flexibility (fractional points, etc).

The main downside that I see to putting in the body/comments is that it's not readily visible on the GitHub side when looking at a list of issues.

[2016-04-12 18:12] TimonVS commented on #194
No, it's a new milestone actually.

[2016-04-12 18:34] derrickreimer commented on #194
Can you send me the name? Feel free to email if you are more comfortable with that. It seems like GitHub attempts to set the due date to midnight in the time zone in which the user creating the milestone is located. We are now auto-detecting the time zone of the acting user, so it should be in line. Also, what time zone is your computer set to (assuming you were the one who created the milestone)?

[2016-04-13 12:49] leonardfactory opened #200 "Error in milestone ordering"
In my project Milestone are actually ordered **not** by version number.
Milestones created before still appear before the new one, even if it has a lower version number (i.e. `v0.5.1` appears after `v0.6.0`)

I can give more info in private if necessary

[2016-04-13 16:42] derrickreimer commented on #200
Hi @leonardfactory - I believe this is expected behavior. Milestones can be ordered manually (just like issues). When a new milestone is created, it is placed at the bottom of your milestone list. You can grab the sort handle to reorder as needed.

[2016-04-13 16:42] #200 closed, assigned to nobody

[2016-04-13 17:14] leonardfactory commented on #200
Thank you! I completely missed out the `Milestone` & `Labels` sections on the left, my bad!
As everytime, awesome job. Thanks again.

[2016-04-13 17:46] derrickreimer commented on #200
🎉

[2016-04-19 14:37] dallasgutauckis opened #201 "Size is not propagating to issues title"
When setting task size on an issue, it is not updating the GitHub issue title any more… at least on our project.

[2016-04-19 15:24] derrickreimer commented on #201
Hi Dallas, looks like you may not have received the email notification about this. Check out #155 for the latest.

[2016-04-19 15:24] #201 closed, assigned to nobody

[2016-04-19 15:31] dallasgutauckis commented on #155
Just want to chime in and say that I feel disabling sizing sync altogether is a regression. At the very least would have been nice to have migrated to labels or made some other decision regarding synchronizing with GitHub as a source of truth. In our case, our team mostly does sprint planning and sizing within codetree but when working issues prefers to use the GH interface for commenting, labels,

[2016-04-19 15:32] dallasgutauckis commented on #201
Thanks @djreimer — can confirm I didn't receive an email from that. I saw that issue but didn't read it in full to see that it had been disabled. Apologies for the dupe.

[2016-04-19 15:40] derrickreimer commented on #155
Understood. This is definitely a temporary thing during the transition
period. I am most in favor of the namespaced label approach at this point.
Any major opposition the that approach, Dallas?

On Tuesday, April 19, 2016, Dallas Gutauckis notifications@github.com
wrote:

##

Derrick

[2016-04-19 15:57] dallasgutauckis commented on #155
If you mean the `size: <n>`, then that is what we were using pre-Codetree and I think we're fine with it, assuming it supports either arbitrary size values altogether, or our minimum set (esp. 0.5, but also 1, 2, 3, 5, 8, 13, 20, 40, 100) which we've inherited from

![](https://dl2.pushbulletusercontent.com/d8ZdADuTOIColN8xLuGQWQGfiu6WNMfq/IMG_20160419_115242.jpg)

Note that we don't use ? or ∞ as

[2016-04-19 20:50] kangaroo5383 opened #202 "Show milestone due date in list view"
I thought that this was already a feature but it seems to not be working correctly all the time.  We have changed some milestone deadlines on a couple projects and they are now not listed in any discernible order.

An additional suggestion - it would be very useful to have the deadline displayed when grouped by milestone as well.

[2016-04-20 03:23] derrickreimer commented on #202
Hi @kangaroo5383!

I believe this is expected behavior. Milestones can be ordered manually (just like issues). When a new milestone is created, it is placed at the bottom of your milestone list. You can grab the sort handle to reorder as needed.

Sounds useful -- picturing this being displayed in the list view, correct?

[2016-04-20 18:55] kangaroo5383 commented on #202
Awesome thanks, I didn't think to look there.  It's definitely a better implementation to allow room for custom ordering than enforcing chronologically.

Yes exactly.  Near/in the header area etc. that would be awesome.

[2016-04-20 19:38] jms21852 opened #203 "Cannot create a new issue - the "Create Issue" button is broken"
Chrome v49, OSX 10.11.3
<img width="381" alt="screen shot 2016-04-20 at 14 38 20" src="https://cloud.githubusercontent.com/assets/6922799/14687946/9cef80c2-0705-11e6-89a3-ff2e87ff55d0.png">

[2016-04-20 23:01] derrickreimer commented on #203
Hmm I'm the same version of Chrome and I'm having trouble reproducing this. Is it still happening? Can you recall the sequence of events that lead up to this?

[2016-04-23 22:04] derrickreimer commented on #155
Sizes are now being synced with labels in the `size: X` format. We are planning to release a migration utility soon that will:
- Remove the `[x]` size from titles
- Add size labels to all issues with a designated size

[2016-04-27 16:54] kwiens commented on #155
Awesome! Is there any way to force a entire issue sync? I changed our label names but Codetree isn't picking up the change until I make a change to each issue.

This is very exciting! Thanks a ton.

[2016-04-27 17:08] derrickreimer commented on #155
Great to hear! I'm planning to release a utility for migrating everything
in one swoop. I can do this for you manually in the mean time. I'll follow
up via email shortly.

On Wednesday, April 27, 2016, Kyle Wiens notifications@github.com wrote:

##

Derrick

[2016-04-28 16:48] derrickreimer commented on #203
I'm fairly certain this was a GitHub permissions issue. Should be resolved now.

[2016-04-28 16:48] #203 closed, assigned to nobody

[2016-04-28 16:50] #183 closed, assigned to nobody

[2016-04-28 16:53] #134 closed, assigned to nobody

[2016-04-28 16:53] #124 closed, assigned to derrickreimer

[2016-04-29 00:34] myamakerspace commented on #33
How's this going. I don't want to have to go back to plain github, I love how codetree displays.

[2016-05-03 18:32] bcaplan opened #204 "@ reply auto-completion should be case insensitive"
![code_tree_bug](https://cloud.githubusercontent.com/assets/20348/14994063/ae14069e-1122-11e6-9a25-eab7a6a2e42b.png)

[2016-05-04 22:16] derrickreimer commented on #204
👍  agreed

[2016-05-13 15:34] tnoetzel commented on #102
+1

[2016-05-16 21:32] tnoetzel opened #205 "Edit Labels Produces Empty Modal"
From /labels, clicking "edit" on any of the labels produces an empty modal, rather than a something that allows you to edit the name/color...

<img width="1226" alt="" src="https://cloud.githubusercontent.com/assets/1002744/15304568/174bff9a-1b8c-11e6-8e19-9ee6319a6773.png">

[2016-05-16 21:48] derrickreimer commented on #205
Strange! Will investigate.

[2016-05-25 03:02] #155 closed, assigned to derrickreimer

[2016-05-27 17:53] normanjoyner opened #206 "Add support for multiple assignees"
GitHub [just released](https://github.com/blog/2178-multiple-assignees-on-issues-and-pull-requests) support for multiple asignees on issues & PRs. It would be nice to have this ability reflected in Codetree when assigning issues

[2016-05-28 04:04] kwiens commented on #155
You're a rockstar and we love you.

[2016-05-29 08:26] derrickreimer commented on #206
Thanks! Adding this for reference: https://developer.github.com/changes/2016-5-27-multiple-assignees/

[2016-06-09 18:34] onedanshow opened #207 "Show repo name on Milestones as well"
I love the Milestones view.  However, it would be nice if they include the repo that they're each from.  I'd like to use this view as the high-level view of what all is being worked on.  The work around is to put a prefix in front of all the milestone names.

This is essentially another checkbox after "Show repository name in issue list" for "Show repository name in milestone list"

[2016-06-17 07:11] jaseemabid opened #208 "How do I delete an account?"

[2016-06-18 00:32] kareem commented on #208
Normally you can drop support@codetree.com a line for questions like these.  I'll email you at the address in your GH profile.

[2016-06-18 00:32] #208 closed, assigned to nobody

[2016-06-18 11:36] jaseemabid commented on #208
Well, there is no way to do this from the UI. It would be good to have.

[2016-06-19 08:30] robert-weissgraeber commented on #181
+1

Our use case has the workflow as milestones ("next", "therafter"), the milestones are always open and we just move the issues between those milestones.

[2016-06-27 19:38] nZac opened #209 "Filter by the date the issue was created"
It would be great to be able to run a query like "issues created last week" or arbitrary date ranges

[2016-06-27 22:21] kareem commented on #209
Good suggestion, thanks @nZac.  Curious - what are you trying to do with that information?

[2016-06-27 22:27] nZac commented on #209
Hi @kareem!

Great question. Every week I send a report to our clients about what is coming up for the next week, a part of that is going through our issue list and adding whatever issues were created by developers.

Having a shortcut for "Created last week" would be very helpful. Right now I just go to GH and put `created: >YYYY-MM-DD`.

[2016-06-27 23:03] kareem commented on #209
@nZac Makes sense, thanks!  We definitely think the search and querying interface could use some love and your suggestion slots in nicely there. I'll add it to our list for consideration in upcoming builds.

Cheers!

[2016-07-09 01:59] imwra commented on #61
Hey @djreimer seems like this isn't working if the label is also being used to define a stage...is this just me or is it an issue?

[2016-07-09 05:55] derrickreimer commented on #61
Yes, I believe this is expected. The `exclude_labels` filter gets superseded in the board view for stage labels. It should work fine in the list view, though. Is there a use case for excluding issues in for an entire column in the board view? /cc @kareem

[2016-07-16 03:40] ezra-g commented on #20
It seems worth noting that Github recently added the ability to [sort issues within a milestone](https://github.com/blog/2206-reorder-issues-within-a-milestone).

[2016-07-19 21:43] wanderingmatt opened #210 "Assigning labels from Codetree results in duplicates"
This started happening somewhat recently. If I add a label from Codetree, it shows up twice.

![screen shot 2016-07-19 at 2 40 10 pm](https://cloud.githubusercontent.com/assets/11926/16967679/1da81aa8-4dbf-11e6-85e7-145b7155c0ee.png)

[2016-07-19 22:40] arifb commented on #210
Thanks Matt, someone on team will look into this. Are you seeing the same thing if you view one of these issues on GitHub?

[2016-07-19 23:30] wanderingmatt commented on #210
@arifb Nope. Everything seems normal over on the Github side.

[2016-07-20 07:29] cdaguerre opened #211 "Gitlab Support"

[2016-08-03 20:12] kangaroo5383 opened #212 "Delayed workflow/stages tag modification causing issues"
Codetree has been really great after many months of usage, however there has been one important issue that has been causing some problems for us.

On issue closing, "in progress" tags are suppose to be removed, and we manually add the "release" tag pending release of the current version.  There has been a handful of times where the close issue action update from codetree (removing stage tags) wasn

[2016-08-03 23:44] kareem commented on #212
Hey @kangaroo5383 thanks for the kind works and issue report.  I'll pass it on to the team to take a look at.

[2016-08-08 05:25] kareem commented on #211
@cdaguerre thanks for the suggestion and apologies for the delay.  Are there specific features you're looking for in Codetree that GitLab doesn't support?

[2016-08-12 22:37] xenithorb commented on #195
-1

I prefer exactly the way labels are handled right now

[2016-08-19 19:34] tom-ld opened #213 "Scrollbar periodically vanishes"
Using Chrome on a Windows 10 laptop.

After modifying an issue, dismissing the dialog box returns me to a screen where the scrollbar has vanished off the right, and using the scroll wheel on the mouse doesn't do anything.  However, refreshing the window restores the scrollbar and allows scrolling with the mouse wheel. This doesn't happen all the time.

This mostly seems to happen when the issue is

[2016-08-20 20:14] tom-ld opened #214 "Lists of open issues should have a creation date column"
It is frequently very useful to know the "creation date" for an issue, especially when trying to search for an issue in a forest of them without a keyword to search on. For example, a developer may want to search for "the issue that Dan created last Friday", having forgotten exactly what the title was. If there is a column on the list view showing the creation date, one could sort on this, filter

[2016-08-22 01:02] rstocker99 commented on #213
Hi Tom thanks for the repo steps on this bug. A few other folks have reported this problem and we've had a lot of trouble tracking it down. With the above steps we've figured out the issue. We're working on a fix. We'll let you know once we've pushed it to production.

[2016-08-22 01:10] rstocker99 commented on #214
Agreed creation date can be super useful. You mention two parts here:
1. Filtering by creation date
2. Sorting by creation date

Right now neither list view or board view offer any sorting other than by priority. Perhaps some sorting would be useful but would just having the ability to filter by creation date solve your scenario? I.e. if you could click "Add a filter" and "Created Date" showed in

[2016-08-23 04:22] talex1962 commented on #214
Actually maybe I overstated the filtering case ... it's just me personally, but I rarely have the patience to enter a filter expression when there's less than a page of anything to search through. I simply click on the column header to sort, then look down the list and use the filter in my brain.

Filtering by a creation date WOULD solve most problems, albeit a little less conveniently. If it is m

[2016-08-23 04:22] talex1962 commented on #213
Thanks!

[2016-08-25 19:15] kareem commented on #212
@kangaroo5383 Looking at this in more depth -- just want to confirm that the release label is NOT a custom Codetree stage.  Is that correct?

[2016-08-25 19:16] kareem commented on #212
Also do you add the release tag in Codetree or Github, or either depending on the dev / situation?

[2016-08-25 19:19] kangaroo5383 commented on #212
Release label is a custom stage

We current have been adding the release tag in Github manually.  Ideally, when an issue is closed (via commits `closes #123`) it would automatically change from `resolved` to `release`.

![image](https://cloud.githubusercontent.com/assets/34344/17982683/d8679434-6abd-11e6-9917-282b33b926eb.png)

[2016-08-25 19:38] kareem commented on #212
Hmm, Closed issues are intended to be at the end of your workflow, but it looks like some of your issues go Closed -> Release -> Fixed.  Is that right?

If so can you help us understand how you use this workflow?  The intention is that custom stage labels get removed when an issue is Closed so the system is currently working as designed.  Open to changing it with new info, but don't totally unders

[2016-08-25 19:39] kareem commented on #210
Hey @wanderingmatt looking into this in more depth.  Are you still seeing this behavior?

[2016-08-25 19:41] wanderingmatt commented on #210
Yep.

![screen shot 2016-08-25 at 12 40 30 pm](https://cloud.githubusercontent.com/assets/11926/17983387/29c3fa22-6ac1-11e6-8b2a-8740b455316c.png)

[2016-08-25 19:50] kareem commented on #207
Hi @onedanshow Milestones in Codetree are created in every repo for a project.  Let's say you have a project called Foobar that shows issues from two repos called (wait for it) Foo and Bar.  In Codetree you create a milestone called Baz.  Codetree will create the Baz milestone in both the Foo and Bar projects in GitHub.

So I don't think showing repo name in the milestone view makes sense, because

[2016-08-25 19:51] kareem commented on #205
@tnoetzel can't repro this right now and going to close it.  Can you please let me know if it's still happening and we'll investigate again?

Thanks

[2016-08-25 19:51] #205 closed, assigned to nobody

[2016-08-25 19:56] kareem commented on #199
Hi @adro718 @TimonVS haven't forgotten about this.  I agree that being able to change users or labels from the list view would be useful.  It's on our list.

[2016-08-25 20:05] kareem commented on #197
@WanderingMatt agreed.  This is on our list.

[2016-08-25 20:08] kareem commented on #212
Going to close this as it's related to #191.  Let's move the discussion there ok @kangaroo5383?

[2016-08-25 20:12] kareem commented on #188
Agreed @WanderingMatt and @briangruber.  On our list to toggle it as you toggle the Backlog column.

[2016-08-25 20:16] kareem commented on #184
@leonardfactory did you end up resolving this?  If not can you please email me with the repo name?  support@codetree.  Thx.

[2016-08-25 20:19] #166 closed, assigned to nobody

[2016-08-25 20:20] kareem commented on #164
Totally agreed @ezra-g.  On our list.

[2016-08-25 21:01] kangaroo5383 commented on #191
@kareem  #212  is not actually related to this issue but it's simply a delay on the stage label removal, possibly fixed by not removing tags that are added after the issue is closed.  The suggested fix makes logical sense.

The delayed removal of the label ( #212) is starting to cause major issues around our development as issues that are not properly labeled (aka being removed by codetree because

[2016-08-26 05:01] kareem commented on #191
Hi @kangaroo5383 we want to solve your problem but want to fully understand your use case before acting.  Perhaps I'm not understanding correctly.  Could you help clear this up (question originally in #212):

The original intention was that Closed issues sit at the end of your workflow.  I sounds like some of your issues go through this workflow: Issue Closed Closed -> Release (Issue is Closed + r

[2016-08-26 05:05] kareem commented on #191
BTW - re #212 the reason this is related, I think, is b/c if you don't touch closed tickets after they're closed (e.g. by adding a `release` label to a closed ticket) then Codetree's behavior doesn't need to change (e.g. stages don't need to have Closed Issues b/c Closed issues are only in the done stage).

[2016-08-26 06:42] kangaroo5383 commented on #191
In my original comment above
"Any issue that engineering is done with and don't have to look at anymore are closed, that decision correlates with how github interprets fixes #[some issue number] as closing an issue."

Github's mechanism for closing an issue via commit message in the form of "closes #1234" is a natural way for our merging and committing to signal that that was the final commit for

[2016-08-26 18:58] kareem commented on #212
Hi @kangaroo5383, I think we have a quicker workaround for you.

You'd modify your Codetree workflow to look like this:

in progress / open
resolve / open (in code review)

You'd remove these stages from your **Codetree** workflow:

release / closed (issue is completed and will go out with the next release)
fixed / closed (in the latest internal build, assigned to issue creator to verified)

The r

[2016-08-26 19:08] kareem commented on #191
Hi @kangaroo5383 can you help me understand something?  It sounds like you close issues mid-workflow for two reasons:
1. Because your devs want to use the "fixes" syntax from the command line
2. So your devs don't see work that's already done in their queue

Is there another reason you close tickets mid-workflow, or is it for the above convenience / filtering reasons for your devs?

Thx

[2016-08-27 21:05] kareem commented on #210
That's no good Matt, sorry you're having that issue.  We'll take a look.

On Thu, Aug 25, 2016 at 12:41 PM, Matthew Anderson <notifications@github.com

[2016-08-28 11:23] jorgemanrubia commented on #39
This would be very handy indeed. I am evaluating codetree. I organized a few issues using github UI and assigned them a milestone. After like 20 minutes Codetree is still outdated. Also you don't have a clue of when/if the data is going to sync at all.

[2016-08-28 22:48] kareem commented on #39
@jorgemanrubia thanks for the feedback.  We agreed that this experience isn't as great as it could be / needs to be.  We have some ideas about how to improve milestone syncing.  Sit tight! :)

[2016-08-28 23:24] tom-ld opened #215 "Label assignments sometimes appear twice in the history"
Adding multiple labels (particularly 3, it seems) occasionally causes all the label assignment to appear twice in the history. See this JPEG:

![doubled labels 2](https://cloud.githubusercontent.com/assets/11142402/18037514/4bd10da4-6d3b-11e6-985e-f6fb62cfb248.jpg)

This is only mildly annoying, but I thought I'd point it out. (It's clearly impossible for me to have added the labels, then removed

[2016-08-29 17:19] kareem commented on #215
Hi @tom-ld we've seen a potentially related problem before (codetree team - see #210).

Are you able to reproduce this reliably?

Can you help us debug this?  It would be super helpful if you could share a screenshot of GitHub showing the label adds and drops for this issue.  Feel free to email it in - support@codetree - if you're not comfortable posting publicly.

Thanks!

[2016-08-29 18:44] tom-ld commented on #215
Hi, Kareem,

Unfortunately it's not reproducing. I tried several different workflows and it does not seem to happen. It also occurs only on a few of the 70-ish bugs in the database.

Here is the screenshot for GitHub for an example of one of these duplicate-label things:

![multi-tags 1](https://cloud.githubusercontent.com/assets/11142402/18062788/269a5908-6ddd-11e6-92e0-28bb953c0786.jpg)

Here is

[2016-08-29 18:54] kareem commented on #215
Hi Tom,

Very strange.  This is helpful for diagnosis though, thanks.  We'll see if
we can repro.

On Mon, Aug 29, 2016 at 11:44 AM, Tom Alexander notifications@github.com
wrote:

[2016-08-30 19:53] kangaroo5383 commented on #212
Thanks for the follow up, yeah I think removing `release` and `fixed` label from the codetree stages would work as a workaround. 👍