[2016-08-30 19:59] kareem commented on #212
Awesome.  Going to close this ticket for now.

[2016-08-30 19:59] #212 closed, assigned to ac21

[2016-09-01 22:32] rstocker99 commented on #213
We've deployed a fix for this.

[2016-09-01 22:32] #213 closed, assigned to nobody

[2016-09-02 20:03] kareem commented on #202
Hi @kangaroo5383 just pushed this live today.  Thanks for the suggestion!

[2016-09-02 20:03] #202 closed, assigned to nobody

[2016-09-02 20:11] kareem commented on #33
Hi all, we just launched file attachments in Codetree.  Would love any feedback you've got.  Thx.

[2016-09-02 20:11] #33 closed, assigned to nobody

[2016-09-06 17:39] rstocker99 commented on #188
Hi @WanderingMatt and @briangruber, we've deployed this to production. You can toggle the 'Done' column now in the same way that you toggle the 'Backlog' column.

[2016-09-06 17:39] #188 closed, assigned to nobody

[2016-09-07 16:56] wanderingmatt commented on #188
👌

[2016-09-12 16:16] briandela commented on #206
Unfortunately CodeTree has become a lot less usable for us without this feature. We routinely assign issues to multiple team members - the team member who has time to address an issue first, removes the other person and marks the issue as in progress.

The codetree `board?assignee=<username>` filter only works for one person assigned to it.

[2016-09-13 20:44] mrenvoize commented on #39
We have given up on this service in afraid,  I realise github are making it hard without offering all the webhooks you require,  but other similar services don't appear to have such prominent issues.  We're using https://overv.io a fair bit now as an alternative. And have been happy with its sync so far.

[2016-09-13 20:47] derrickreimer commented on #39
FWIW, GitHub has closed most of the webhook gaps that existed for a long time. I rarely see my Codetree project out of sync with GitHub nowadays.

[2016-09-15 20:30] kareem commented on #39
@mrenvoize sorry you've left us.  we're actively working on sync issues right now and hope to have them addressed soon.

[2016-09-15 20:33] kareem commented on #206
@briandela do you have a few moments to chat about this feature?  we're digging into it and would like to better understand how you use it.  If so pls drop me a line at k@codetree.com. Thx

[2016-09-26 17:24] wanderingmatt commented on #210
FWIW, we've noticed a few other saving/closing problems with the issues affected by duplicate labels. After a little digging, I noticed that the duplicate labels only appear to be happening with issues that are filed in a repo that we renamed.

Just wanted to pass that along because I have a hunch that the cause of this issue might actually be something with not handling renamed repositories corre

[2016-09-26 17:39] christopher-francisco opened #216 "Change filter bar to let customers select "Issues and/or Pull Requests" when in task board"
Currently there is no UI element to click to let the **task board** show pull requests too alongside filters.

The navigation process is: Go to side bar -> clic on Milestones -> _clic on a milestone_ -> Change from _list_ to _task board_ -> here there is no link to show pull requests too.

It works if I append to the URL `&type=`, but it's not really convenient having to type it every time.

[2016-09-26 18:16] rstocker99 commented on #216
That's definitely annoying. I don't see any reason why the task board view shouldn't include the UI for changing the issue type filter just list list views. In the short term a possible workaround is to:
1.  Make the query in list view so you can include pull requests.
2. Toggle to board view. It will keep the '&type=' qs param.
3. Save a shortcut if you want to use this query regularly. The short

[2016-09-26 18:18] rstocker99 commented on #210
@WanderingMatt Thanks! That's super helpful. Thanks for passing along.

[2016-09-27 05:27] #207 closed, assigned to rstocker99

[2016-10-06 10:34] p8 opened #217 "Clicking on a milestones always switches everything to the list view"
I have the task board view set as default.
Whenever I click on a Milestone I always get the list view. After that all my saved shortcuts use the list view as well.
I would expect to see the taskboard view for all views unless I change it myself. Not when I click on a Milestone.

[2016-10-07 18:24] leonardfactory commented on #193
Happening to me too. It happens when I create a new Milestone on CodeTree. Even reloading doesn't show the input. I've found that updating the Due Date on Github, and then switching back to CT, clicking on _Change.._ makes the input available again.

[2016-10-07 18:30] leonardfactory opened #218 "Showing closed Milestones while in List view"
Actually I'd like to have a top level view of past and future tasks in the List View, having all issues ordered and grouped by milestones. However whenever I filter by _closed & open issues_ or just _closed issues_, the ones in a closed milestones do not show up.

I'd like to see even closed Milestones, maybe as a new filter, in order to have a past view on activities.

Furthermore, closed Milesto

[2016-10-07 18:41] leonardfactory opened #219 "Better Print CSS style & structure"
I find myself usually executing this tiny JS snippet in the console just to have a printable version of the issues list:

[code]

Having a feature like this inside CodeTree would be pretty useful to my team (@favoloso).

Something that I would appreciate:
- [ ] Simple button just like _Export CSV_ in the footer
- [ ] Ability to show all issues in one page (pretty tedious to navigate pages just to

[2016-10-07 19:19] leonardfactory opened #220 "Multi-project board recap / list view"
I have to say that I really love CodeTree, and its visual appeal and features are undoubtedly awesome.

A nice feature that I would like to see, is a system that may shows us a **recap of multiple projects in a single view**.

Obviously, there will be _different_ Milestones, different labels, etc., but I though about this tool as a **recap**/**at a glance** tool, not a management one. A tool that

[2016-10-09 21:25] kareem commented on #193
Will try and repro this.

[2016-10-10 05:35] kareem commented on #217
Agreed. We're working on fixing this. Sit tight. Thanks Petrik.

[2016-10-10 05:36] kareem commented on #218
Great suggestion. Can you help me understand the use case for going back to
look at issues in closed milestones? I have some ideas but want to know
what's important to you about it.

Thanks!

On Fri, Oct 7, 2016 at 11:30 AM, Leonardo Ascione notifications@github.com
wrote:

[2016-10-10 05:37] kareem commented on #219
Thanks Leonardo! Couple questions:
1. What do you use the printed cards for?
2. Do you print tables, or kanban view, or both?
3. Do you have specific requirements around printing? (Label size, or is
   8.5x11 ok, or something else?)

On Fri, Oct 7, 2016 at 11:41 AM, Leonardo Ascione notifications@github.com
wrote:

[2016-10-10 05:37] kareem commented on #220
Hey Leonardo, thanks for the kind words and suggestion. It'd be great to
better understand your specific use case in a little more detail.  Diagrams
would be super helpful. Feel free to drop them here or email us -
support@codetree. Thanks!

On Fri, Oct 7, 2016 at 12:19 PM, Leonardo Ascione notifications@github.com
wrote:

[2016-10-10 11:27] p8 commented on #217
Great!

[2016-10-10 11:47] leonardfactory commented on #218
I use this in order to check team productivity, so I'm comparing:
- Points estimation vs real allocation
- Total task points done in a sprint (Milestone in our workflow)
- Task completion evolution (i.e. 100points in one sprint, 110 in the next one)
- Planned activities roadmap (points completed/to do during the project)

Especially the last one needs a way to check closed milestones performance,

[2016-10-10 11:53] leonardfactory commented on #219
Hi Kareem!
1. I use them in order to archive productivity roadmaps and their evolution between sprints. This let me communicate with client manager & stakeholders effectively. Printing the plan let me archive it and share it easily during meetings.
2. I usually print exclusively the List View. The Kanban View is extremely useful in its digital form, and usually isn't shared with anyone external fr

[2016-10-10 12:59] leonardfactory commented on #220
Hi Kareem, this is a sketch I did in order to give you a general view of this idea. Actually it does only show the Weekly view, but I thought about something more flexible, feedback is appreciated.

![multi-project-idea-1](https://cloud.githubusercontent.com/assets/1857445/19236884/10b412f8-8efa-11e6-92e5-78573ecda06e.png)

Some features that I wanted to higlight:
1. Many projects on the same view

[2016-10-11 20:22] mrleeio opened #221 "Support Github issue and pull request templates"
**What?**

https://github.com/blog/2111-issue-and-pull-request-templates

Github allows you to create CONTRIBUTING.md, ISSUE_TEMPLATE.md, and PULL_REQUEST_TEMPLATE.md files in .github/ which auto populate the markdown editor whenever a new issue or pull request is created.

**Why?**

Default templates allow project maintainers to ask for the appropriate information up front when triaging new ticke

[2016-10-16 18:52] kwiens commented on #206
It would be wonderful if you could write up the current functionality and what your plans for the future are.

I'd happily adapt how I assign people issues / pulls if I knew where you were going with it.

[2016-10-17 13:17] arifb commented on #221
Interesting @mrleeio appreciate the vote on this feature. Could definitely see supporting ISSUE_TEMPLATE.md, will chat with team.

[2016-10-22 22:33] kareem commented on #199
@adro718 @TimonVS Just launched Assignee and Milestone editing from the List view.  Labels are on the drawing board.  Thanks for your patience!

[2016-10-22 22:37] kareem commented on #197
Hi @WanderingMatt just (re-)launched the ability to change an issue's milestone and assignee from the List view, which might make things a little easier for you.

I hear you on the UX issue you bring up (clicking to Assign in Issue Modal vs. clicking to see a list of issues for that user in List View).  It's on our list to address. The newly-launched feature doesn't change that behavior but should

[2016-10-26 23:33] kareem commented on #220
@leonardfactory it sounds like you're trying to do capacity planning here.  Is the key reason you want this view to understand that every dev is booked?  Or that features have enough devs to complete them on time?  Or to understand when features are scheduled to ship vs. one another?  Or to capacity plan given dev vacations, support rotations, etc?  Or something else?

We are hot on the idea of he

[2016-10-26 23:47] arifb commented on #148
Hi all, we recently launched drag/drop file attachments in Codetree. Any feedback, let me know, thanks!

[2016-10-26 23:49] kareem commented on #218
This seems like it's probably two issues.  One issue is that you are trying to understand capacity planning (Planned activities roadmap), changes in velocity (Task completion evolution), sprint velocity (Total task points done in a sprint) and estimate quality (Points estimation vs real allocation).  Each of those could be a feature on their own.

As a workaround you could do it manually except Co

[2016-10-27 00:05] kareem commented on #217
Hi @p8, we've dug into this a bit more.  When you click any of the custom stage shortcuts that Codetree creates automatically, you should be automatically taken to List View.  This is because you're viewing all the tickets in a single stage, which doesn't make sense to see in Board view (it would be one column).  Subsequent clicks on shortcut links will keep you in list view because when you creat

[2016-10-27 23:32] rstocker99 commented on #210
Having trouble reproducing this.

[2016-10-27 23:32] rstocker99 commented on #209
related to #214

[2016-10-27 23:51] kareem commented on #204
Codetree team - this may be helpful: http://stackoverflow.com/a/13379919/70057

[2016-10-28 00:09] kareem commented on #193
We've repro'd this but can't figure out why it's happening.  More investigation needed.

[2016-10-28 00:27] kareem commented on #191
@kangaroo5383 we have a feature in the pipeline that will let your devs use a commit verb like e.g. "resolved #123" to advance tickets through stages.  Are you up for a short chat to make sure it'll help you with this?

Related to this ticket - we're going to close it b/c Codetree has a series of stages that are a linear progression from Open to Closed with stage labels in between.  The workaround

[2016-10-28 00:27] #191 closed, assigned to nobody

[2016-10-28 00:29] kareem commented on #191
@kangaroo5383 related - I think that the feature we'd like your insight on will help your workflow issue. Let me know if you're up for a short conversation where we can show you some mocks.  Thx.

[2016-10-28 00:30] kareem commented on #189
Haven't been able to repro this behavior and haven't gotten any other reports.  Going to close the ticket.  @realyze if this is still happening please let me know and I'll re-open.  Thanks.

[2016-10-28 00:30] #189 closed, assigned to nobody

[2016-10-28 00:33] kareem commented on #184
Closing for now.  @leonardfactory and @seocam if this is still giving you trouble please let me know here.  Thanks.

[2016-10-28 00:33] #184 closed, assigned to nobody

[2016-10-28 00:36] kareem commented on #181
@chids, @WanderingMatt and @robert-weissgraeber we're working on a feature that I think will help you do this.  Are you up for taking a look at some mocks to make sure it'll help you with what you're trying to do?  If so please drop ryan@codetree.com a line.  Thanks!

[2016-10-28 00:43] kareem commented on #172
Hi @ezra-g if this is still important to you can you help us understand something?
- Why is `status: in sprint` a stage label?  If it wasn't a stage label I don't think you'd have this problem.
- Why not put the tickets in your sprint in a Milestone?

Thanks.

[2016-10-28 00:45] kareem commented on #172
BTW going to close this. If it's still an issue for you please reply and we'll re-open and address it.

[2016-10-28 00:45] #172 closed, assigned to nobody

[2016-10-28 01:03] kareem commented on #164
Related request for milestones: https://github.com/codetree/codetree/issues/520

[2016-10-28 01:06] kareem commented on #163
Closing probably won't do this.  I hear why you'd want to do this for the sake of visual noise, but seeing the labels gives the customer confidence that the issues being displayed match the filter.  I'm not sure it's worth the tradeoff.  @ezra-g LMK if you strongly disagree and why.  Thx.

[2016-10-28 01:06] #163 closed, assigned to nobody

[2016-10-28 01:18] kareem commented on #156
@awaxman11 @adambair great feedback. we're going to think hard about your suggestions.

[2016-10-28 01:21] kareem commented on #151
Only marking this as low and not medium b/c creating labels doesn't happen often.

[2016-10-28 01:25] kareem commented on #146
@mazesoul interesting idea.  One thing we're thinking about is how to keep issues and PRs and tasks for a feature together in a related bundle.  Can you help us understand why you've asked for this and how you'd use it?  It's definitely something on our radar.

[2016-10-28 01:30] kareem commented on #140
@ezra-g @dallasgutauckis Thanks for the suggestion.  Capacity planning is is on our radar right now.  Are you up for a short chat to make sure we understand what you're looking for?  If so please drop ryan@codetree.com a line and he'll set something up.  Thx!

[2016-10-28 01:54] kareem commented on #114
@jamesraby Interesting.  Are you asking for a feature that would let you move to a stage when an issue is assigned to a person?  Or when an issue is moved to a stage to auto-assign it to a person?

Related - we are working on a feature that I think will help with this.  Can we run some mocks by you and get your feedback?  If so please drop ryan@codetree.com a line - he's driving the feature over h

[2016-10-28 16:37] wanderingmatt commented on #210
Let me know if I can help in any way.

[2016-10-28 16:59] kareem commented on #210
Thanks Matt.

[2016-10-30 16:57] p8 commented on #217
Hi Kareem,
This will probably be fixed when Codetree keeps track of whether you're in Board or List view.
What I'm doing is the following:
1. I click on the test shortcut and see the taskboard
2. I click on the milestones and see 1 milestone called test
3. I click on the milestone test and see a list view instead of the taskboard (this sets the view to list).
4. I click on the test shortcut and I

[2016-10-31 03:41] kareem commented on #217
Thanks @p8 that's super helpful.  You're right, this should be addressed when we deal with the the board view / list view issue.

[2016-11-01 05:09] kangaroo5383 commented on #191
@kareem thank you for the follow up, apologies on the lack of reply as I didn't see the previous comments.  It would be great to chat and check out the new feature.  "commit verb" as you describe definitely sounds interesting, let me know when is a good time. 👍

[2016-11-07 18:30] aguynamedryan commented on #15
@djreimer, Is this feature supposed to be working?  If so, I can't figure out how to use it.  I'd _really_ like to have this feature.

Thanks!

[2016-11-07 18:42] derrickreimer commented on #15
Believe so!

![drip_-_issues_ _codetree](https://cloud.githubusercontent.com/assets/341387/20070832/95f6adf6-a4e7-11e6-8a53-f3703f4a9f3a.png)

(FYI - http://blog.codetree.com/articles/codetree-has-new-owners.html)

[2016-11-07 18:46] aguynamedryan commented on #15
Yup!  Works _exactly_ how I'd like it to.  Just hadn't figured out where to find it.  Thanks for replying so quickly especially since Codetree has changed hands!

[2016-11-07 18:58] kareem commented on #15
Thanks Derrick :)

Ryan, where did you expect to find it? Always looking to improve the
product :)

On Monday, November 7, 2016, Ryan Duryea notifications@github.com wrote:

##

Kareem Mayan
Partner, Codetree
https://codetree.com/?utm_source=email_sig&utm_medium=email&utm_campaign=email_sig
: Lightweight project management for GitHub issues
e: k@codetree.com
c: 604.781.4562

[2016-11-07 19:20] aguynamedryan commented on #15
@kareem, thanks for asking.  I expected it to be a drop down like assignee is:

<img width="222" alt="where_i_expected_to_change_repository" src="https://cloud.githubusercontent.com/assets/117722/20072128/116705dc-a4dc-11e6-9804-30470545e6fb.png">

[2016-11-07 19:56] kareem commented on #15
Awesome, that's what we'd hoped.  We have a ticket filed for this.  Thanks
Ryan.

On Mon, Nov 7, 2016 at 11:20 AM, Ryan Duryea notifications@github.com
wrote:

##

Kareem Mayan
Partner, Codetree
https://codetree.com/?utm_source=email_sig&utm_medium=email&utm_campaign=email_sig
: Lightweight project management for GitHub issues
e: k@codetree.com
c: 604.781.4562

[2016-11-08 13:53] Reinmar opened #222 ""Add milestone" field looks like the search input"
![image](https://cloud.githubusercontent.com/assets/156149/20101586/edeb47de-a5c2-11e6-9bb1-cf54fd98867f.png)

I already couple of times created new milestones when I was trying to search for some issues. That's because it's very similar to:

![image](https://cloud.githubusercontent.com/assets/156149/20101620/15556282-a5c3-11e6-9f92-73f1c4cfbd54.png)

The minimum will be to style it significantly

[2016-11-09 20:01] kareem commented on #111
@robchandhok interesting idea.  Do you have a screenshot you could share of how you do this today?  Feel free to redact and email if you don't want it public - k@codetree.com.  Thanks.

[2016-11-09 20:22] kareem commented on #94
Seems sensible @andrewborstein.

[2016-11-09 20:26] kareem commented on #67
Some possibilities:
1. We make some decisions and bake in first-class citizens to the UI.  e.g. "Issue Type" (which would be e.g. Feature, Bug, etc).
2. We enable true custom fields so that anything starting with e.g. "Type: " (user definable) gets its own dropdown in the Issue Modal.

[2016-11-09 20:28] kareem commented on #3
This is under active development right now.

[2016-11-09 23:06] kareem commented on #39
We've implemented a solution to speed up syncing.  If you still notice syncing issues by all means comment in this ticket or open up a new one, but things should be a lot snappier sync-wise now.

[2016-11-09 23:06] #39 closed, assigned to rapidnoodle

[2016-11-09 23:14] kareem commented on #156
Related to #20

[2016-11-09 23:36] jbcpollak commented on #3
Awesome!

On Wed, Nov 9, 2016 at 3:28 PM kareem mayan notifications@github.com
wrote:

[2016-11-09 23:51] kareem commented on #3
👍

On Wed, Nov 9, 2016 at 3:36 PM, Joshua Chaitin-Pollak <
notifications@github.com> wrote:

--
Kareem Mayan
Partner, Codetree
<https://codetree.com/?utm_source=email_sig&utm_medium=email&utm_campaign=email_sig>
: Lightweight project management for GitHub issues
e: k@codetree.com
c: 604.781.4562

[2016-11-17 00:30] kareem commented on #180
Hi @RussTedrake we just launched this.  Type `j` or `k` on an Issue Modal and you'll go to the next / prev issue in the group (if the issue was opened from List view) or in the column (if the issue was opened in Board View).

[2016-11-17 00:30] #180 closed, assigned to nobody

[2016-11-17 00:33] RussTedrake commented on #180
Great.  Thanks!

[2016-11-24 00:07] rstocker99 commented on #116
This has been deployed to production. If you use `needed-by #XXXX` we'll create a backwards relationship.

[2016-11-24 00:07] #116 closed, assigned to rapidnoodle

[2016-12-09 22:58] kareem commented on #197
@WanderingMatt Just deployed a fix for this.  Now when you click in the modal, you get the label picker.

![2016-12-09 at 2 58 pm](https://cloud.githubusercontent.com/assets/26123/21067425/fb53b7ce-be1f-11e6-9e29-517b5e923c16.gif)

[2016-12-09 22:58] #197 closed, assigned to ac21

[2016-12-09 23:16] kareem commented on #197
BTW, here's the pattern:
* when you click in the issue modal, you are clicking to change things.
* when you click OUTSIDE the issue modal, you're clicking to view/filter things.  If this isn't true, there's a UI affordance to let you know that you're clicking to change.

[2016-12-12 09:56] tuncelmert opened #223 "When I try to open user menu in any tab of project settings page, menu gets cut off on hover"
Here is a video showing the bug.
http://nimb.ws/uhrs1V
(Please let me know if the link is not working)

[2016-12-12 12:25] p8 opened #224 "Ordering shortscuts is broken"
When I try to move the bottom shortcut to a higher level it doesn't work

[2016-12-12 15:35] derrickreimer opened #225 "Filter pull requests by review status"
Hey guys, wanted to put this on your radar publicly, to see if there's any other interest among CT users.

I would LOVE to be able to filter my pull requests by their "review state" in Codetree. It looks like API support for querying the review status of any given PR is somewhat limited at this point, but they do appear to be sending a [PullRequestReviewEvent](https://developer.github.com/v3/activ

[2016-12-12 16:55] nlazarov opened #226 "Set size from the Issue Modal"
When we do the poker planning we set extensively the size field.

From the issues list I only need to add the value in the input.

However it is not easy to set it from the issue modal window - I need to select it from the tag list. It would be easier if the size field from the right pane of the modal view had the same input.

[2016-12-12 18:35] tom-ld opened #227 "A count of filtered issues would be very helpful"
I frequently set filters in Codetree when assigning tasks to people: e.g., filter on all major issues for a given milestone that don't have the label "Verify" and are assigned to a particular person.

I find myself manually counting these issues to be able to tell someone "Glenn, you have 10 issues you need to take care of this week", or when I'm determining whether it is possible for us to meet t

[2016-12-13 08:11] arifb commented on #223
Hey @tuncelmert thanks for the report. I'm able to repro this in Chrome 55.0.2883.87 OS X, we'll have a look.

[2016-12-13 08:13] arifb commented on #224
Hi @p8, thanks for the report, I'm able to repro trying to reorder global shortcuts. The shortcut I'm trying to move snaps back to old position. We'll have a look.

[2016-12-13 17:43] arifb commented on #227
Agreed @tom-ld I think this would be super useful. Have just pushed the change, let me know if this is not what you were looking for.

[2016-12-13 17:43] #227 closed, assigned to nobody

[2016-12-13 20:10] arifb commented on #225
Hey @djreimer, thanks for the note. We definitely have plans to more tightly integrate workflow of a team into Codetree, and this would obviously be part of that.

Could you detail how you'd like to work with Pull Requests in Codetree? Obviously it would be specific to your team but more details the better. Do you simply want to be able to filter PR's by Approved, Requested Changes, and Commented

[2016-12-13 21:49] arifb commented on #226
Hi @nlazarov. We agree with you and it's already on our list. You'll see this change soon.

[2016-12-16 03:23] tom-ld commented on #227
Works GREAT! I didn't even realize you had pushed the change until I was thinking "wonder how many issues Andy has left to close?" and there on the header was the exact count I wanted.

Thank you!

[2016-12-20 16:34] matthewlehner opened #228 "cmd-i to open issue switcher also opens Mail.app from Safari"
In Safari, I thought I'd give the issue switcher a go – love the idea, but it's opening Mail.app (as well as the issue switcher)

I'm using the latest Safari Technology Preview on this side of things.

[2016-12-20 20:37] rstocker99 commented on #228
Well that's embarrassing isn't it! It was originally CMD-k but that's bound by default in Chrome on Linux. We've added CMD-k back so now both bindings will work. Give it a try when you get a sec and let us know what you think.

[2016-12-20 20:37] #228 closed, assigned to nobody

[2016-12-22 20:24] derrickreimer commented on #225
That's basically it. I want Codetree to be able to show me the following:

- all pull requests requesting my review
- all pull requests with changes requested (by one or more reviewers)
- all pull requests approved (by all reviewers)

Looks like GH just released their Reviews API preview! 🎉  https://developer.github.com/v3/pulls/reviews/

[2017-01-05 21:36] arifb commented on #224
Hi @p8 this has been fixed and pushed, sorry about the delay.

[2017-01-05 21:36] #224 closed, assigned to nobody

[2017-01-06 08:52] p8 commented on #224
Thanks! Works great!

[2017-01-09 02:33] kareem commented on #226
Launched this last week @nlazarov: https://headwayapp.co/codetree-changelog/change-issue-size-from-the-modal-14174

[2017-01-09 02:33] #226 closed, assigned to nobody

[2017-01-17 12:20] electric-al opened #229 "Moving issue to new milestone results in it dissapearing"
Steps:

1) Create new milestone in milestone screen
2) Go back to list view and create / edit an issue and assign to the new milestone.
3) Issue does not appear in list (if new) or disappears if you are moving milestone.
4) to make the new milestone appear, you need to refresh the page

Expected:

New milestone should appear in list view without refresh.

Cheers

[2017-01-17 12:22] electric-al commented on #160
This would be very handy for our workflow as well. As well as 'no grouping' #156

[2017-01-17 12:22] electric-al commented on #156
+1

[2017-01-17 23:44] tom-ld commented on #206
We use multiple assignees here as well, and would like to see this as a feature in Codetree. Frequently our issues require independent work from multiple people (e.g., we may have an issue that needs a change in the backend as well as a matching change in the UI). When that happens, we assign the issue to both the backend and the UI developers.  Now both developers know that they are on the hook f

[2017-01-18 00:35] kareem commented on #206
Thanks Tom, that's super helpful to understand how you guys use multiple
assignees.  It's come up a few times recently so this data point is helpful.

In the short term, using Dependencies may be helpful to keep track of
related issues:
http://codetree.helpscoutdocs.com/article/8-dependencies

[2017-01-18 05:02] kareem commented on #229
👍 Agreed. Thanks Al.

[2017-01-18 17:16] tom-ld commented on #206
Kareem - thanks for the tip on Dependencies, I'll pass that on to our team.

In the mean time I thought I'd pass on a comment made by one of our Dallas developers that might help further (I'm trying to get him to join the Codetree fold :-):

"""

I see. I am not using CodeTree and I didn't realized it does not support this. This explains why I don't get a response for some dual-assigned issues.

K

[2017-01-18 21:54] electric-al commented on #100
Would love a easy button to 'mark as answered' for the use cases mentioned above.

[2017-01-20 10:37] electric-al commented on #100
Use case: When I use the 'move to a different repo' feature for issues in codetree, it adds "cc @username" to the bottom, and appears in my 'unanswered' list. The only way I can make it go away is to put a dummy comment in!

[2017-01-20 11:11] electric-al opened #230 "Unanswered view count incorrect"
A picture says 1000 words:

![screen shot 2017-01-20 at 11 09 28](https://cloud.githubusercontent.com/assets/149461/22147586/236a7d36-df01-11e6-882f-4712abae7e17.png)

(no other milestones or issues on the page)

[2017-01-20 11:12] electric-al commented on #230
Sorry, I have worked this out. Two extra are from 'closed milestones'.

Might need some indication in the UI?

[2017-01-23 07:14] kareem commented on #100
thanks @electric-al, thanks helpful!

[2017-01-23 07:15] kareem commented on #218
Related to https://github.com/codetree/feedback/issues/230#issuecomment-274048022

[2017-01-23 07:16] kareem commented on #230
Thanks for the report.  We definitely don't handle issues in Closed Milestones well. Added a reference to the Closed Milestones issue so we address this issue too.

[2017-01-23 07:19] kareem commented on #206
@tom-ld That's super helpful, thanks. Having issues fall through the cracks b/c of the way we currently handle multiple assignees is definitely not great. Will talk this over with the team.

[2017-01-25 17:38] tom-ld commented on #206
By the way I did get our Dallas developer to start using Codetree, and now he's active with it all the time. His feedback:

"I just have to say again how much progress CodeTree has made. I am in codetree UI all the time: moving things, commenting, scanning the milestones ahead, checking priorities. Github issues UI creates so much unnecessary stress by mixing everything up. Codetree is very nice."

[2017-01-26 07:01] kareem commented on #206
Hey @tom-ld thanks so much for the kind words.  Your developer's feedback made our day!  👍

[2017-02-10 03:42] tom-ld opened #231 "Limit on issues handled by Codetree?"
I'm not sure if I'm going to be coming off like an idiot reporting this ... but for some strange reason Codetree stopped displaying issues from our repo after issue #550.

Here is the Github issues list:

![github](https://cloud.githubusercontent.com/assets/11142402/22813201/b5e45922-eefe-11e6-921d-8e30a86654d5.jpg)

I created a couple of test issues from Codetree, #558 and #559. They did not show

[2017-02-10 05:10] kareem commented on #231
Hi Tom,

Very strange.  I'll take a look and let you know what I find.  Sorry you
guys are seeing this.

[2017-02-10 06:38] kareem commented on #231
Hi Tom,

Looks like we're having some issues that are causing slow response times and slow processing of inbound GH issues.  Apologies.  Working on it now.  Newly-created GH issues will get to Codetree, just not with their usual snappiness.  More soon.

[2017-02-10 07:01] kareem commented on #231
Hi @tom-ld we've resolved the issue and perf should be back to normal, as should pulling issues from GH.  Please let me know if you see any other issues.  Thanks!

[2017-02-10 07:01] #231 closed, assigned to nobody

[2017-02-10 16:48] tom-ld commented on #231
Hi, Kareem, all better now! Thanks for fixing this so promptly. Excellent job!

[2017-02-10 21:12] kareem commented on #231
👍

[2017-03-10 07:30] electric-al opened #232 "Make the 'repository selector' slightly wider"
Any chance of making the repository selector when creating a new issue a bit wider? Some of our repos have a common prefix, and we can only read a few chars after them as it is!

In fact, I am currently running some custom CSS to tweak the new issue popup and make the right hand panel wider, as I find it all bit tight. I have:

[code]

YMMV.

[2017-03-12 03:04] arifb commented on #232
Ha! Love that running some custom CSS - I will look into this Al thanks.

[2017-03-17 06:32] lekxy37 opened #233 "Karnjan"
Github,thc

[2017-03-23 19:27] #233 closed, assigned to nobody

[2017-03-23 20:26] arifb commented on #232
Hey @electric-al - was just looking at this. I'm finding the repo name wraps, so I can see the whole repo name, see attached gif. Are you not seeing this behaviour?

Or maybe I'm misunderstanding the issue you're describing.

![long-repo-name](https://cloud.githubusercontent.com/assets/40671/24268811/57669812-0fcc-11e7-84b5-2f4a92a929b5.gif)

[2017-04-06 23:58] kareem commented on #206
Hi all-

We just soft-launched multiple assignee support today.  Please let me know if you see any issues.

Thx,

Kareem

[2017-04-06 23:58] #206 closed, assigned to nobody

[2017-05-09 17:17] chendrix commented on #11
This is something that [Concourse](https://github.com/concourse) would be very interested in having. We are looking for a way to make our OSS project's direction and roadmap more publicly consumable/interactable, and this is a must-have.

[2017-05-11 12:50] seocam opened #234 "Tags won't sync to repos added to a project"

[2017-05-11 20:10] arifb commented on #234
Hey @seocam - could you give some more details around what you're looking for here?

[2017-05-11 20:10] arifb commented on #232
@electric-al Going to close this as I haven't heard back - reopen if this is still an issue, thanks.

[2017-05-11 20:10] #232 closed, assigned to nobody

[2017-05-11 20:46] seocam commented on #234
I had a project with `n` repos configured. Few months after I've added a new repo to this project but my issue `labels` didn't sync into the new repo.

[2017-05-11 20:49] arifb commented on #234
@seocam IIRC this should happen in a background task that runs periodically - can you quickly check again to verify that they are still missing?

[2017-05-12 12:02] seocam commented on #234
I've added the repo to the project about 40h ago and the labels still missing. I've just realized that no milestones were synced either.

[2017-05-14 01:21] rbetts opened #235 "Don't allow an issue to be its own dependency"
The UI allows an issue to be its own dependency and then marks it as both needed and needed-by itself.

<img width="889" alt="screen shot 2017-05-13 at 9 11 00 pm" src="https://cloud.githubusercontent.com/assets/158141/26030442/ee63a5e8-3821-11e7-8d9e-62db8dcaf51e.png">

[2017-05-14 01:34] rbetts opened #236 "Unclear how to remove a dependency"
I created dependencies using the `needs` keyword in a comment added via the codetree UI. Removing those comment via the codetree UI, however, doesn't delete the dependency.

[2017-05-16 15:31] kareem commented on #236
Hey @rbetts this isn't possible right now but it's very high up on our list.

[2017-05-16 15:33] kareem commented on #235
@rbetts good catch - thanks.

[2017-05-17 18:03] kangaroo5383 opened #237 "Links from emails do not open the right issue on mobile"
Example link: https://codetree.com/projects/b5xm/issues/3951104

Often time I find myself having to check on issues from my iPhone, clicking on issues in the email does not open the proper issue.  I have multiple projects on codetree so that could be a cause.

Expected result: a simple page with the content of the issue.
Current result: it opens a project's dashboard and that's it

[2017-05-17 18:19] kareem commented on #237
Sorry about that @kangaroo5383.  Just to confirm you're talking about issue links in the daily digest email, right?

[2017-06-08 12:00] electric-al opened #238 "Recently closed issues"
It would be great to have a 'recently closed' issue feed so I can monitor stuff getting done.

[2017-06-19 07:21] karamelata opened #239 "c6b610c"
c6b610c

[2017-06-19 12:32] #239 closed, assigned to nobody

[2017-06-19 12:36] kareem commented on #31
Just launched breaking dependencies:

https://changelog.codetree.com/break-dependencies-25746

Moving @aseemk's [comment](https://github.com/codetree/feedback/issues/31#issuecomment-73003452) about parsing multiple dependencies out of a list to a new issue.

[2017-06-19 12:36] #31 closed, assigned to rapidnoodle

[2017-06-19 12:37] kareem opened #240 "Parse dependencies out of a markdown checklist"
@aseemk left [this comment](https://github.com/codetree/feedback/issues/31#issuecomment-73003452) on another issue:

Would you guys consider automatically picking up issues linked in Markdown task lists? E.g.:
- [ ] #1234 Foo bar
- [ ] [#1234] Foo bar
- [ ] Issue #1234: Foo bar
- [ ] Foo bar #1234
- [ ] Foo bar (details in issue #1234)

That's the convention we've been using for a long time across

[2017-06-19 12:37] kareem commented on #236
@rbetts just launched this:

https://changelog.codetree.com/break-dependencies-25746

Thanks for the feedback.

[2017-06-19 12:37] #236 closed, assigned to nobody

[2017-06-21 21:22] arifb commented on #216
@chris-fa This is pushed, you can now see PR's alongside issues (or on their own)

[2017-06-21 21:22] #216 closed, assigned to ac21

[2017-06-21 21:36] arifb commented on #238
This makes sense and has to be a common use case. Promoting to our internal project tracker, thanks @electric-al

[2017-07-06 03:55] Granadarestaurantpub commented on #238
Granada Restaurant & pub

[2017-07-10 13:18] jtarchie opened #241 "user autocomplete on issue does not include the original author in drop down"
Wanted:

Given I am commenting on an issue through the codetree modal,
When I try to autocomplete the `@` username of the issue author,
Then their name should appear in the autocomplete drop down.

[2017-07-10 19:08] kareem commented on #241
@jtarchie this should work:

![2017-07-10 at 12 07 pm](https://user-images.githubusercontent.com/26123/28035150-63d5f204-6568-11e7-9eb0-e3a706752e49.gif)

Are you seeing something different?  One thing to watch out for is case-sensitivity.  If I searched for @Kareem in the above clip it wouldn't have autocompleted (we have an issue filed for that).

[2017-07-14 12:36] parhelium commented on #221
+1

[2017-07-20 20:03] kareem commented on #76
Just soft-launched Batch Editing:
http://docs.codetree.com/article/17-batch-editing-issues

[2017-07-20 20:03] #76 closed, assigned to nobody

[2017-07-27 20:05] kareem commented on #164
Hey @ezra-g just shipped a fix for this for both assignees and milestones.  Please let me know if you see any problems.

![2017-07-27 at 1 03 pm](https://user-images.githubusercontent.com/26123/28689910-2aa8e77c-72cc-11e7-9edf-e15b36939f52.gif)

[2017-07-27 20:05] #164 closed, assigned to nobody

[2017-08-15 04:13] bekervincent commented on #241
/add dropdown

[2017-08-16 17:55] bekervincent commented on #241
@bekervincent25
Lascahobas
Lahoye
Casse
Cayemites
ODVA

[2017-08-16 18:02] #241 closed, assigned to nobody

[2017-08-23 17:28] marcospereira commented on #207
Hi @kareem,

There is the opposite flow where milestones were created in Github and, when using Codetree, you can't tell which project owns that milestone. For example, consider that Foo and Bar have the following milestones **before integrating with Codetree**:

1. Foo: 1.2.3, 1.2.4, 1.2.5
2. Bar: 1.2.5, 1.2.6, 2.0.0

It is confusing to know which project owns "1.2.3" (only "1.2.5" is in both pro

[2017-08-28 04:29] imagolive opened #242 "How to sign into another account"
Sign into wrong account,
Signed out,
Now it automatically signs me into the first account every time,
How do I sign into another account?

[2017-08-28 05:09] kareem commented on #242
Hey @imagolive, try signing out of GitHub, then log back in to Codetree.

[2017-08-30 03:36] imagolive opened #243 "Moving issues between repos"
If you have a project with multiple repos then it is really easy to place an issue into the wrong repo.

Can you move the issue back into the correct repo somehow?

[2017-09-02 18:21] Reinmar opened #244 "Cannot unlink repository which doesn't exist any more on GH"
When I try to unlink a repository which I previously deleted on GH I get 404:

POST https://codetree.com/projects/***/repositories/*** 404 (Not Found)

[2017-09-02 18:22] Reinmar commented on #244
I wouldn't mind that much if issues from this deleted repository weren't cached by Codetree and displayed on the issue list.

[2017-09-05 20:23] felixfbecker commented on #240
This is possible with the `needs` keyword, but it would be awesome if
1. the order the dependencies are listed matches the order in the checklist
2. the checkbox would be checked automatically when the issue is closed (not as important as 1.)

[2017-09-07 20:49] kareemlmc commented on #207
@marcospereira good point.  Can you help me understand why it's important to know which GitHub repo owns a milestone?  Once you have an issue in a _different_ repo in the same project as the repo that owns the milestone, Codetree will create milestone in the new repo.  So at that point the milestone will live in both repos.

[2017-09-07 20:51] kareem commented on #207
Hi @marcospereira can you help me understand why it's important to know which repo owns a milestone?

Once you have an issue in a _different_ repo in the same milestone, Codetree will create the milestone in that new repo.  At that point the milestone will live in both repos.

[2017-09-12 15:56] #242 closed, assigned to nobody

[2017-09-12 15:58] arifb commented on #243
Hi @imagolive - yes, you can do that with codetree, using the quick actions hamburger menu to the left of the issue, see attached gif.
![move-to-different-repo](https://user-images.githubusercontent.com/40671/30335974-9340a2d4-9798-11e7-9d2a-7d1ece2eb1cc.gif)

[2017-09-12 15:58] #243 closed, assigned to nobody

[2017-09-21 20:40] felixfbecker opened #245 "Issue dependencies should be displayed as a tree with drag and drop support"
Currently if I have a tree of issue dependencies and I want to prioritise the master/epic issue, or items in between, I need to drag and drop every single issue. I wish dependent issues were simply nested under the mater issue, so that I can drag and drop the master issue and all of its descendants.

[2017-09-22 01:21] rstocker99 commented on #210
Fix for this has been pushed.

[2017-10-18 13:54] cseidema commented on #221
+1

[2017-10-18 13:54] thecp commented on #221
+1

[2017-10-18 13:54] stefanlangerhebo commented on #221
![image](https://user-images.githubusercontent.com/26866609/31722734-2ae30da2-b41d-11e7-9009-d952aaf0a58a.png)

[2017-10-18 13:55] ipoerner commented on #221
+1

[2017-10-18 13:56] mmenschner commented on #221
![image](https://user-images.githubusercontent.com/10629021/31722621-dc9f3db4-b41c-11e7-98f0-5f05134c6119.png)

[2017-10-18 17:46] kareem commented on #221
Hah, message received @mmenschner, @stefanlangerhebo, @thecp, and @cseidema.  Will +4 the request internally.

[2017-10-24 09:36] psykikkkg opened #246 "Imovane"

[2017-10-24 09:38] lekxy37 commented on #246
246

[2017-10-24 09:39] lekxy37 commented on #246
246

[2017-10-24 09:39] lekxy37 commented on #245
246

[2017-12-09 10:50] zalew16 opened #247 "hello"
128

[2017-12-09 10:51] zalew16 commented on #247
#247

[2017-12-11 20:19] felixfbecker opened #249 "Burndown charts should allow arbitrary filters like list view"
I am very happy to see the new burndown charts, but they are of limited usefulness if they always include all the issues in all the repos. As a dev or project lead I am only interested in issues of my specific project, so I want to filter by labels like on the list view (and switching views should carry over the filters like it does for board/list view).

[2017-12-13 03:53] #247 closed

[2017-12-13 03:53] zalew16 commented on #249
On

[2017-12-15 01:24] bongborey opened #250 "Pls"
With regard

[2018-02-17 07:14] elpddev opened #252 "bug - when adding custom label to issue afte opening, codetree-epic issue is removed"
Reporting a bug.

Steps:
- Adding an issue
- After added, opening it and adding a custom label to it.

Results:
- custom label was added: ok
- label `codetree-epic` was removed: a bug?

I did not see any effect on code tree epic when the `codetree-epic` label was removed though.

[2018-02-18 19:42] elpddev commented on #252
Also happens when moving a code to in progress in the board.

[2018-02-22 11:10] scofalik opened #253 "Show "Reviewers" for PRs. Consider adding Creator column and making data in dependencies table customizable."
Recently, I've been trying to work with Pull Requests on Code Tree and, unfortunately, for me the data shown in the tables aren't much useful. It would be nice if we would be able to customize which columns are shown.

For PRs, I'd rather have "Reviewers" instead of "Assignees", although this is relatively new thing on GitHub. I also miss "Creators" column a lot.

[2018-02-22 15:44] kareem commented on #253
Hi @scofalik, thanks for the feedback.  We've got some PR enhancements on our roadmap, and using Reviewers is on it.

What columns would you like to see in the tables?  And when you say the "Creator" column, you're saying you'd like to see the PR Creator?  Can you help me understand the scenario where this is important to you?

Thx!

[2018-02-22 15:55] scofalik commented on #253
Hi, yes, you understood it right with "Creator" column. Mostly, I'd like to just quickly filter out my own PRs without needing to read titles :).

Alternatively, in filtering section, "Select all button" would let me select all members and then un-select me, which would lead to the similar result. However, this is a quite different feature.

[2018-02-22 22:00] kareem commented on #253
Got it @scofalik thanks.  Can you help me understand what other columns you'd like to see in the tables, and why?

[2018-02-22 22:02] scofalik commented on #253
It was just a suggestion, cause I guess that everyone may have their own preferences. Nothing particular.

[2018-02-23 03:48] kareem commented on #253
👍 Thanks @scofalik

[2018-03-10 16:37] eparejatobes opened #254 "Allow linking a pull request with several issues"
Maybe there's a way of doing this, but adding several "Addresses #XYZ" comments doesn't work.

[2018-03-16 04:46] KevinGrahamFoster opened #255 "Filter backlog"
Hi there, I'd like to be able to make the filters apply to the backlog in the Kanban view. With the old To Do view it automatically supported filtering. Now that it's gone, I'd like to be able to see all of the issues in a milestone, even in the backlog.

[2018-04-09 07:11] warpech opened #256 "Issue and PR titles should be real links"
Right now, the issue and PR titles on the list of issues are not real links. This means that you can't really right click on them to open in a new window. Or CTRL+click on them to open in a new tab. This is a big productivity bump.

Steps to reproduce:

1. Go to your Codetree project issues list
2. Right click on a issue title

Expected

There should be an option "Open link in a new window"

Actua

[2018-04-09 07:21] warpech opened #257 "Milestone dragging does not work when page is scrolled"
Steps to reproduce:

1. Go to your Codetree project milestones list
2. Make sure there is enough milestones to require scrolling of the page to see all of them
3. Scroll the page down to see the last milestone
4. Drag the last milestone up

Expected

Milestone dragging should work the same way it works when the page is not scrolled.

Actual

The "ghost" of the dragged milestone is not visible when

[2018-04-09 07:51] warpech opened #258 "Input on the top of the Milestones list should be for filtering, not for adding"
On the top of the milestones list there is an input field. In my opinion, it should be for filtering of the milestones, not for adding of a new milestone. My reasoning:

1. It is misleading to have "filtering" input in the Issues list but an "creating" input in the Milestones list. I have created few milestones by mistake when I thought I will am filtering.
2. I have a lot of milestones and filter

[2018-04-09 13:13] kareem commented on #258
Thanks @warpech.  Agreed this is not optimal.  Not high pri but it's in our internal queue.

[2018-04-09 13:14] kareem commented on #256
Thanks @warpech, good suggestion.  It's in our internal queue but this issue +1's it.

[2018-04-09 13:15] kareem commented on #257
Hi @warpech thanks for the bug report.  I've verified this is an issue and will add it to our queue.

[2018-04-10 08:30] warpech opened #259 "Add a button to sort milestones automatically by due date"
It's a pity that when setting a due date, I have to manually drag and drop the milestones to keep them sorted by the due date.

I would appreciate a button above the list of the milestones to reorder the milestones according to the due date.

[2018-04-11 09:59] warpech opened #260 "Filtering by milestones causes them to be displayed in wrong order"
## Steps to reproduce

1. Create a few milestones and apply arbitrary order to them
2. Assign issues to milestones
3. On the issues list, press "Add a filter"
4. Select all the milestones and press "Apply filter"

## Expected

The list of all issues in the selected milestones is presented, grouped by milestones and sorted by the arbitrary order of the milestones.

## Actual

The list of all issues

[2018-04-11 19:37] felixfbecker opened #261 "Does burndown chart consider size of issues?"
## Background
Some users and projects use issue size as part of their workflow, however, the burndown chart only allows for counting of issues.

## User comment
The Y axis label of burndown charts says "Issue Count" - I would expect it to respect the size of issues like https://github.com/radekstepan/burnchart does

## Solution
add a toggle to use issue size in burndown;  only show the toggle if d

[2018-04-18 01:55] taggartbg opened #262 "Double quotes not escaped when filtering by epic name"
When hitting the `/issues` endpoint and passing a query string for the epic, it will not escape the `"` character, and results in a server error:

<img width="614" alt="screen shot 2018-04-17 at 6 51 06 pm" src="https://user-images.githubusercontent.com/4722966/38907353-532b3ca8-4270-11e8-9318-d0872b3fe95f.png">

Even when I pass `%22`, it gets turned into a `"` and errors out.  This does not happ

[2018-04-19 12:22] mleffler opened #263 "Need Custom Stages to allow for multiple labels"
To use task board stages, we have multiple labels that we need to map to one custom stage.  I cannot find a way to do this - every label needs to map to a new stage. This is imperative, as we have a number of different statuses that connote a certain stage, and cannot possibly ask people to use another special label to just manage swim lanes.  Also, we are not in control of all labels, as one of o

[2018-05-09 15:17] mleffler opened #264 "BUG: In Task Board view, need a column that shows all issues not labeled to show in another swim lane"
The Backlog column in Codetree, in my mind, is broken.

If I go to Task Board in a milestone, the Backlog column (which I can now choose to not display, thank you), but it shows all tickets - not just the tickets in that milestone.  They are ordered all over the place, and you cannot actually see what is in the milestone (Sprint).

This column should show all issues assigned to the milestone that

[2018-05-09 15:19] mleffler opened #265 "BUG: When you add an Epic in task board view, all Epics disappear"
Click on Epics to display all Epics.

Often Epics do not display in task board view - but they do in list view.  When I add a new epic, they all disappear, reproducibly.  Using Chrome or Safari, Mac.

[2018-05-09 15:19] mleffler opened #266 "Can't add a closed issue to an Epic"
Sometimes we will work on some issues, and then decide they need to be part of an Epic- or we will reorganize Epics.  If an Issue is closed, you cannot add it to an Epic.  Please remove this constraint.

[2018-05-09 15:21] mleffler opened #267 "Is there some way to mark "Unanswered" tickets as answered?"
The Unanswered feature is a great idea.  Unfortunately, since you have to comment on a ticket to clear this, the filter is not very useful since often I am mentioned in a ticket, but do not have a specific action.  If you could even create a way to automatically touch the issue, so I can mark it off, that would be helpful.

[2018-05-16 06:23] geoffturk commented on #264
I am experiencing the same issue.

List view works fine:
`Showing list of 4 open issues under MyMilestoneName milestone`
I see the 4 issues that have that milestone assigned to them.

But when I switch to board view:
`Showing task board of 4 issues under MyMilestoneName milestone`
I see my one issue in the Planned column, but there are a number of other issues (48 in fact) in the Backlog column ot

[2018-05-18 17:46] mleffler commented on #261
Agreed.  Having a burndown for number of issues is not useful at all, and defeats the purpose of sizing and getting a sense as to how the team is doing.

https://en.wikipedia.org/wiki/Burn_down_chart

Please base the burndown on size - "Sum of Task Estimates", which is the definition of a burndown chart.

[2018-05-18 18:13] kareem commented on #261
Thanks @mleffler and @felixfbecker.  Issue sizing is actually an optional Codetree feature and not everybody has it turned on.  But we hear you loud and clear - supporting points was a "v1" feature that we decided to cut.  It's definitely on our list.

[2018-05-24 11:09] geoffturk commented on #264
@mleffler You might want to rename this issue starting with the word "Bug" in it so that it is more obvious that this is really a bug rather than a feature request.

Something like "Bug: Backlog column in Board view for Milestone not working correctly".

[2018-08-08 08:14] p8 opened #268 "Datepicker fails in epic"
Editing a start date doesn't seem to work for an existing epic.
![image](https://user-images.githubusercontent.com/28561/43824868-b415813e-9ae2-11e8-9502-286f8b75216d.png)

Clearing it doesn't help either
![image](https://user-images.githubusercontent.com/28561/43824959-f48b327c-9ae2-11e8-9e87-0fa7834616d5.png)

[2018-09-20 14:03] maxheld83 opened #269 "add typeahead to repo picker"
would be super nice to have a typeahead in the repo picker below

<img width="777" alt="typeahead" src="https://user-images.githubusercontent.com/5372770/45823775-bcc3ff80-bcee-11e8-97a8-5cb3f22daee0.png">

[2018-09-20 15:37] maxheld83 opened #270 "deleting labels from label overview does not work"
delete button does seem to do anything.

<img width="1412" alt="delete" src="https://user-images.githubusercontent.com/5372770/45829728-d3bd1e80-bcfb-11e8-8ed4-44e337e7d9e1.png">

[2018-09-20 15:52] maxheld83 commented on #270
duplicate of #195

[2018-09-20 15:52] #270 closed, assigned to nobody

[2018-09-20 15:54] maxheld83 commented on #195
yeah, I stumbled upon this too – thought I couldn't delete labels as documented in #270.

I find this somewhat unusual for a web app, I'd prefer a way to quickly revert the action, if done in error.

Also, the discoverability is a little glitchy on Safari, I think ... the button just jumps around if I short click.

[2018-09-21 13:12] haikalpribadi opened #271 "Dependency syntax should take a list, e.g. `needs #123, #234, #345`"
Currently, if an issue has multiple dependencies, we have to declare it like:
[code]
This is not very elegant quite error-prone. A simple regex should allow us to do:
[code]

What do we think?

[2018-09-23 15:12] haikalpribadi opened #272 "Make it easy to switch between projects"
Hi CodeTree team,

Right now, it's not straightforward for users to switch between projects within an organisation. Currently, the user needs to go to Organisation page, select the Organisation, a then select project.

This makes it difficult for us to work with multiple projects within an organisation, let alone viewing all of them at once. Because of this, we're making one project for all the re

[2018-09-23 16:22] haikalpribadi opened #273 "Make the first column (aka. untriaged) to consider the provided Milestone in the filter"
At the moment, the first column ignores the milestone provided in the filter.

This makes it very confusing and misleading to use the board view of the filter. Take a simple example: we want to build a kanban board for a given milestone, say v1.5. So we make filter with to settings: view=board, and milestone=v1.5. However, when we go to the filter "Milestone v1.5 board", we see all the open/untria

[2018-09-23 17:34] kareem commented on #272
If you click on the Codetree logo at the top left side of the screen it'll bring up a list of your projects.  Nt completely obvious, I know!

[2018-09-23 17:34] #272 closed, assigned to nobody

[2018-09-23 17:37] kareem commented on #273
Hey @haikalpribadi can you help me understand a little more why this is painful for you?  Is the issue that the column is there at all?  Because if so you can hide it by toggling it to hidden at the bottom of the page:

<img width="569" alt="unified - board 2018-09-23 14-36-47" src="https://user-images.githubusercontent.com/26123/45931030-25ed8200-bf3e-11e8-9cf2-bfe22cf81f6e.png">

[2018-09-23 17:45] haikalpribadi commented on #273
Hi @kareem,

We need the open/untriaged/first column in the board, to know what are the open issues in that milestone. Thus, if we hide the first column, it doesn't become a solution for us.

[2018-09-23 17:46] haikalpribadi commented on #272
oh wow! That definitely wasn't obvious, even after using CodeTree for almost a week now. :)

The solution works for now, though. Thanks!

[2018-09-24 13:16] haikalpribadi opened #274 "Issue Rules: when an issue is closed, the label tagging happens from a different user"
Hi CodeTree team,

We're using the Issue Rules: when an issue is closed, "Add label solved". Like the screenshot below:

![Issue Rules: when an issue is closed, add label "solved"](https://user-images.githubusercontent.com/567679/45954099-fdc85680-c003-11e8-9ff7-54c81e53f14f.png)

However, the when the "solved" label is added to the issue, it was made through a different user account than the user

[2018-09-25 00:12] haikalpribadi opened #275 "Configurable/expandable column widths in task boards"
The issue cards in the task boards can be a bit crowded sometimes. And there just seems to be so much space wasted on the side. See the screenshot below to get what I mean.

![CodeTree Task Board](https://user-images.githubusercontent.com/567679/45985788-d1dabe80-c05f-11e8-8df6-bed4f44645e0.png)

There's just so much space on the right side of the page, while the issue cards being cramped together

[2018-09-25 04:29] arifb commented on #274
Hi @haikalpribadi. This is definitely not ideal but by way of explanation, Codetree currently is a OAuth GitHub app, which uses the GH account of the person who signed up for Codetree to post to GH. We have an issue on our end to move to a GitHub App which would add activities in GH as Codetree or a bot-user.

I know you're asking us to use the same user who closed the issue but there are some act

[2018-09-25 04:30] arifb commented on #275
This has been +1'd in our internal issue tracker, thanks for the feedback @haikalpribadi.

[2018-09-25 14:24] haikalpribadi commented on #275
Do you have an idea of a timeline when it would be released? PS: I think there could be many who would like to contribute to the project if the codebase was open source ;)

[2018-09-25 14:29] haikalpribadi commented on #274
Hi @arifb, thanks for the explanation. We do have a bot account that could be configured to be the "automator". And in fact, `Irtazaraza` (who's account is currently used) is not actually the user who signed up too.

I see, and I understand that things are never as simple as they sound :) but what about a simple check "if `user` is in codetree, use `user`, else pick an admin user from codetree" ?

[2018-09-29 15:39] arifb commented on #275
@haikalpribadi No, we can't commit to a timeline for this feature, it's not at the top of the list. Also wouldn't hold your breath for us to open source the code, no plans for that. Sorry.

[2018-09-30 15:12] arifb commented on #274
Hi @haikalpribadi, thanks. Yes, the conditional check whether the user has OAuth to Codetree, use her, and if not, use another user who does should work.

We built workflow with the goal to soon move to GithHub apps for authentication, and thus would have a 'codetree-bot' user or similar to do these things.

We'll have to discuss internally whether we want to wait for the move to GitHub apps or us

[2018-10-01 12:38] haikalpribadi commented on #274
hi @arifb, thanks for reviewing this! (I've also updated the comment above to make it more readable, I missed a new line after the quote).

In the meantime, if you can use @grabl as the user for any automation, that would be really helpful. It is our bot account that already does lots of automation on our repositories.

[2018-10-01 12:47] haikalpribadi opened #276 "Updated user's name on GitHub does not sync with CodeTree"
Hi CodeTree team,

When we update a name (not username) of a user on GitHub, the name of that user does not get updated on CodeTree.

For example, we have user account called @grabl. If you check on https://github.com/grabl, you can see the name is "Grabl" now. However, on CodeTree the name is still "Grakn Bot" (see below screenshot). We have tried removing the user from Organisation and Projects,

[2018-10-01 12:53] haikalpribadi opened #277 "Ability to zoom on task board, and hide left and top panels"
Hi CodeTree team,

We often use CodeTree to:
1. Show a Kanban board window open as we work, and
2. Show a Kanban board during video calls with the team.

In both cases, especially the second case, we need to zoom on just the Kanban board to have it readable on a video call screen. However, when we do so, most of the screen is filled up by the left and top panel. See the screenshot below.

![CodeTr

[2018-10-01 13:45] arifb commented on #274
Hi @haikalpribadi, I've reviewed the code just now, even though I wrote it I had forgotten ;). We do have logic in the there to try to be smart about the performer for the workflow rules.

For these rules: 'a matching branch is created' and 'pull request created', and 'pull request merged into default branch' workflow rules, the user who initiated the action should be shown as the one performing t

[2018-10-03 15:48] kimberscott opened #278 "Project setting to allow public read access"
We'd like to be able to refer interested parties to our Codetree project so that they can easily see what the plan for development is. Just sending people to look at Github issues across several repos is confusing, especially for non-developers (e.g., potential funders) who just want to know how much total planned work there is, what we could do with say another developer-year, what we're up to no

[2018-10-05 22:50] haikalpribadi opened #279 "Display user's full name rather than GitHub username"
Hi,

As we all know, quite often GitHub usernames do not reflect the user's name, and are not obvious. As the number of contributors/team members grow, this become much harder to manage, especially in company/professional environment.

Could we please have an option to toggle user's display name to either be the username or full name?

Thank you!

[2018-10-06 17:13] haikalpribadi opened #280 "Repository selection of new issues is very problematic"
Hi,

We're using CodeTree to manage issues across multiple GitHub repositories - which I believe is what CodeTree is made for. :)

However, we find that the repository assignment of new issues is very problematic.

1. When we click on "new issue", the default repository is automatically selected, even though, we are on a page filter made for a different repository. I.e. when you're on a filter pag

[2018-10-06 18:00] haikalpribadi opened #281 "How can we delete a CodeTree organisation?"
I want to delete a CodeTree organisation, but I can't find the the ability to do so?

[2018-10-10 17:33] rstocker99 commented on #281
Right now the only way to delete an org is to file a ticket with support. We've got adding the delete button on our list but it's not high priority right now.

[2018-10-10 17:34] rstocker99 commented on #280
Agreed. This is super annoying. I've added your vote to the internal issue we have tracking this.

[2018-10-10 17:38] rstocker99 commented on #278
We have plans for a couple of things in this area:

1. A reader type user that can see issues but not change issues.

2. Users that can CRUD issues but that are NOT backed by Github issues.

3. A light weight planning mode. Something higher level than issues.

Would any of the above give you what you want? If not can you explain in a bit more detail what you're after.

[2018-10-10 17:44] rstocker99 commented on #277
So basically a distraction free mode where the left nav and filter bar are hidden?

BTW, if you haven't noticed already you can toggle the Open and/or Closed columns via the buttons under the columns. That can be useful to create a bit more room in some cases.

[2018-10-10 18:10] rstocker99 commented on #276
This is a weird one. We sync the name by calling `repository_assignees` on the Github API. When I do that from the console the name they return to us is "Grakn Bot".

I'm not sure what we can do if they aren't returning the updated name.

[2018-10-10 20:25] kimberscott commented on #278
Thanks & yes! #1, a reader type user, would work for our purposes. We would just post credentials for such a user publicly so that anyone interested could take a look at what's going on and what's planned.

It would be even better if we could set the project to be publicly readable - i.e. you do not have to be a user at all - just to make it simpler for someone who's casually curious. But that is

[2018-10-10 23:52] rstocker99 commented on #278
Ok, understood re: publicly readable. Thanks for the clarification.

[2018-10-11 13:22] haikalpribadi commented on #277
Hi @rstocker99, we actually need the `open` and `closed` columns.

Yes, but we also need the columns to stretch when there's more space, otherwise reading the cards are just as hard. Although, this is already described in issue #275.

[2018-10-19 11:47] haikalpribadi commented on #276
Hi @rstocker99 , that's not what we see when we query the GitHub API. For example, when we use [PyGithub](https://pygithub.readthedocs.io/) which basically calls GitHub Rest API, this is what we see:
[code]

So it seems that the GitHub API is returning the correct names.

Do you have a cache somewhere that may be returning an old value?

[2018-10-19 18:53] rstocker99 commented on #276
So getting it via `respitory_assignees` was showing the old data but after forcing a sync on just the user it's corrected which I've done. You should be good now.

[2018-10-19 18:53] #276 closed, assigned to ac21

[2018-10-20 14:11] haikalpribadi commented on #276
Thanks, @rstocker99! It did resolve it on our side. How do we do this _"force sync"_ on our side whenever this issue happens again?

[2018-10-22 20:32] chadfawcett opened #282 "Issues randomly go blank"
Often when scrolling though the list of issues they will all go blank for that column.

Sometimes it's after I open an issue and then close the modal.

**Chrome Version 70.0.3538
Mac OS**

![screen shot 2018-10-22 at 1 27 18 pm](https://user-images.githubusercontent.com/3250463/47317490-897ed400-d5fe-11e8-9a36-52d5b803b9fa.png)

[2018-10-26 17:19] rstocker99 commented on #276
There isn't a way on your end to force sync this. It should have synced on it's own. I've filed a bug to track. If it happens again please hit us up on support.

[2018-10-26 17:37] haikalpribadi opened #283 "When you rename a label, you can no longer search issues by that label"
This is a severe bug. To reproduce:

1. create a label `x` and open and issue `#123` assigned with label `x`.
2. create a filter using label `x`, you should see your the issue you just created `#123`.
3. rename label `x` to `y` through codetree.
4. create a filter by using label `y` you just renamed. You will not see your issue `#123`.

What do we think?

[2018-10-29 18:53] rstocker99 commented on #283
This is a known issue. Label renames aren't handled by web hooks for related issues. The rename will get synced during the repos hourly refresh.

It's not ideal and will get fixed at some point.

[2018-10-29 18:55] rstocker99 commented on #282
That's not great. I've filed a bug. That said we are having some trouble reproducing this one. Next time you run into it any chance you open up the Chrome Dev tools and see if there is an error you can paste in. Thanks.

[2018-10-29 22:17] chadfawcett commented on #282
There weren't any errors related to the cards disappearing, but there is a CORS issue related to your fonts that show up when the page is first loaded.

![screen shot 2018-10-29 at 3 14 20 pm](https://user-images.githubusercontent.com/3250463/47683698-99ae2a80-db8d-11e8-9c5f-3a475e244f3d.png)

[2018-10-29 23:17] rstocker99 commented on #282
Thanks for the CORS issue. Filed.

That said we still can't reproduce this one. We're not seeing that issue on the same Chrome build on MacOS. Are there any other repro steps you can offer up? Any particular Chrome Extension you are running? Is it all cards regardless of column?

[2018-10-29 23:45] chadfawcett commented on #282
Upon further investigation trying to replicate, it turns out it's actually happening on a hover. If I hover on an the icon of an `unassigned` issue, everything goes blank.

![invisible cards 2](https://user-images.githubusercontent.com/3250463/47686727-eac41b80-db99-11e8-8a01-db196efee74a.gif)

Also if I hover over a PR number they go blank.

![invisible cards 1](https://user-images.githubusercont

[2018-10-30 23:30] rstocker99 commented on #282
Thanks for the extra repro info. Looks like it's related to showing tooltips. Sadly I still can't reproduce it on our end.

Do you see similar behaviour in other places that show tooltips e.g. the edit issue model or in the list view when you go over the hamburger menu or is it just on cards in the board view?

![](http://g.recordit.co/5f2rCxqgyS.gif)

or

![](http://g.recordit.co/1BlBP8prqL.gif)

[2018-10-30 23:34] chadfawcett commented on #282
Neither of those ones cause issues. So far it's just tooltips within the card lists.

[2018-10-30 23:37] rstocker99 commented on #282
Ok, I've filed a bug but I'm not holding my breath on a quick fix for this one. Sorry :(.

[2018-10-30 23:39] chadfawcett commented on #282
This bug is becoming more interesting haha. It seems like it's only when the lists expand past the width of the screen.

![invisible cards 3](https://user-images.githubusercontent.com/3250463/47757143-4954cc80-dc62-11e8-901c-f656f8a8dd1d.gif)

[2018-10-31 00:30] rstocker99 commented on #282
Well that's one more piece of info. Thanks for sharing that! I got excited that shrinking my view port would help with the repro but alas still doesn't repro for me. Thanks for the help trying to track it down. If you're up for one more peek do you see anything interesting in the inspector when you make a tool tip show?

![](http://g.recordit.co/zyPj5ORZWv.gif)

[2018-10-31 05:52] chadfawcett commented on #282
What an elusive bug! I'm finally in the same boat as you. I'm no longer able to replicate it.

One more slight bug, but not nearly as big of a deal. I noticed the tooltip sometimes gets cut off.
<img width="286" alt="screen shot 2018-10-30 at 10 51 22 pm" src="https://user-images.githubusercontent.com/3250463/47768734-86d34d00-dc96-11e8-938d-602cdde8bc2b.png">

[2018-10-31 19:59] chadfawcett commented on #282
Haha okay, so I'm replicating the issue again. This may or may not be related, but it seems to only replicate if the "Update your payment info" sticky is visible on the bottom left. After removing it, the cards comes back and the tooltips behave as expected.

![invisible cards 4](https://user-images.githubusercontent.com/3250463/47815131-b45add80-dd0c-11e8-808d-9bdec4a487bc.gif)

[2018-11-01 12:21] clizSec opened #284 "Issue with long table content"
The table is breaking through the issue's popup window.

An overflow issue, see an example below:
![capture](https://user-images.githubusercontent.com/21152343/47851424-416f6680-dde1-11e8-9bc4-9c5ec082d151.PNG)

[2018-11-05 17:21] kareem commented on #284
Thanks @clizSec.  Can you:

1. Please share the markdown to generate this example?
2. Share what you'd expect to see in this situation?

[2019-01-15 15:41] ac21 opened #285 "Enlarge github issue button"
At this moment is really hard to go the github issue:
<img src="https://downloads.intercomcdn.com/i/o/96949044/e86101e3cd11ad5c5286d0ad/Screenshot+2019-01-15+at+11.14.26.png">

It would be really great if you can enlarge this button.

[2019-01-15 17:02] svenyonson opened #286 "Allow visibility toggle for custom stages"
Currently, you can show/hide the default triaged and done stages. In a given project, not everyone needs to see all of the stages. And sometimes there are enough stages to make it difficult to fit on the screen. Please add the ability for a user to toggle the visibility of custom stages.

## Proposed Solution
1.  Add a new visual paradigm, wherein each column header is a collapse icon.
2. when cli

[2019-01-17 01:41] ac21 opened #287 "Can't view or edit issues on iPad"
# Background
using an iPad (either chrome or safari), you can't open/view issue details.  The modal screen does not appear.

# Repro / Acceptance criteria
Given I am a user
And I am using an iPad
When I visit `/projects/:project_id/board`
And I select an issue
Then I should see the view/edit issue window

see desktop example:
![Screen Shot 2019-01-16 at 7.46.00 PM.png](https://codetreeusercontent.

[2019-01-17 07:35] ac21 opened #288 "Move [above/below] #issue option on issue creation"
## background
when creating an issue, sometimes you know exactly where you want to place the issue in sequence.  it would be helpful to have a feature to allow you to do that

## solution
Add an option in the issue creation modal "move <above/below> #issue

[2019-01-17 16:07] ac21 opened #289 "Missing item counts from left hand toolbar on iPad"
## Problem
When using an iPad and looking at the list of issues `/projects/:id/issues` or task board `/projects/:id/board`, the left hand menu is missing the item counts associated with each menu item

## Acceptance Criteria
Given I am a user
And I am using an IPad or other tablet
When I am viewing a projects list of issues `/projects/:id/board`
Then I should see a count associated with each menu

[2019-01-17 23:16] misskniss commented on #282
I am also seeing this issue (and also have the 'Update your payment...' tip open).

[2019-01-18 19:25] misskniss opened #290 "Move cards/issues from the To-Do stage to In Progress (or other custom stage) on creation of a branch in a fork of the default repo"
When using the "Fork and Branch Workflow" for git hub, my team and I need a way for the issues in the _To-Do_ stage to move to the _In Progress_ stage when we push a branch *to our own forks* of the default repo.

Without this, we have no real way to say this issue is 'in progress' unless someone manually moves the card in the Code Tree UI. Because we do not create our feature branches directly of

[2019-01-18 19:37] misskniss opened #291 "Remove/replace label for current stage when a fork's branch is deleted without being merged"
depends on #290

Actual Behavior:
When an issue is automatically moved from the "To-Do" stage to the custom stage "In Progress" based on a new branch in a developer's fork, it gets the In Progress label as expected. However, if that remote branch is then deleted by the developer without being merged into the upstream repo (or it's PR is closed instead of merged) the issue remains in the "In Progre

[2019-01-22 08:17] ac21 opened #292 "milestones start date shows invalid date in Firefox"
# Repro
Given I am a user
And I am using Firefox v64+
and I have set a milestone start date previously
when I view the milestone start date
Then I see an "invalid date" in place of the start date

![Screen Shot 2019-01-22 at 2.16.56 AM.png](https://codetreeusercontent.s3.amazonaws.com/uploads/97210ac1-f012-43d7-9f5f-ecea0ffd6e34/Screen+Shot+2019-01-22+at+2.16.56+AM.png)

[2019-01-22 08:19] ac21 commented on #292
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/all/conversations/20498325962

[2019-01-22 14:55] ac21 commented on #290
needs https://github.com/codetree/codetree/issues/1994

[2019-01-22 14:57] #290 closed, assigned to nobody

[2019-01-23 17:45] ac21 opened #293 "Add support for new GH feature 'Transfer Issue'"
Add support to GitHub's Transfer Issue feature currently in beta.  Because this feature is not currenty supported, we have orphaned issues in the old repository that need to be removed manually by a codetree team member.  (please contact us for help)

[2019-01-23 17:49] ac21 commented on #293
needs codetree/codetree#1977

[2019-01-23 18:08] ac21 opened #294 "Add ability to subscribe for codetree webhooks"
# background
A codetree account/user may want to listen for codetree events and publish them to other services like slack for notifications to enable their internal work flows

[2019-01-24 11:45] evancharlton opened #295 "Support for pasting images when filing an issue"
When filing a GitHub issue, you can paste an image directly into the field. I don't know what magic you'd need to do to make this work seamlessly, but ..  please do it :-)

[2019-01-24 15:13] ac21 opened #296 "test"
transferring to see what happens

[2019-01-24 16:20] #296 closed

[2019-01-24 16:34] ac21 commented on #295
@evancharlton - can you expand on your comment a bit?  Does it work sporadically for you?  Also, what browser and version are you using?  I just tested this out and seems to work in the latest chrome but appears a bit flakey in Firefox;  if you can corroborate, I'll see what we can do to get this working a bit better for our FF friends...

[2019-01-24 16:35] evancharlton commented on #295
Interesting. I was trying in Chrome and it didn't work -- I'll try again though.

[2019-01-24 16:43] ac21 opened #297 "Ability to sort and/or filter issues by creation date and last updated date"
## Background
A common use case is looking at recently submitted or updated tickets, however its hard to find them in codetree as their no ability to sort.  Currently, sorting is always based on the manually sorted view

## solution
* add the ability to sort by `created_at` and `updated_at`
* allow sorting overall, within filters, and sorting within milestones
* add the ability to filter by `creat

[2019-01-24 16:44] ac21 commented on #297
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/20552070944

[2019-01-24 17:00] ac21 opened #298 "Automatically assign a stage when added to a milestone"
# background
A common use case is that items come out of the backlog and into some sort of prioritized queue when added to a milestone (as the issue has been triaged and considered important enough for the next milestone).  Today, this requires two steps:  select the milestone and assign a stage label

# solution
Allow for the definition of a workflow automation that adds a given stage label based

[2019-01-24 17:29] ac21 opened #299 "Enable transferring issues from one repo to another within the issue modal"
## Background
The ability to move an issue from one repo to another repo is available from the drop-down actions for an issue within the list view, however, this same functionality is not accessible from the taskboard or within the issue modal

## Solution
Add the functionality to the issue modal so it is accessible everywhere

## Broader Consideration
The Codetree transfer functionality pre-dates

[2019-01-28 04:59] orgalaf opened #300 "Enable showing epic in list view"
We need the epic visible with each issue in list view. We use it for sprint planning and are currently resorting to labels as a workaround.
Thanks

[2019-01-28 05:08] ac21 commented on #300
@orgalaf - do you mind providing a bit more explanation?  the default view shows the milestones (see right hand side of image below), so I'm a bit confused on the request
![Screen Shot 2019-01-27 at 11.07.08 PM.png](https://codetreeusercontent.s3.amazonaws.com/uploads/c147200c-fcf2-4505-9120-d723636e6715/Screen+Shot+2019-01-27+at+11.07.08+PM.png)

[2019-01-28 05:29] orgalaf commented on #300
Sorry, it's early morning here. I meant epic...

On Mon, 28 Jan 2019 at 7:08 Andrew Conrad <notifications@github.com> wrote:

[2019-01-28 16:28] ac21 commented on #3
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/20588561063

[2019-01-29 12:40] alonpor opened #301 "Ability to see all issues in 1 page, with no pagination"
Would be great if we could see all open issues that are not assigned to a milestone in 1 page, with no pagination.

It's harder to groom the backlog without seeing everything together.

Thanks!

[2019-01-30 16:56] orgalaf commented on #3
Is this coming soon?

[2019-01-30 16:57] orgalaf commented on #300
Is there an eta on this?

[2019-01-30 16:58] ac21 commented on #3
@orgalaf - yes!  we have prioritized it and expect to release it before the end of Q1

[2019-01-30 23:22] ac21 commented on #300
@orgalof - i would have liked to get to this in Q1, however it’s not making the prioritization cut, at the moment.  I think we can push this through in Q2.

[2019-02-04 20:16] evancharlton commented on #295
I'm using modern Chrome and I'm completely unable to get this to work. Concrete repro steps:
1. Take a screenshot using `<cmd>+<control>+<shift>+<4>` (this allows you to select a region and puts the PNG on your paste buffer)
2. Open Codetree -> [new issue]
3. Put focus on the body area
4. Push `<cmd>+<v>`

Nothing happens. However, if I push `<cmd>+<v>` right now, I get ...
![image](https://user-i

[2019-02-05 16:33] ac21 opened #302 "New epic does not show up immediately in the epic dropdown of the new issue modal"
## Background
After creating an epic, if you go to create an issue and add the issue to the newly created epic, the epic will be missing from the drop-down.

## Repro steps
[code]

## potential areas to evaluate
* look to see if the epic is being published to realtime messaging api
* confirm the epic is being received by subscribers to the api
* evaluate how the epic is handled in the client-side

[2019-02-05 16:37] ac21 commented on #302
![missing_epic.png](https://codetreeusercontent.s3.amazonaws.com/uploads/dffd84d9-5428-4173-942d-656491f8da58/missing_epic.png)

[2019-02-06 04:55] ac21 commented on #295
@evancharlton - The `<cmd>+<control>+<shift>+<4>` functionality also saves a file locally somewhere, correct?  Can you drag and drop that same image into the issue comment or main body?

When you drop the image into the comment or description box, you should get something like this:

![Screen Shot 2019-02-05 at 11.17.36 PM.png](https://codetreeusercontent.s3.amazonaws.com/uploads/d34fd401-b5e8-4f9

[2019-02-06 07:19] evancharlton commented on #295
No, it just puts it on the buffer (which is incredibly useful). You're thinking of `<cmd>+<shift>+<4>`, which saves it to the desktop (leading to a bunch of trash that I have to clean up later)

[2019-02-06 10:38] evancharlton opened #303 "Customizable themes"
## Background

It would be great if Codetree officially supported different themes. You don't have to build them, just use stable CSS class names. Maybe an option to allow admins to upload their own additional stylesheet(s) for the org/project to use.

But again: the bare minimum of stable class names would be great -- I can fire up [Stylus](https://chrome.google.com/webstore/detail/stylus/clngdbk

[2019-02-06 16:04] ac21 opened #304 "Add epics and add issues to epics from Github"
## Background
Some users prefer to interact with Codetree primarily through the GitHub issues interface.  However, you can not create epics or add issues to epics from GitHub at this time

## Solution
* Detect when a user adds the label `codetree-epic` to an issue and recognize that as an epic going forward
* detect when a comment or description entry of an epic includes the phrase `epic_child #(/

[2019-02-07 08:59] ac21 commented on #293
implemented

[2019-02-07 08:59] #293 closed, assigned to ac21

[2019-02-16 00:48] bfelbo commented on #297
It would be great if this could be sorted by anything that you can do as filters. For instance, we'd love to sort by a label.

[2019-02-16 00:59] sanjaypojo commented on #297
+1 for sorting by labels. This could even be a global setting. For example, I'd like `wont-fix` to always go to the bottom, and `today` to always be at the top etc.

[2019-02-16 01:30] sanjaypojo commented on #303
+1 for custom themes, or even just a couple of different theme options.

[2019-02-16 01:32] sanjaypojo opened #305 "Show repo names in table view"
No easy way to view which repo an issue corresponds to (except hovering over the issue)

[2019-02-16 01:35] sanjaypojo opened #306 "Show checkboxes by default (no need to click edit icon)"
I don't really see the benefit of having an edit button. it would be great if it's just editable by default,  since you have to check some of the boxes before you can do an action anyway. Checking a box =  starting edit mode. Clicking edit + checking a box feels a bit redundant.

[2019-02-20 04:47] ac21 commented on #261
+1 from @cricketts

[2019-02-20 04:53] ac21 commented on #238
per @ottumm - "it would be great to be able to filter based on when issues were closed"

[2019-02-20 04:57] ac21 opened #307 "Intermittently the issues in the untriaged bucket goes empty"
## Background
From time to time, the issues in the untriaged bucket disappear:
![screenshot from 2019-02-19 13-52-52](https://user-images.githubusercontent.com/6155532/53067432-c5855100-3499-11e9-8b55-1d96e32a5197.png)

## Repro
< not able to repo yet>

[2019-02-20 07:57] maxthoursie commented on #307
I belive it's the same issue as https://github.com/codetree/feedback/issues/282 . The problem went away when I entered my card and the "Update you payment" popup went away.

[2019-02-20 15:57] ac21 opened #308 "Expose an API to interact with Codetree programatically"
While most codetree data is stored within GitHub, there is some data stored within Codetree that users could use (reporting, etc).

[2019-02-20 16:45] ac21 commented on #308
+1 - @maxthoursie;

[2019-02-20 16:47] ac21 commented on #261
+1 - @maxthoursie

[2019-02-20 16:59] ac21 opened #309 "accessing keyboard shortcuts using '?'"
## Background
Codetree has a ton of useful keyboard shortcuts to speed up and simplify interactions within Codetree.  However, currently you have to go to an external article to see a lit of those shortcuts

## Solution
make the shortcut options available within Codetree by pressing `?` (similar to GitHub)

link to Codetree shortcuts:  https://help.codetree.com/using-codetree/keyboard-shortcuts

[2019-02-20 17:03] ac21 commented on #309
example:

![Screen Shot 2019-02-20 at 10.50.21 AM.png](https://codetreeusercontent.s3.amazonaws.com/uploads/cf21138b-eab5-4d5f-b168-fddd70214252/Screen+Shot+2019-02-20+at+10.50.21+AM.png)

[2019-02-20 17:05] ac21 commented on #309
+1 - @maxthoursie

[2019-02-22 22:06] ac21 commented on #255
+1 @tonyvanriet

[2019-02-23 00:40] ac21 opened #310 "Improve filtering when selecting a repo in the issue edit screen"
## Background
currently the repo search screen doesn't seem to work within the issue edit screen.

#### Initial selection shows a lit
![Screen Shot 2019-02-22 at 6.25.04 PM.png](https://codetreeusercontent.s3.amazonaws.com/uploads/55d8deb2-1e0b-4152-89f1-420da37fcbf4/Screen+Shot+2019-02-22+at+6.25.04+PM.png)

#### typing clears the available options
![Screen Shot 2019-02-22 at 6.25.32 PM.png](http

[2019-02-23 00:45] ac21 commented on #310
+1 bfelbo

[2019-02-23 00:46] ac21 commented on #310
+1 @bfelbo

[2019-03-04 11:29] alexykot commented on #175
This works on the comment form, but it does not work on the Create Issue form. Can you as well make it submit new issue by Ctrl+Enter when editing Issue title or text?

Created new issue #311 instead of reviving this old thread.

[2019-03-04 12:07] alexykot opened #311 "Allow Ctrl+Enter to submit new issue"
Would be great to be able to submit the New Issue form from keyboard with standard shortcut `Ctrl`+`Enter`/`Cmd`+`Enter`. When editing new issue title or description you can submit by `Tab`bing to the button, but would make sense to also do that via `Ctrl`+`Enter`/`Cmd`+`Enter`.

[2019-03-04 15:56] ac21 commented on #297
+1 - @maxthoursie

[2019-03-06 12:05] alexykot opened #312 "Link to epic fails if epic name has commas"
If I add a comma into Epic name - the link to issues of this epic breaks and list shows "no issues". See attached pics
![screenshot from 2019-03-06 12-03-55](https://user-images.githubusercontent.com/1840160/53880119-1b183c80-4008-11e9-8437-0cde67be8c56.png)
![screenshot from 2019-03-06 12-04-50](https://user-images.githubusercontent.com/1840160/53880120-1bb0d300-4008-11e9-8965-729a48886226.png)

[2019-03-11 14:01] ac21 opened #313 "Ability to set or change the sort order for issues in the done column"
## Background / Rationale
Currently, the kanban board shows the items in the Done column in a manually sorted order using the same manual sorting weights as in other columns.  However, while the other columns are temporary queues, the Done column is a final state and manually sorted weights don't have a clear meaning for many end users.

## Solution
Enable the customization of the sorting method f

[2019-03-13 10:37] arkan commented on #304
Any update regarding this?

[2019-03-20 20:55] scottmmjackson commented on #303
A dark theme in particular would be much appreciated.

EDIT: I've made a basic dark theme that covers most of the bases of basic display. It has some jarring transitions in hovers and a clicked issue still comes up in light theme. However, please feel free to make use of it.

<details>
<summary>Codetree User CSS (import in Stylus or another user-style extension)</summary>

[code]
</details>

EDIT2

[2019-03-22 13:52] ac21 opened #314 "Allow for multiple stages for closed issues"
## Background
Some users have a Github workflow that requires multiple stages for "closed" tickets.  For instance, when an issue is closed (via a pull request being committed), this could move to a "QA" stage

## Solution
Allow for the definition of custom stages for closed tickets

[2019-03-22 13:56] ac21 commented on #314
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/search/conversations/21235352299
+1

[2019-03-22 13:58] ac21 commented on #314
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/search/conversations/21307193208?q=Done
+1

[2019-03-22 14:15] ac21 commented on #313
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/search/conversations/21154906403
+1

[2019-03-22 14:59] ac21 commented on #286
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/21307193208
+1

[2019-03-22 15:00] ac21 commented on #286
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/search/conversations/21246845663
+1

[2019-03-22 15:25] ac21 opened #315 "Burndown is showing incorrect data intermittently"
## Issue
For some users, the burndown chart is displaying incorrect data; specifically, the counts start at 0 and goes negative.
![Alle_-_Burndowns](https://user-images.githubusercontent.com/6155532/54833717-a6dacb80-4c8c-11e9-8174-d986b84a2632.png)

## repro
unknown at this point

[2019-03-22 15:25] ac21 commented on #315
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/21123162566
+1

[2019-03-22 15:26] ac21 commented on #315
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/search/conversations/21203143998
+1

[2019-03-26 14:13] ac21 commented on #287
duplicate of codetree/codetree#652

[2019-03-27 03:50] ac21 commented on #287
Attempted to open issues in production with iPad and would not open.
browser info:  Chrome with:
[code]
https://www.whatsmybrowser.org/b/WXXGZ2T

[2019-03-27 03:57] ac21 commented on #287
@sachinkum123 ^^ please look at this again

[2019-03-27 16:05] ac21 opened #316 "Some links don't respect project preference for kanban view"
## Background
Projects can default to a list view or kanban view for displaying issues.  The expected result is when looking at issues you'll see the default view, however, not all use cases are covered:

1) Drop down from Issues menu.
![title_menu](https://user-images.githubusercontent.com/6155532/55092209-23e8b500-5080-11e9-9c9e-f892e956ab24.png)

2) clicking through a milestone
![link_milestone

[2019-03-27 16:07] ac21 commented on #316
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/21377394685
+1

[2019-03-27 16:10] ac21 commented on #287
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/search/conversations/20456674027
+1

[2019-03-27 16:11] ac21 commented on #289
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/search/conversations/20456753212
+1

[2019-03-27 16:13] ac21 commented on #289
Issue resolved with codetree/codetree#2122

[2019-03-27 16:13] #289 closed, assigned to sachinkum123

[2019-03-27 16:18] ac21 opened #317 "allow project to customize the starting sort position of new issues"
## Background
Currently, new issues sort to the bottom of views.  Some use cases would prefer that new issues sort to the top

## Solution
Allow for projects to define their default sort position for new issues

[2019-03-27 16:20] ac21 commented on #317
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/search/conversations/21311264314
+1

[2019-03-27 18:04] #287 closed, assigned to sachinkum123

[2019-03-27 18:16] aronatkins opened #318 "allow the full column as a "drop zone""
Start with a column having no issues or very few issues. A dragged issue is not seen as a target for that column until the mouse is within the padded cell of the column.

Neither the column header nor the whitespace below the last issue are drag-and-drop targets.

Consider the following setup:
![image](https://user-images.githubusercontent.com/362187/55101562-bf871f00-509a-11e9-81ae-1f4f323f104e.p

[2019-04-01 15:15] #309 closed, assigned to sachinkum123

[2019-04-02 05:12] ac21 commented on #286
@sachinkum123 updated the proposed solution to a different visual paradigm

[2019-04-02 08:48] oskarszoon commented on #314
This is mostly because developers are used to using the Github `closes #xxx` workflow, but we still want an extra step/column once an issue is closed.

https://help.github.com/en/articles/closing-issues-using-keywords

[2019-04-02 09:59] dsollfrank opened #319 "Clone an issue to another repo"
Moving issues from one repo to another is possible already. It would be very helpful to have the possibility to clone an issue to another repo or even better to multiple repos.

[2019-04-02 14:16] #292 closed, assigned to sachinkum123

[2019-04-02 14:31] ac21 commented on #311
@sachinkum123 - It looks like you didn't update the `Keyboard Shortcuts` with the new command:

Can you address this:
![Screen Shot 2019-04-02 at 9.31.08 AM.png](https://codetreeusercontent.s3.amazonaws.com/uploads/b9a7ecf9-fbab-448b-a46a-4a62f0ab1bb8/Screen+Shot+2019-04-02+at+9.31.08+AM.png)

[2019-04-02 23:56] shlomi-nx commented on #315
We are evaluating codetree and experience this exact issue. Please let me know if there is any info I could provide for this to get solved.

[2019-04-03 00:12] shlomi-nx opened #320 "Burndown should allow to change start/end dates without overriding the milestone"
This is useful to check out different scenarios without affecting the actual milestone target date.

[2019-04-03 04:31] ac21 commented on #315
@shlomi-nx - It's in this sprint, so by next Fri 4/12

[2019-04-03 07:44] phagunbaya opened #321 "Additional visual reports for team activity"
Having charts for the following would help:
1. Number of issues an assignee worked on and be able to filter by labels
2. Burn rate between any two columns

[2019-04-03 07:45] ac21 commented on #321
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/21470040475
+1

[2019-04-03 13:41] #311 closed, assigned to sachinkum123

[2019-04-04 15:36] ac21 commented on #286
@sachinkum123
https://fontawesome.com/v4.7.0/icon/compress
https://fontawesome.com/v4.7.0/icon/expand
example html:
[code]
example css . (to rotate the image 45 degrees so it appears like it is horizontal:
[code]

[2019-04-05 18:14] shlomi-nx commented on #261
@ac21, when could we expect this to go live? During our evaluation this feature came at a high priority from our managers

[2019-04-05 18:41] ac21 commented on #261
@shlomi-nx It's in our current sprint, so I'd expect it by 4/12.

[2019-04-06 01:05] ac21 commented on #315
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/21512166215
+1

[2019-04-08 16:57] ac21 commented on #310
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/21258481582
+1

[2019-04-08 17:39] ac21 commented on #312
@sachinkum123 - can you attempt to reproduce?

[2019-04-08 21:18] sfkrauss commented on #3
+1 to this issue

[2019-04-09 17:13] #310 closed, assigned to sachinkum123

[2019-04-09 18:53] ac21 opened #322 "CMD + Click on a PR attached to an issue should open the PR in GitHub"
## Background
A common use case for an issue when it is going through the development cycle is to review the PR before it is accepted.  To do this today, you have two choices:
1) click the link of the PR then click through to GitHub
2) add PR's to the milestone so that they appear on the taskboard; if they appear directly on the task board, you can CMD+Click to drive open a GitHub window directly

[2019-04-09 18:59] ac21 commented on #322
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/search/conversations/20933530662

[2019-04-09 19:19] ac21 opened #323 ""l" shortcut key doesn't open the label control in Chrome"
Repro
Given I am a user
And I am using Chrome desktop browser
And I a have started a new issue (in the new issue modal)
And I have entered a title and description
And I have hit the 'ESC' key to exit the text box data entry
When I hit 'l' then the Labels control should open and the cursor should be in the label search box

## Additional new functionality
Given I am a user
And I am using Chrome des

[2019-04-09 19:28] ac21 opened #324 "Right clicking an issue brings up menu of options"
## Background
right-clicking a card is a typical UI feature that users may try to see what options they have available to them.  This is an opportunity to expose a bit more functionality and educate users on keyboard shortcuts

## Solution
In the list view or task board should bring up a menu of (mostly existing) options

| < command > | < keyboard shortcut / if exists > |
| --- | --- |
| Open | |

[2019-04-09 19:35] ac21 commented on #323
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/21556092235
+1

[2019-04-09 19:48] ac21 commented on #324
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/search/conversations/21069232824
+1

[2019-04-09 19:56] ac21 commented on #314
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/21315764937
+1

[2019-04-09 19:59] ac21 commented on #3
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/21059565885
+1

[2019-04-09 20:00] ac21 commented on #3
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/20719241810
+1

[2019-04-09 20:01] ac21 commented on #301
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/20719241810
+1

[2019-04-09 20:03] ac21 commented on #292
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/20911616116

[2019-04-09 20:34] #286 closed, assigned to sachinkum123

[2019-04-09 20:34] #318 closed, assigned to sachinkum123

[2019-04-10 18:23] ac21 opened #325 "CMD + Enter not working to save a new issue after adding label"
## Issue
Users are having difficulty using `cmd/ctrl + Enter` to save a new issue.  This appears to be related to adding a label.

## Repro
Given I am a User
And I am creating a new issue (opened the "New Issue" modal)
And I have added a title
And I have added a description
When I add a label
And then click `cmd + Enter`
Then the issue should save (it does not)

## Environment
macOS + Chrome brows

[2019-04-10 18:23] ac21 commented on #325
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/21556092235
+1

[2019-04-11 08:48] #255 closed, assigned to nobody

[2019-04-11 08:48] #264 closed, assigned to nobody

[2019-04-11 08:48] #273 closed, assigned to ac21

[2019-04-11 10:01] phagunbaya opened #326 "Easy way to link issues to an epic"
Currently to link an issue to epic, you need to search for it and then add it which is not a cool way. It would be great if codetree can scan the issue description and extract the issue list from there.
Example:
Adding "Parent of #123" in the description should link #123 to the epic issue.

[2019-04-11 10:03] phagunbaya opened #327 "Auto archiving issues in Released column"
The issues that are in the released column should get auto-archived.

[2019-04-11 10:18] ac21 commented on #327
@phagunbaya - would you envison the auto-archive is date based and customizable by project?

[2019-04-11 10:54] phagunbaya commented on #327
All issues sitting in released column for more than 30 days should be archived. Keeping it configurable would be a value addition.

[2019-04-11 10:55] ac21 commented on #326
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/21582862660
+1

[2019-04-12 07:35] phagunbaya opened #328 "Search should not reload the page"
Currently when you search for issue # or title, the page reloads. For improving the experience, the page should not reload and search should happen locally.

[2019-04-12 08:35] phagunbaya opened #329 "Adding new issue should come up to the top"
When adding new issue, it gets to the bottom of the list. Best thing would be to have that issue on the top of the column. Also, when moving issues across column, they should get added to the top unless dropped at a particular place.

[2019-04-12 14:46] ac21 commented on #329
@phagunbaya - did you see the option when creating an issue to set where it will appear in the order (top or bottom)?

[2019-04-12 18:25] ac21 commented on #319
@dsollfrank - would you invision the cloned issues be synced (changes to one are replicated in another), linked in some way (similiar to needs/needed_by) or is this just a duplication?

also, do you mind expanding on your use case behind the need for cloning?

[2019-04-12 19:53] phagunbaya commented on #329
Found it. This is resolved then.

[2019-04-12 20:09] #329 closed, assigned to nobody

[2019-04-12 21:14] ac21 commented on #327
@phagunbaya - Is your workflow/mgmt style to review the entire board at one time?  It might be helpful to understand your workflow/mgmt style a little better.

The most common workflow style we see is the use of Milestones to define a sprint, with each sprint lasting 2 weeks (sometimes up to 4 weeks).  By using milestones, the issues will automatically be filtered (including in the Done / Released

[2019-04-12 21:44] ac21 opened #330 "Show reference to merge PR with purple icon"
## Background
In GitHub, PRs that are merged are colored purple to make them visually distinct from closed an unmerged PRs which are colored red.  In Codetree, the PR itself has a Purple merged button and when viewed as a card it also has a purple icon, however, when it is referenced by an issue in a card, it shows up as red.

## Solution
Show referenced merged PRs as purple

Given I am a User
And

[2019-04-12 21:46] ac21 commented on #330
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/search/conversations/21582870910
+1

[2019-04-12 21:59] ac21 opened #331 "Minimize left hand menu bar for more space"
## Background
Sometime additional screen real estate would be helpful for some users.  The left hand menu bar takes up 10-20% of screen real estate depending on screen size.

## Solution
Allow the left hand menu bar to be minimized as needed

[2019-04-12 21:59] ac21 commented on #331
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations
+1

[2019-04-12 22:00] ac21 commented on #331
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/21583816898
+1

[2019-04-12 22:03] ac21 commented on #331
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/search/conversations/21454522334
+1

[2019-04-12 22:07] ac21 commented on #221
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/21454522334
+1

[2019-04-12 22:12] ac21 opened #332 "Improve Assignee functionality"
## Background
currently, assignee functionality is a little clunky as the sorting of assignees appears to be random (or at least not prioritized in a logical way

## Solution
1. adjust the sort order of assignees to be:  already assigned people (alphabetized), own account, everyone (alphabetized)
2. add a "clear assignees" button at the top when assignees exist
3. add a gear icon next to Assignees

[2019-04-12 22:13] ac21 commented on #332
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/21454522334
+1

[2019-04-13 08:48] phagunbaya commented on #327
Ours is the continuous release process. Sprint is only for defining the dev effort. I got your point of not archiving the issues and being able to see them in milestone filter. In such case, wee need a configurable option to archive issues.

[2019-04-15 10:17] dsollfrank commented on #319
@ac21 Thanks for the questions.

No sync, just duplication. A link of some sort would be nice of course.

We recently started with a new codetree project that links 13 repos. These are repos from several "departments".
1) We create epics (thanks for that feature!) for overlapping tasks.
2) For each involved department we create an issue that holds the basic task description and link to the epic an

[2019-04-15 15:07] #312 closed, assigned to sachinkum123

[2019-04-15 15:11] #322 closed, assigned to sachinkum123

[2019-04-15 15:15] #323 closed, assigned to sachinkum123

[2019-04-15 15:15] #325 closed, assigned to sachinkum123

[2019-04-15 15:17] #316 closed, assigned to sachinkum123

[2019-04-16 00:32] ac21 opened #333 "collapsed kanban columns too prominent"
## Background
Recently a new feature was released to collapse kanban columns.  However, some feedback has bubbled up saying that the collapsed columns are two prominent given the dark grey contrast

## Solution
change the color scheme to make the column less prominent and fade more into the background

[2019-04-16 00:33] ac21 commented on #333
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/21589206291
+1

[2019-04-16 15:18] #330 closed, assigned to sachinkum123

[2019-04-17 04:06] ac21 opened #334 "Add keyboard shortcut for modifying Repository in New Issue Modal"
## Background
Codetree has a broad range of shortcut keys, however a few gaps remain, specifically when modifying the repo when adding a new issue

## Solution
Add a shortcut key for modifying the repo when adding a new issue;

## Acceptance Criteria

### Open Repository with 'r'
Given I am a user
And I have in the New Issue modal
When I click 'r' and I am not focused on a text entry box
then the

[2019-04-17 04:15] ac21 commented on #334
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/21556092235
+1

[2019-04-17 11:14] sachinkum123 commented on #333
Does this look better?
![Screenshot from 2019-04-17 16-43-08.png](https://codetreeusercontent.s3.amazonaws.com/uploads/533c940d-10a9-46cb-9686-906e96d76bbd/Screenshot+from+2019-04-17+16-43-08.png)

[2019-04-17 13:40] ac21 commented on #333
let's go with a white background, light grey label

[2019-04-17 14:14] ac21 commented on #315
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/21541758090
+1

[2019-04-17 15:24] #324 closed, assigned to sachinkum123

[2019-04-17 15:25] #334 closed, assigned to sachinkum123

[2019-04-18 00:55] ac21 commented on #331
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/21676368242
+1

[2019-04-18 21:08] ac21 opened #335 "Provide a full-screen mode when viewing the kanban board"
## Background
Some users are often trying to see as many of their issues and columns as possible when looking at the kanban board.  Additionally, users may want to be able to view their kanban board as a dashboard (e.g., a projected or conference room screen).

## Solution
Provide a full-screen mode that:
* hides the left hand menu bar
* hides the top search bar, codetree logo, and user name/menu

[2019-04-18 21:10] ac21 commented on #335
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/21676368242
+1

[2019-04-22 05:41] sachinkum123 commented on #333
It will look like this,
I also changed the color of unfold icon to light gray

![final-board.png](https://codetreeusercontent.s3.amazonaws.com/uploads/cfb8c8da-b43a-4139-b808-3ada474fa186/final-board.png)

[2019-04-22 13:44] ac21 commented on #333
looks great!

[2019-04-22 17:35] #333 closed, assigned to sachinkum123

[2019-04-22 17:35] #315 closed, assigned to ac21

[2019-04-22 21:01] shlomi-nx commented on #261
@ac21 any news on this?

[2019-04-23 19:03] ac21 commented on #303
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/all/conversations/21729016201
+1

[2019-04-23 19:04] ac21 commented on #331
needs #335

[2019-04-24 01:50] ac21 commented on #278
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/21742466425
+1

[2019-04-24 01:57] ac21 opened #336 "Show PRs with reviewers instead of assignees"
## Background
The typical process for PR's is to go through a code review and GitHub has workflow built out to support the review process.  However, it's unclear from Codetree what the current status of the Code Review is from the taskboard or issues list (or even opening the review)

## Solution
update the taskboard cards and issues list views for PRs to show Reviewers instead of Assignees.  In a

[2019-04-24 01:59] ac21 commented on #336
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/21745187449
+1

[2019-04-24 21:48] ac21 commented on #261
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/21729993302
+1

[2019-04-25 18:58] #3 closed, assigned to sachinkum123

[2019-04-25 22:46] shlomi-nx opened #337 "When viewing users, show their real name next to their aliases"
Some of our external users have funny github handles that have nothing to do with their names. It makes it difficult to remember each person's favorite childhood cartoon star :)

It would be much easier if we could see and search by their actual name as well as their handle when we want to assign them to an issue or filter their issues.

[2019-04-26 21:13] ac21 commented on #337
@shlomi-nx - makes sense.  I'll have our team review this and see what we can do as we are working on some assignee improvements already

[2019-04-26 21:15] ac21 commented on #332
Also, take a look at #337 as showing real names and searching by real names would also improve usability

[2019-04-29 12:51] smitfrank opened #338 "Pull Request Status"
I saw #90, but did see a reason why it was closed.

We just migrated from Waffle (it is closing down) and liked the PR status it shows on the taskboard. Here's an example of what I mean:

![image](https://user-images.githubusercontent.com/29855938/56897114-e8317880-6a8d-11e9-8aea-389a9d611920.png)

(the green and red lines at the bottom)

[2019-04-30 18:24] emcanderson commented on #263
Seconding this request. We would be able to have so many more boards/views of our workflow if we could have multiple labels per stage. Current state leaves us a bit hamstrung as we don't want to create dozens and dozens of new labels.

[2019-05-03 14:33] ac21 commented on #314
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/21875410709
+1

[2019-05-03 14:37] ac21 commented on #317
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/21875942584
+1

[2019-05-03 14:40] cmassoumi commented on #317
Sorry, I just got this.  Was this an error?

[2019-05-03 14:42] ac21 commented on #317
@cmassoumi - you received this because you subscribed for notifications on this issue in Github

[2019-05-07 19:09] ac21 commented on #303
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/21923364692
+1

[2019-05-07 19:14] ac21 opened #339 "Customizable epic label"
## Background
GitHub Issues does not have the concept of epics and Codetree has implemented this using a combination of custom labeling and codetree-proprietary data.  However, the custom labels currently used are a bit restrictive for current user preferences and needs

## Solution
Allow for customized epic labeling

[2019-05-07 19:15] ac21 commented on #339
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/21923364692
+1

[2019-05-08 07:33] phagunbaya commented on #221
Will there be support to pick from multiple issue templates ?

[2019-05-08 15:20] ac21 commented on #221
@phagunbaya - yes, it’s on our roadmap.  Seems this is bubbling up, so will discuss with team about changing the current prioritization

[2019-05-08 15:41] kelada commented on #221
Using github templates via codetree would be a killer feature for my team. Specifically, being able to set a default template for Epics and a different one for Issues (based on the repo)

+1

[2019-05-08 17:12] ac21 opened #340 "Issue modal UI design doesn't protect well against data loss"
## Background
Currently, when viewing or editing an issue, when you click outside the modal, the modal closes automatically.   However, this leads to losing unsaved edits or comments.  It seems likely that this is undesirable for most users, as its both easy to click outside the modal by accident (especially on laptops) or intentionally click outside but not realizing your changes or comments have

[2019-05-08 17:15] ac21 commented on #340
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/21914446779
+1

[2019-05-08 17:19] ac21 opened #341 "Ability to scroll through labels when applying to Issue"
## Background
Within the issue modal and when editing labels, currently you can not scroll through labels.  instead, you need to select a label from the viewable list or search and select.

UPDATE:  Appears the ability to scroll the list of labels exists, however if you have a long issue, the modal scrolling takes precedence over label scrolling despite labels being the focus

## Solution
fix abil

[2019-05-08 17:20] ac21 commented on #341
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/21932921748
+1

[2019-05-09 20:53] ac21 commented on #314
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/21968642639
+1
however, there are some unique considerations:

[2019-05-10 06:48] CatalinaMoisuc commented on #314
@ac21 what if we could just choose the label that we want the issue/PR to have when merged (similar to existent settings for Issue Rules->When an issue is closed) and match the label with a stage.

As for deployed stages,
https://help.github.com/en/articles/viewing-deployment-activity-for-your-repository
Deployment environments would be handy in this case since GitHub already knows which PR is dep

[2019-05-10 15:09] ac21 commented on #336
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/21978931640
+1

[2019-05-11 13:02] ac21 commented on #341
updated ticket as it appears to be related only to when a ticket is long and therefore there is a scroll for the modal window

[2019-05-14 15:08] CatalinaMoisuc commented on #274
@arifb

It happens also to us, the logic is not that smart.

We do have a `bot user` named `A` that usually adds and removes labels.
"A" is the account that indeed is the Primary Owner, but for adding the label when an issue is closed, there is always a user `B` that is adding it.

It is really weird especially since user `B` has "Collaborator" access and also was one of the last users added to Co

[2019-05-14 19:15] aMoniker commented on #100
Any word on when this will be implemented?

[2019-05-15 13:54] sachinkum123 commented on #335
![DEV  test   Board](https://user-images.githubusercontent.com/48723518/57781071-0f9f6b00-7747-11e9-9c8c-c95c1a80f088.png)

[2019-05-15 15:10] ac21 commented on #303
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/22044935188
+1

[2019-05-15 16:01] sachinkum123 commented on #303
@ac21 please give me the access for intercom.

[2019-05-15 16:16] scottmmjackson commented on #303
AFAIK intercom is codetree's internal CRM. It looks like it's supposed to be for employees only. I've been receiving notifications about the intercom posts for a while without being able to view them. It might be better to consolidate them all in one comment with an explanation for outside people that they shouldn't expect to be able to access them.

[2019-05-15 18:23] ac21 commented on #331
releasing #335 first as this may resolve core user needs

[2019-05-15 20:59] schwern opened #342 "Allow changing the stage from the list or edit view."
When looking at the List View of issues, I would like to be able to change the stage of the issues quickly without having to switch to the Board View. Making "Stage" a dropdown would work.

This would also be useful in the Edit View. Show the stage (it's currently not shown) as a dropdown. Currently I'm manually changing the labels.

[2019-05-15 21:01] schwern opened #343 "Negative sizes"
I found a little bug. In the list view I can add negative sizes to issues either directly or by clicking the down button. When I do I get a generic "can't save issue" error. Ideally I wouldn't be able to use the down button to go past 0, if I tried a more specific error message would be helpful.

[2019-05-15 21:11] schwern opened #344 "Display unfulfilled needs differently from unfulfilled needed by."
When using issue dependencies, I would like to easily tell which issues need to be worked on first. If 1 needs 2 and 2 needs 3 then I would like to know that 3 comes first. I can do this by looking for any issues which have no unfulfilled needs.

Unfulfilled needs look exactly the same as unfulfilled needed by, a green (!). This means issues 1, 2, and 3 all have green (!)s. They look very similar.

[2019-05-15 21:27] sfitts commented on #161
This issue is ancient, so it may well be dead (and one half of it has been implemented).  However, we'd like to see the second half happen too -- that is the option to move an issue to a given stage (such as "ready to release") when its associated PR is merged into the default branch.  Currently the only options are to either close or do nothing.

[2019-05-15 22:36] sfitts opened #345 "Would prefer that Epic setting not "stick" across uses of New Issue modal"
I can understand why it should remain set while the modal is up so that it is easier to create multiple issues under the same Epic.  However, the fact that it sticks across multiple uses of the modal is, at least for our uses, sub-optimal.  We would prefer to have it reset to "no epic" when it is relaunched after dismissal.

[2019-05-15 23:10] sfitts opened #346 "Assign issue to branch owner as part of branch creation workflow"
## Background / Customer Feedback

When an issue is moved to a stage based on branch creation it would also be nice to set the assignee of the issue to be the branch owner.  We're coming from Waffle and this was one of the features that it had (makes it clear, not just that the issue is being worked on, but who is working on it).

Might be related to #114 (though that seems to be related to a fixe

[2019-05-15 23:14] sfitts opened #347 "Quick set assigning without full issue modal"
It would be nice to be able to set/change the assignee of an issue by clicking on the icon and without having to bring up the entire "edit issue" modal.

If having the entire assignee droplist is too much in this context, perhaps a simple "assign to me" button or menu item (this is exacerbated by #346 -- if that were implemented I might never change the assignee manually, except in cases where the

[2019-05-16 16:10] sachinkum123 commented on #332
@ac21 Could you please share the screenshot where I need to make changes and add the acceptance criteria?

[2019-05-16 20:29] ac21 commented on #274
Hey @CatalinaMoisuc - I'm DMing you as I have some account specific questions I'd like to understand regarding this issue.

[2019-05-17 01:00] schwern opened #348 "Burndown charts should account for the time zone"
It's May 16, 1800 where I am on the US West coast. It's May 17th, 0100 in UTC. My burndown chart is showing that it's the 17th making it look like I'm behind when I'm actually on the glide path. I'm guessing the chart is using UTC.

It would be nice if the burndown chart was aware of the time zone. Either from the browser, or from a project-wide time zone setting. That would make it subjectively m

[2019-05-17 03:54] ac21 commented on #332
![Screen Shot 2019-05-16 at 10.52.32 PM.png](https://codetreeusercontent.s3.amazonaws.com/uploads/85a9382b-5196-4065-bff5-b16b9eb1cbcf/Screen+Shot+2019-05-16+at+10.52.32+PM.png)

Top circle is where the Gear Icon goes
Bottom circle is where the clear assignees goes

[2019-05-17 04:05] ac21 commented on #303
@scottmmjackson - the notices you are getting are just +1's by other community members, except we do it on their behalf to save them the effort and to help us understand the interest in this feature.    FYI, we have prioritized this issue for development, so hoping to deliver it either this sprint or next.

[2019-05-17 04:08] #335 closed, assigned to sachinkum123

[2019-05-17 11:53] scottmmjackson commented on #303
I understand that, I suggested that since this is a public repository, the posts be consolidated and come with an explanation, so users watching the issue don't try clicking on them and get confused as to why they can't access it. Does that make sense?

[2019-05-17 15:07] ac21 opened #349 "Edit stage from list view"
## Background
Currently, the stage of an issue is visible but not editable from within the list view.  However, users who use this view could benefit from editing the stage without opening the issue

## Solution
Make the stage editable (dropdown list of stages) from the list view

## Acceptance Criteria
Given I am a user
When viewing the issues in list view
Then the stage of the issue should be a

[2019-05-17 15:08] ac21 commented on #349
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/22053615827
+1

[2019-05-17 15:12] ac21 opened #350 "Edit the stage inside the issue modal"
## Background
Currently, the stage of an issue is visible inside the issue modal as a label.  While the label is removable or changeable, it's clumsy to expect the user to remove the old stage label and add a new stage label or even to know to do these types of actions

## Solution
Create a stage component of the view and make the stage editable (dropdown list of stages) from the issue modal

## A

[2019-05-17 15:12] ac21 commented on #350
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/22053615827
+1

[2019-05-17 16:31] ac21 commented on #303
@scottmmjackson - it definitely makes sense and I can see the frustration.  you proposed solution probably makes sense going forward (although we'll need to test it out to ensure the Intercom webhooks work with consolidation).  thanks for the suggestion

[2019-05-17 18:21] schwern commented on #277
I also would like this. It both means less distractions and also more space to see and manipulate more board.

Perhaps a sidebar that collapses to icons and expands on hover.

The header could be made very thin. The search bar could be moved into the sidebar. Or it could be moved to the left of "Showing task board..." and expand on focus.

[2019-05-17 19:18] ac21 commented on #277
@schwern - we just released #335 (full screen mode) by using cmd/ctrl + shift + f  does that meet your needs?

[2019-05-17 19:20] ac21 commented on #335
Resolves #277

[2019-05-17 19:21] #277 closed, assigned to nobody

[2019-05-17 19:25] ac21 commented on #346
@sfitts -  this seems like a great feature.  In my mind, this only applies if the assignee is empty on branch creation.  Do you agree?  (FYI, pulling this in for scoping)

[2019-05-17 19:28] ac21 commented on #343
@schwern - agreed.  Pulling in to next sprint

[2019-05-17 19:31] sfitts commented on #346
@ac21 that seems reasonable.  Thanks for looking at this, it is probably our top missing feature right now.

[2019-05-18 04:11] ac21 commented on #303
@sachinkum123 - my iniital thoughts on implementation:
1) create some color classes with our default colors ( codetree-bg-color )
2) migrate default color definitions out of components and into these color classes and apply classes to html (1+2 allows for use of asset pipeline and single download of common files)
3) when custom color preferences exist, overload color classes with new colors either

[2019-05-20 17:54] #343 closed, assigned to sachinkum123

[2019-05-21 17:47] #340 closed, assigned to sachinkum123

[2019-05-22 02:12] ac21 commented on #100
@aMoniker - we haven't had much demand for this feature over the years, hence why its sat for quite a while.  this is jamming you up, eh?  Are you thinking the same as @electric-al that a `mark as answered` button would suffice?

[2019-05-22 02:24] aMoniker commented on #100
@ac21 "Mark as answered" makes sense. It doesn't seem like the feature would be useful otherwise, if it requires remembering which issues only had mentions vs which ones actually require answers.

Alternatively, you could count emoji reactions on the thread (that occur anytime after the mention) as "answers". That might be simpler to implement if GH's API allows access to that data.

Or, maybe tha

[2019-05-22 14:06] #332 closed, assigned to sachinkum123

[2019-05-22 15:35] sachinkum123 commented on #332
![DEV  Sachin Kumar   Issues (1)](https://user-images.githubusercontent.com/48723518/58187904-548e4900-7cd5-11e9-821f-9dc63da19e20.png)
![DEV  Sachin Kumar   Issues](https://user-images.githubusercontent.com/48723518/58187905-548e4900-7cd5-11e9-973d-54a76c521899.png)

[2019-05-22 20:54] schwern opened #351 "I'd like to be able to open a new epic anywhere I can open a new issue."
When I'm entering and organizing a bunch of new tasks I need to create both issues (stories) and epics. The New Issue button is ubiquitous, but I only seem to be able to create a new epic by going to the Epic board. This adds extra steps to the process of entering and organizing.

Perhaps the New Issue button could have a little drop down to select other things to create, much like a Github PR. If

[2019-05-22 21:01] schwern opened #352 "An indication of how complete an epic is without having to drill down."
Viewing epics in the board or list view, I don't have much information about the status of those epics. I would like to know, without drilling into the epic...

* How many issues are associated
* How many are left to do / how many are done
* Same but by size

Something like `5 / 11 issues, 14 / 32 points` would give me an indication of progress with a glance at the board.

[2019-05-22 21:58] schwern opened #353 "List view truncates the issue/epic name too early"
The list view truncates the issue/epic name too early with plenty of whitespace left. This makes it difficult to tell which issue is with in the list view without making the browser window unnecessarily wide.

<img width="396" alt="Screen Shot 2019-05-22 at 14 55 13" src="https://user-images.githubusercontent.com/25888/58211852-ebd9a900-7ca1-11e9-8b88-34c452b8caf0.png">

[2019-05-23 07:26] #297 closed, assigned to nobody

[2019-05-23 07:26] #20 closed, assigned to nobody

[2019-05-23 18:53] ac21 commented on #346
Links to customer requests (internal use only; end-users can not open)
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/21968804970

[2019-05-23 19:01] ac21 opened #354 "Assign issue to a user when dragging to stage"
## Background / Customer Feedback

When an issue is manually moved to a stage, some project users would want to automate assigning it to a user;  either a predetermined user or the current user.

replaces  #114

## Solution
Enable project admins/owners to enable custom stage assignments.  when this is enabled a custom stage (not initial stage or final stage) can choose to enable assignment.  The o

[2019-05-23 19:03] ac21 commented on #354
Link to customer requests - internal use only (end-users can not open)
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/21968804970

[2019-05-24 02:09] ac21 commented on #278
For internal reference only; external users will not be able to open the following links:
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/21742466425
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/22168610590

[2019-05-24 10:34] ac21 commented on #278
For internal reference only; external users will not be able to open the following links:
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/21742466425
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/22168610590
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/22172804189

[2019-05-28 00:47] schwern opened #355 "Incrementing issue sizes will sometimes be out of order."
When incrementing the issue size from the list view it will sometimes display correctly and then jump back. An example is issue #952 in my project...

<img width="531" alt="Screen Shot 2019-05-27 at 17 44 06" src="https://user-images.githubusercontent.com/25888/58443532-43fc1b00-80a7-11e9-8157-049b10810d92.png">

I incremented this from no points to 3 points. Then it jumped back to 1 point. Perhap

[2019-05-28 00:52] schwern opened #356 "Collapse issue size increments in the issue history"
After incrementing or decrementing an issue's size the history retains them as individual label adds and removes. This clutters the history and makes it less useful. Instead it would be nice if all size changes within a certain time epsilon were collapsed into a single item. `schwern added a size of 3 11 minutes ago` and `schwern changed the size from 3 to 5 5 minutes ago`.

[2019-05-28 17:37] #259 closed, assigned to nobody

[2019-05-29 14:56] ac21 commented on #303
needs codetree/codetree#2239

[2019-05-29 23:01] schwern opened #357 "One should be able to go directly from an issue to their epic, assignee, milestone, labels, etc."
The lack of direct links to an issue's associated parts makes it a multi-step process to go to, for example, an issue's epic. Or it's milestone, assignees, labels, etc... I have to close the issue and manually navigate/filter to the associated parts.

When viewing an issue I can see its epic, assignees, milestones, labels, and so on. They look like links, but instead they open a dropdown to change

[2019-05-31 20:37] ac21 opened #358 "Allow linking to closed issues"
## Background
within issues, PRs, and epics, it is possible to link to issues via keywords (e.g. needs, resolves, etc.) and using the `#` symbol.  Additionally, when you start typing, a drop-down appears with a filtered list of issues based on what you've typed.  However, the list of issues is filtered for open issues only, which is limiting when you want to reference a closed issue in your ticket

[2019-06-07 14:41] HX-Javier commented on #221
+1

[2019-06-08 02:05] ac21 commented on #278
For internal reference only; external users will not be able to open the following links:
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/21742466425
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/22168610590
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/22172804189
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/

[2019-06-10 04:48] #349 closed, assigned to sachinkum123

[2019-06-10 05:54] #350 closed, assigned to sachinkum123

[2019-06-13 14:49] ac21 opened #359 "Allow for custom grouping of issues in a task board"
## Background
Users with medium sized teams or larger likely have multiple efforts underway within a project, and may want to see how those efforts are progressing as a set.  While this could be accomplished today using filters, it could be beneficial to see all the "efforts" in the same view.

## Solution
Enable the ability to do custom groupings (by epic, milestone, or even labels) while looking

[2019-06-13 14:50] ac21 commented on #359
For internal use only.  external users won't be able to follow these links:
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/22437088892

+1

[2019-06-13 14:52] ac21 opened #360 "Brave Browser rendering issues"
## Background
After opening an issue or creating a new one the columns on the board cannot be scrolled anymore. A reload of the page fixes this issue. Let me know if you need any help resolving this issue.  This is only happening on Brave Browser (Chromium based); Does not currently affect Chrome or Safari

[2019-06-13 14:53] ac21 commented on #360
For internal use only.  External users will not be able to follow these links:
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/22405456954

+1

[2019-06-26 19:39] ac21 commented on #358
@sachinkum123  - This is not working in staging

[2019-06-26 19:43] ac21 commented on #358
notice - issue `15` is closed in this project (see staging) and yet it is not in the drop down when I typed `#15`

![Screen Shot 2019-06-26 at 2.42.21 PM.png](https://codetreeusercontent.s3.amazonaws.com/uploads/50c34cc9-4723-42b6-9549-23910a814e8a/Screen+Shot+2019-06-26+at+2.42.21+PM.png)

[2019-06-27 15:47] ac21 commented on #358
@sachinkum123 - looks to be working correctly now in staging and production

[2019-06-27 15:47] #358 closed, assigned to sachinkum123

[2019-06-27 17:17] ac21 commented on #354
may be solved with codetree/codetree#1687 (auto assign user on branch push)

[2019-07-03 03:46] ac21 commented on #346
completed and deployed

[2019-07-03 03:46] #346 closed, assigned to nobody

[2019-07-03 13:43] sachinkum123 commented on #336
NOTE: Show reviewers and assignees both on PR'S

[2019-07-09 06:01] #336 closed, assigned to sachinkum123

[2019-07-11 19:34] ac21 opened #361 "Filter by Reviewer"
## Background
A common workstep is for developers to carve out a portion of their day to review all the PR's that have been assigned to them to review.   However, currently there is not an easy way to see this.

## Feature
Add a filter `By Reviewer` (which implicitely is limited to PRs).

## Acceptance Criteria

### AC1: Add Reviewer Filter Criteria
Given I am a user
And I am viewing the issues li

[2019-07-11 19:38] ac21 commented on #361
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/22818376591

[2019-07-12 20:59] ac21 opened #362 "Enable fuzzy searching rather than strict matching"
## Situation
Currently when searching, only exact word matches are returned which makes it harder to find issues than it should be.

## Solution
Enable fuzzy searching to find similar and related words (e.g, issue, issuing, issues, issued, etc.).

Our primary search results are in Elastic Search rather than postgres.   As such, we need to update our Elastic Search query to pull via fuzzy search in

[2019-07-12 20:59] ac21 commented on #362
For internal use only:
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/22834029676

[2019-07-16 16:26] shlomi-nx opened #363 ""New Epic" does not create new issues"
For the past few days, trying the create a new epic simply keeps saying "saving" but nothing is created.

I tried deleting cache, logout/login, different browsers (chrome/safari).

Any workarounds for the moment?

[2019-07-16 16:29] shlomi-nx commented on #363
Looking at the console, I see

[code]

[2019-07-16 16:33] shlomi-nx commented on #363
Which takes to this:
[code]

[2019-07-16 18:52] ac21 commented on #363
Hey @shlomi-nx - thanks for raising attention to this issue.  Working on it now and hoping to have a fix by EOD tomorrow

[2019-07-16 21:12] shlomi-nx commented on #363
If anyone else is stuck here, for a workaround add some random tags and create the epic. Afterwards remove the tags. Worked for me.

[2019-07-19 17:27] ac21 commented on #363
links to codetree/codetree#2367

[2019-07-23 19:58] ac21 opened #364 "invalid"

[2019-07-23 19:59] #364 closed, assigned to nobody

[2019-07-26 20:03] ac21 commented on #314
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/23011254143
+1

[2019-07-26 20:05] ac21 commented on #363
resolved by codetree/codetree#2367

[2019-07-26 20:05] #363 closed, assigned to sachinkum123

[2019-08-01 14:49] ac21 commented on #362
For internal use only:
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/22834029676
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/all/conversations/23087908297

[2019-08-06 20:24] tstirrat15 opened #365 "Archiving Issues/Cards"
We use a kanban-style workflow, where a board is a flow to which issues are added, moved through, and then removed, and we don't tend to break things down by milestone or sprint or what have you.

In Github Projects or Waffle or Zube, we would archive issues once we were satisfied that they were successfully released. It'd be really nice to have a similar functionality for the Done column.

Note:

[2019-08-07 22:04] sanjaypojo commented on #362
Really need this, struggling to search for items because we often write issues with code in them and figuring out whether there's a space or an opening quote etc. is really hard. We end up creating a lot of duplicate issues because we never find the original issue when we search for it.

[2019-08-12 13:14] ac21 commented on #102
Burndown charts implemented in 2017;  closing ticket

[2019-08-12 13:14] #102 closed, assigned to nobody

[2019-08-12 13:17] ac21 commented on #222
Has not come up in user feedback; closing for now

[2019-08-12 13:17] #222 closed, assigned to nobody

[2019-08-12 14:01] janpio opened #366 ""Add Issue to Epic" suggestions (via number or issue search) should show repository"
Currently the suggestion below the "Add Issue to Epic" input field (that you use to enter an issue ID or part of the issue title) only shows the Issue ID and Issue Title.

Often that is enough to decide which of the issues you are looking for, but if you got only the information "add issue 123 from repo foo" it might not be.

I suggest that this list also shows the repo name so issue ID and repo n

[2019-08-12 14:23] ac21 commented on #303
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/23218208823
+1

[2019-08-12 14:40] janpio opened #367 "Let us configure `codetree-epic`, the label used for Epics"
Currently all newly created epics get `codetree-epic` as a label. Similar to workflow stages we should be able to set our own label to be used for epics, e.g. `kind/epic` or similar that matches how we want to work on GitHub.

[2019-08-13 13:09] sachinkum123 commented on #362
Update the indexing strategy and remove unnecessary fields
and add number field

[2019-08-14 14:29] ac21 commented on #362
Migration steps:
1. verify existing indices:  `curl http://localhost:9200/remote_issues?pretty=true`
2. reindex issues: `bundle exec rake migrations:reindex_search`
3. verify new indices: `curl http://localhost:9200/remote_issues?pretty=true`

[2019-08-14 16:06] janpio opened #368 "Task Board: Still highlight clicked issue when issue modal is open"
When going through many issue on a taskboard, it would be beneficial to not only highlight an issue on hover, but also after it has been clicked and its detail modal is open. That would make it easier to remember where in the list I was currently clicking, and amke it easier for me to select the next one.

Hover:
![image](https://user-images.githubusercontent.com/183673/63037204-e2d22f80-bebe-11e9

[2019-08-16 03:38] ac21 commented on #362
@sachinkum123 - I can't explain all your environment issues, however, `migrations:reindex_search` previously was creating field index strategies based on a "best-guess" approach that isn't working for our use case which is to supply a common text string and have it search, by test the number, title, and body fields.  To fix this, `migrations:reindex_search` needs to be modified to define the field

[2019-08-16 05:14] #362 closed, assigned to sachinkum123

[2019-08-30 01:32] schwern opened #369 "Burnup chart?"
I've made a burnup chart?

<img width="1262" alt="Burnup chart" src="https://user-images.githubusercontent.com/25888/63986969-24500680-ca8b-11e9-9ce3-692576c42aba.png">

The milestone was created with a start date of tomorrow (though it's today in UTC). It already had one issue with no size closed.

[2019-09-12 16:33] ac21 opened #370 "Open all issues in new tabs"
## Background
As a product manager, often times you need to work on all the issues of a milestone (or some other label/status).  To do this, one workflow is to open all the issues in tabs and work through them to you have no more tabs.  It would be helpful to have a single action approach to opening all those windows.

[2019-09-12 16:34] ac21 commented on #370
Internal Use Only:
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/23636978418

[2019-09-12 17:56] ac21 opened #371 "Quickly move issue to top of Kanban stage"
## Background
When managing issues in a kanban board, frequently you are moving issues either all the way to the top or all the way to the bottom.  Having a shortcut to move them to the top or bottom would be desirable

## Solution
Enable a right-click option to move to the top and bottom

[2019-09-12 17:58] ac21 commented on #371
Internal use only:
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/23643686523

[2019-09-16 19:36] #361 closed, assigned to sachinkum123

[2019-09-20 18:52] ac21 opened #372 "Report showing weekly velocity"
Product managers often have questions on the velocity of their teams.  A report that would be helpful would be a weekly/monthly velocity report for a project.

[2019-09-20 18:53] ac21 commented on #372
internal use:
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/all/conversations/22999719407

[2019-09-20 19:00] #371 closed, assigned to sachinkum123

[2019-09-26 21:08] sfitts opened #373 ""Priority" setting on New Issue panel no longer sticky"
We noticed that recently the "priority" field (Move to Top/Bottom) in the New Issues panel is no longer sticky.  So if we want to default to adding issues at the top (which we do), we now have to reset that option for every issue creation.  Given that the other fields in that panel are sticky, this choice seems a bit odd (and for us it is somewhat annoying).  I can see arguments for why none of th

[2019-09-29 03:21] ac21 commented on #298
@sachinkum123 - can you rebase this off of updated staging.  lots of changes since you pushed this, so want to retest it.

[2019-10-03 06:01] mehdhi opened #374 "Bug: Black semi-transparent overlay stays over the app sometimes after a closing a dialog"
Similar issue in here https://github.com/codetree/feedback/issues/198 #196

Happens to me while few times during network failures, i couldn't recreate the scenario.

[2019-10-04 00:49] ac21 commented on #298
closing as its replaced by internal ticket #1975 scheduled for release in 2019-Oct sprint

[2019-10-04 00:49] #298 closed, assigned to sachinkum123

[2019-10-10 10:32] htveit opened #375 "Lead time and cycle time"
Our development teams are working in a Lean/Kanban process. Team members are spread geographically and find the Codetree boards very convenient

What we are really missing is reporting lead time and cycle time in our lean process. We would like to easily identify bottlenecks in the system and continuously improve the flow. You have similar reports of what we are looking for with Burndowns, but thi

[2019-10-10 10:36] htveit opened #376 "WIP limits"
In our Lean/Kanban flow with Codetree we would like to be able to add Work In Progress (WIP) limits.
WIP limits helps the team identifying bottlenecks in the workflow and the team can fix the process to get back to a normal flow. When having limits to each column, developers on the team is encouraged to get out of the comfort zone and reach out to teammates for assistance. But really, the most imp

[2019-10-17 05:23] ac21 commented on #351
needs #2529

[2019-10-17 05:26] ac21 commented on #302
needs codetree/codetree#1525

[2019-10-18 07:22] ac21 commented on #281
closing: deleting a project is now enabled directly through your organization projects view.

[2019-10-18 07:22] #281 closed, assigned to nobody

[2019-10-19 14:00] owap commented on #221
Hello! We spend $200/mo using codetree and would really, _really_ like to be able to use issue templates.  Really.

Please consider upping the priority and not letting it slide back any further!

[2019-10-21 03:32] ac21 commented on #221
prioritizing a spike to understand LOE

[2019-10-21 16:26] ac21 commented on #268
@p8 - I think this was related to milestones and was completed with #292

[2019-10-21 16:26] #268 closed, assigned to nobody

[2019-10-28 08:54] #351 closed, assigned to nobody

[2019-10-28 15:10] ac21 commented on #261
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/23664174988
+1

[2019-10-29 16:52] ac21 opened #377 "Differentiate and filter out Draft All PRs"
## Background
Github has introduced [Draft PRs](https://github.blog/2019-02-14-introducing-draft-pull-requests/), enabling dev teams to see a PR and consider the changes before requesting a review.  Teams are now incorporating this new PR status into their workflows, most commonly looking to filter out draft PRs from other PRs for code reviews.  However, Codetree doesn't currently accommodate this

[2019-10-29 16:53] ac21 commented on #373
@sfitts - this issue should now be solved be restoring the previous behavior.

[2019-10-29 16:53] #373 closed, assigned to nobody

[2019-10-29 16:55] ac21 commented on #377
internal use only: +1
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/24315862604

[2019-10-29 17:58] cyril-vandyke commented on #377
To provide some context on what I'd love to get out of the feature, I'd envision there being a step between "When a matching branch is created on GitHub" and "When a new PR is open"
![image](https://user-images.githubusercontent.com/1504375/67794946-c617b380-fa3a-11e9-81ba-f7e233fc0853.png)
For my purposes, I'd either add a new swimlane and use this hook to move it to that column, or I'd set that

[2019-11-02 03:07] ac21 commented on #342
@schwern - this resolved a little while back.  apologies for not closing and notifying sooner

[2019-11-02 03:07] #342 closed, assigned to nobody

[2019-11-02 03:09] ac21 commented on #305
@sanjaypojo - apologies this was overlooked.  This is available as a setting.    Closing...
![Screen Shot 2019-11-01 at 10 09 12 PM](https://user-images.githubusercontent.com/6155532/68065229-4b79bd00-fcf4-11e9-80ee-07b2f064c37b.png)

[2019-11-02 03:09] #305 closed, assigned to nobody

[2019-11-02 03:12] ac21 commented on #269
@maxheld83 - apologies as type ahead was implemented a couple months back.  missed this issue in our grooming.

[2019-11-02 03:12] #269 closed, assigned to nobody

[2019-11-02 03:12] #246 closed, assigned to nobody

[2019-11-02 03:14] ac21 commented on #282
closing issue as it is no longer occuring

[2019-11-02 03:14] #282 closed, assigned to nobody

[2019-11-02 03:15] ac21 commented on #307
closing the issue as it is no longer occuring

[2019-11-02 03:15] #307 closed, assigned to nobody

[2019-11-02 03:16] ac21 commented on #258
@warpech - changed the `add Milestone` UI and this field no longer exists.  closing

[2019-11-02 03:16] #258 closed, assigned to nobody

[2019-11-02 03:16] #250 closed, assigned to nobody

[2019-11-02 03:18] ac21 commented on #217
@p8 - milestones and other links now utilize default preferences, so will stick to the task board is desired.  implemented over the summer.  closing

[2019-11-02 03:18] #217 closed, assigned to nobody

[2019-11-02 03:20] ac21 commented on #211
@cdaguerre - thanks for the suggestion;  While we are committed to Github at the moment, additional interest may sway this perspective

[2019-11-02 03:20] #211 closed, assigned to nobody

[2019-11-02 03:20] ac21 commented on #210
closing as fix was pushed

[2019-11-02 03:20] #210 closed, assigned to nobody

[2019-11-02 03:21] ac21 commented on #193
implemented new due date functionality earlier this year; no longer reproducable

[2019-11-02 03:21] #193 closed, assigned to nobody

[2019-11-02 03:25] ac21 commented on #161
@sfitts - part 1) move on create PR is automation that already exists;  part 2) is covered in #314;  I'm closing this but `+1` your interest in 314.

[2019-11-02 03:25] #161 closed, assigned to nobody

[2019-11-02 03:25] ac21 commented on #314
+1 from @sfitts

[2019-11-02 03:28] ac21 commented on #195
+1 - this is confusing.  adding to 2019-Q4 roadmap

[2019-11-02 03:30] ac21 commented on #274
closing issue as this has been addressed

[2019-11-02 03:30] #274 closed, assigned to nobody

[2019-11-02 03:31] ac21 commented on #254
@eparejatobes - linking PRs uses the Github syntax:
[code]
closing

[2019-11-02 03:31] #254 closed, assigned to nobody

[2019-11-02 03:34] ac21 commented on #262
@taggartbg - no longer reproducible.  closing for now

[2019-11-02 03:34] #262 closed, assigned to ac21

[2019-11-02 03:36] ac21 commented on #11
closing for now - due to lack of interest

[2019-11-02 03:36] #11 closed, assigned to ac21

[2019-11-02 03:37] ac21 commented on #46
closing for now - due to lack of interest

[2019-11-02 03:37] #46 closed, assigned to ac21

[2019-11-02 03:39] ac21 commented on #94
closing for now - as some use cases desire to see the PR as a card and others want to see attached.

[2019-11-02 03:39] #94 closed, assigned to ac21

[2019-11-02 03:40] ac21 commented on #105
closing as this is partially solved in onboarding and limited interest afterwards

[2019-11-02 03:40] #105 closed, assigned to nobody

[2019-11-02 03:43] ac21 commented on #209
closing for now due to lack of interest.  most community interest was in sorting by created_at and updated_at and this was enabled over the summer

[2019-11-02 03:43] #209 closed, assigned to ac21

[2019-11-02 03:43] ac21 commented on #214
closing for now due to lack of interest.  most community interest was in sorting by created_at and updated_at and this was enabled over the summer

[2019-11-02 03:43] #214 closed, assigned to nobody

[2019-11-02 03:44] ac21 commented on #215
No longer observing this behavior - closing for now

[2019-11-02 03:44] #215 closed, assigned to nobody

[2019-11-02 03:48] ac21 commented on #244
@Reinmar - closing now now - as this should be resolved

[2019-11-02 03:48] #244 closed, assigned to nobody

[2019-11-02 03:50] ac21 commented on #229
resolved previously.  closing

[2019-11-02 03:50] #229 closed, assigned to nobody

[2019-11-02 03:54] ac21 commented on #347
@sfitts - agreed!  adding to Q4 roadmap

[2019-11-02 03:55] ac21 commented on #114
replaced by #354

[2019-11-02 03:55] #114 closed, assigned to nobody

[2019-11-02 03:58] ac21 commented on #257
@warpech - this was recently addressed in a milestone and list view refactoring

[2019-11-02 03:58] #257 closed, assigned to ac21

[2019-11-05 08:39] CatalinaMoisuc commented on #274
@ac21 I can confirm that the problem is fixed! Thank you, it was really cluttering the PRs and issues history.

[2019-11-06 21:42] cayleyh opened #378 "localStorage.setItem throws QuotaExceededError when opening issue cards"
We have a couple larger boards that aggregate a lot of repos together. Using these in Safari is impossible. Every time I click an issue to see the card, it just "loads forever". The console reports a `QuotaExceededError` with something that is trying to be set in LocalStorage.

[2019-11-06 23:27] cayleyh commented on #378
I should note, that this is an issue even on projects that have only a couple repos added, but I see it if I have multiple projects open in separate tabs.

This issue is making Codetree basically unusable for large-scale change planning. The best I can do is to create the issues I need across repos in the master project, but then I have to go into the individual repos to see & edit the issues.

[2019-11-07 13:38] a-stankevich commented on #314
+1 from me:)

[2019-11-11 19:48] clizSec commented on #378
Same thing happens using Google Chrome in my end.

I'm receiving the following errors:

1.https://codetree.com/projects/icBG/issues/ISSUE_NUMBER/edit 500 (Internal Server Error)
2. {"status":500,"error":"Internal Server Error"} - Network response

**EDIT**: Solved for me.

[2019-11-12 03:39] ac21 commented on #261
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/24492097319
+1

[2019-11-12 03:42] ac21 opened #379 "batch assign issues to milestones"
A common use case for users, particularly new accounts, is to assign a lot of issues to a milestone.  Currently, the easiest way is to use the list view and drag-n-drop each issue onto the requested milestone.  However, to improve convenience, a batch assignment from the list view would be preferred.

[2019-11-12 03:42] ac21 commented on #379
for internal use:
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/24492097319

[2019-11-15 19:52] ac21 commented on #314
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/24561958908
+ 1

[2019-11-25 22:58] cayleyh commented on #378
This is still an issue for me. It is VERY annoying as it actively prevents work from happening.

Is there a resolution for this coming soon?

[2019-11-26 14:59] #261 closed, assigned to sachinkum123

[2019-11-28 17:49] #300 closed, assigned to sachinkum123

[2019-12-02 18:30] cayleyh commented on #378
@ac21 any idea if this will be fixed soon? I'm really struggling to continue justifying this product to my team because the combo projects are just not usable for some people because of this.

[2019-12-16 13:29] sergeyklay commented on #281
Why this issue was closed? Deleting _organization_ is not implemented, only organization's _projects_.  I tried to delete the organization
<img width="563" alt="image" src="https://user-images.githubusercontent.com/1256298/70910633-c4b93f00-2018-11ea-9f3a-f68aa209dc6e.png">
and got this
<img width="621" alt="image" src="https://user-images.githubusercontent.com/1256298/70910562-a2272600-2018-11ea-

[2019-12-19 15:46] gluk64 commented on #357
Please prioritize this. This is a trivial task but adds a lot of value.

[2019-12-19 15:46] gluk64 commented on #357
At least for epics.

[2019-12-21 19:58] cayleyh commented on #378
Appears to be solved on Safari as well. Will re-open if I observe the same failure again.

[2019-12-31 13:25] sachinkum123 commented on #337
![assignees-name.png](https://codetreeusercontent.s3.amazonaws.com/uploads/42d983f5-b6cc-4965-bcc2-4fd080aff8f6/assignees-name.png)

[2020-01-03 15:04] #337 closed, assigned to sachinkum123

[2020-01-13 15:43] ac21 opened #380 "Enable use of Triage permissions"
Github is beta testing Triage permissions for users;  essentially this gives read-only access to code and read-write to project-related meta data (issues, etc.)

Given Codetree never writes to code, Triage is a better set of permissions.

[2020-01-13 15:59] ac21 commented on #380
For internal use only:
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/25362631517

[2020-01-14 08:38] webmayak opened #381 "Burndown page gives 503 server error"
This trouble lasts for several days

![image](https://user-images.githubusercontent.com/642519/72327337-96547f80-36fc-11ea-86db-3cb49a8b827f.png)

[2020-01-14 08:42] webmayak opened #382 "Incorrect e-mail for "Report a problem" link on server error page"
Should be `help@codetree.com` instead of `help.codetree.com`?

![image](https://user-images.githubusercontent.com/642519/72327713-5a6dea00-36fd-11ea-989d-478aaefe163e.png)

[2020-01-14 08:46] webmayak opened #383 "Epic "view page" gives 400 server error"
![image](https://user-images.githubusercontent.com/642519/72328028-e54ee480-36fd-11ea-9192-8c22128219c2.png)
![image](https://user-images.githubusercontent.com/642519/72328124-10393880-36fe-11ea-8e5b-b3f2809328d7.png)

URL: https://codetree.com/projects/oTWg?epic=%22%u0414%u0430%u0448%u0431%u043E%u0440%u0434%20%u043C%u0435%u043D%u0435%u0434%u0436%u0435%u0440%u0430%22

UPD: This is also detected in

[2020-01-14 09:45] tomasyany commented on #304
Any update?

[2020-01-14 22:00] ac21 commented on #304
Hey @tomasyany - Thanks for reaching out.  This is still in our backlog.   Is this a high priority for your team?  would you say that most of your team works from within Github directly?

[2020-01-15 08:45] tomasyany commented on #304
Hi @ac21! Most of my team works on Github directly indeed, when it comes to defining issues, adding tags, etc.

Nevertheless, I don't think that "adding Epics from Github" is _really_ the feature we need here, but rather "converting existing issues into Epics", something you can't do from Github nor Codetree. This feature could be really useful because it would allow not to lose all the discussion

[2020-01-22 13:30] #326 closed, assigned to sachinkum123

[2020-02-07 17:44] cayleyh commented on #378
This is still happening. Not as much, but I still routinely have this happen when I do things like open two separate tabs that have different project boards showing (ie. very common PM workflow).

Error is still the same:
[code]

Only fix once Codetree hits this state it is to clear all data for the page in the browser, and start over.

[2020-02-10 01:34] ac21 opened #384 "Provide read/unread status on issues, comments, and other activity"
## Background
As a power user, it's often unclear what issues have received activity since you've last viewed them, as well as new tickets that have been created

## Solution
* Provide a read/unread status on issues, comments and other activity
* allow for filtering by unread/read status

[2020-02-10 01:34] ac21 commented on #384
Internal use:
https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/25472186742

[2020-02-11 19:11] Drjacky commented on #304
@tomasyany

But how? 🤔

[2020-02-12 08:22] tomasyany commented on #304
@Drjacky what part isn't clear? The "solution" (as in this issue description), seems to be a good answer to the "how" I believe...

[2020-02-14 16:59] ac21 commented on #303
internal use:  https://app.intercom.io/a/apps/he4q7g1x/inbox/inbox/all/conversations/25755521355

[2020-02-17 21:57] ac21 commented on #195
needs codetree/codetree#2712

[2020-02-25 14:30] CatalinaMoisuc commented on #221
@ac21 any news on this? It would be really really nice to have it!

[2020-03-03 13:53] remy opened #385 "Sync my github repos returns a 502 and 504 error"
This is the error I see in devtools when it (keeps) failing:

![Screenshot 2020-03-03 at 11 52 25](https://user-images.githubusercontent.com/13700/75781933-00c98980-5d56-11ea-8714-f50a7d8921a5.png)

I've been added as an outside collaborator on a client project and I'm trying to view their project (via invitation) on codetree.

I've tried refreshing then hitting the sync menu item again and it has

[2020-03-04 15:32] p8 opened #386 "Checklist seems broken."
It used to be possible to create checklists in markdown:

[code]

But this no longer works.

[2020-03-24 20:26] ac21 commented on #380
implemented in private beta.  if interested in joining the beta, please reach out to @ac21

[2020-03-24 20:26] #380 closed, assigned to ac21

[2020-03-25 20:25] mdh opened #387 "Page seems broken whenever I go to the pinned tab"
Using latest Firefox 74.0 on Mac Catalina 10.15.3.

When I go to the tab I often have to reload the entire page, not a biggy, but your site is the only one ever acting this way. See screenshot.
<img width="708" alt="Screenshot 2020-03-25 at 21 22 10" src="https://user-images.githubusercontent.com/26221/77582104-1d815900-6edf-11ea-938d-461f124e522c.png">

[2020-03-30 13:08] ac21 commented on #221
@catalinaMoisuc - we have completed and testing in private beta.  Would you like to beta this?

[2020-03-30 13:08] #221 closed, assigned to ac21

[2020-04-22 08:22] CatalinaMoisuc commented on #314
@ac21 any timeline or news on this feature?

[2020-04-29 12:54] sachinkum123 commented on #195
resolved by #2712

[2020-04-29 20:01] ac21 commented on #347
needs codetree/codetree#2959

[2020-04-30 05:43] #302 closed, assigned to sachinkum123

[2020-04-30 05:49] ac21 commented on #195
released

[2020-04-30 05:49] #195 closed, assigned to sachinkum123

[2020-04-30 07:16] ac21 commented on #314
@catalinamoisuc - this slipped this sprint, but hoping to finish it in may

[2020-04-30 08:13] CatalinaMoisuc commented on #314
@ac21 awesome news, really looking forward to this feature. 🙌🏻

[2020-05-01 22:56] sfitts opened #388 "Associate filter with repository when added to board"
Sometimes when adding a repository to a board you know that you will only want to see a specific sub-set of the issues that the repository contains.  In this case it would be nice to have the ability to specify a filter which is always applied to the an added repository in the context of a given board.

The obvious workaround is to create a view which has the filter you want and then make sure tha

[2020-05-02 14:21] ac21 commented on #347
shipped

[2020-05-02 14:21] #347 closed, assigned to ac21

[2020-05-03 15:12] sfitts commented on #388
Actually, I'm not sure that the view workaround works (at least not as we like).  AFAICT there isn't a way to do an "or" in a filter.  So you can't view "repoX or (repoY and mylabel)".  If there is a way to do this that would be great, but so far I haven't found it.

[2020-05-06 16:50] ac21 opened #389 "add "Move to Middle" priority option in the Issue screen"
## Background
There are times when high priority work gets identified but does not require immediate action (e.g., not top of the queue).  rather than bury it at the bottom of the queue, moving it towards the middle is useful

## Solution
implement a "Move to the middle" priority option in the Issue screen

[2020-05-06 16:52] ac21 commented on #389
For internal use only: https://app.intercom.com/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/26925139014

[2020-05-07 13:52] ac21 opened #390 "Remove old UI regarding changing repos"
## Background
Our old implementation of moving an issue to a different repo is no longer supported as GitHub has a native solution.  However, this is not a high priority issue, so we haven't implemented it.

It appears we have a straggling piece of code for this behavior:
https://github.com/codetree/codetree/blob/411658ad21be1f7261d479f8dddb655067ffd08b/app/views/issues/_item.html.erb#L38-L40

##

[2020-05-10 17:13] ac21 opened #391 "not relevant"

[2020-05-10 17:18] #391 closed, assigned to nobody

[2020-05-12 14:53] BrianLeishman opened #392 "Move issues between repos missing"
There used to be a function for moving an issue to a different repo, but it seems that option had disappeared?

You can do this from GitHub but you lose all the Code Tree specific sorting and labels and things, so moving via Code Tree was really nice to have.

Was the removal intentional?

[2020-06-03 05:52] ac21 opened #393 "Re-enable Moving Issues between Repos"
Request from users:

Previously, Codetree allowed users to move issues between repos.  It would be helpful to have this functionality back.

[2020-06-03 05:53] ac21 commented on #393
Product Notes:
essentially the original Codetree "move issue" functionality copied an issue to another issue and closed the prior issue.  This functionality existed prior to GitHub having their own mechanism for moving issues.  GitHub released a transfer issue mechanism that creates the new issue and provides a permanent redirect when referencing the old issue.  There are meaningful benefits to th

[2020-06-03 05:54] ac21 commented on #393
Internal Reference:
https://app.intercom.com/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/27284608407

[2020-06-04 06:19] ac21 commented on #393
Internal Reference:
https://app.intercom.com/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/27279749077

[2020-06-08 16:18] CatalinaMoisuc commented on #314
@ac21 any progress on this or was it postponed to end of June?

[2020-06-17 19:51] #338 closed, assigned to nobody

[2020-07-16 22:22] cayleyh commented on #378
This is still an issue I hit regularly. It's this line of code in `cacheRecentIssue()`:

[code]

`setItem` is expected to fail sometimes: https://developer.mozilla.org/en-US/docs/Web/API/Storage/setItem.

@ac21 is there any progress on fixing this?

[2020-07-24 17:20] mikebessuille opened #394 "Milestone order in issue list should depend on the priority of milestones"
Create a view with multiple milestones.  Codetree nicely shows each milestone separately.   Notice that the milestone order is not the same as the priority order of milestones; in fact, it seems to be dependent on the order in which you click the checkboxes of each milestone when creating the view.
For example, this view
![image](https://user-images.githubusercontent.com/10076690/88417540-19434a80

[2020-07-24 20:00] mikebessuille commented on #394
On the other hand, I kinda like that I have direct control over the order.    It's not very discoverable though.

[2020-08-21 17:34] EronWright opened #395 "Epic links are broken in list view"
Click "Epics" in the sidebar, select 'list' view (rather than 'board' view), and then click on an epic.  Expected to see the epic popup window.  Actual is the issue homepage.

Also, the "go to this epic's issue list" button (normally beside the epic title) is missing.

[2020-09-24 23:32] robertp opened #396 "Wording used in sprint planning guide"
In https://codetree.com/guides/sprint-planning-github-issues you have the phrase "This is a key **tenant** of Scrum".

The proper word is tenet.

[2020-09-29 14:59] dsollfrank commented on #319
@ac21 Will this issue be resolved any time soon?

[2020-10-01 07:39] tomasyany commented on #304
Is there any update on this issue?

It would be really helpful if we could just add a label to an epic, or a comment on the issue, or some tag on the description, that would make that issue part of an epic directly.

[2020-10-07 05:05] ac21 commented on #377
Internal Use Only:
https://app.intercom.com/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/63310800001256

[2020-10-08 07:49] ac21 opened #397 "Enable CTRL+K to create links similar to Github functionality"
## Background
Mirroring functionality in Github simplifies transitioning to Codetree and improves the experience of users.   In Github, when editing issue text, if you click `CTRL+K` you create a markdown hyperlink (e.g., `[]()`).

Notes:   https://docs.github.com/en/free-pro-team@latest/github/getting-started-with-github/keyboard-shortcuts#comments

## Solution
Implement `CTRL+K` functionality in

[2020-10-08 07:49] ac21 commented on #397
Internal Use:
https://app.intercom.com/a/apps/he4q7g1x/inbox/inbox/2848986/conversations/63310800001279

[2020-10-23 08:47] #396 closed, assigned to ac21

[2020-10-28 14:10] dariofilipaj opened #398 "Allow saving column visibility to view"
It would be beneficial to be able to save column visibility (collapsed/expanded) together with filtering and sorting options when creating a new view. This way teams would have fully predefined views for different roles that are part of the same workflow inside the same repo. Having columns collapsed or expanded as soon as the view is opened would focus the user on the part of the workflow that co

[2020-11-18 16:22] BrianLeishman commented on #393
dupe of mine https://github.com/codetree/feedback/issues/392

[2020-11-23 16:32] triclambert commented on #304
It looks like adding the `codetree-epic` label works to convert an issue to an epic from the GH UI.

[2021-02-01 18:55] blladnar commented on #221
@ac21 Is this out of beta now? I have some templates set up in our Github repo but don't know how to get them to show up.

[2021-02-11 11:18] CatalinaMoisuc commented on #314
@ac21 is there any hope that this feature will be implemented?

[2021-03-14 08:33] dottedmag opened #399 "Short session lifetime"
Codetree session seems to have a very short lifetime: I regularly have to log in back to Codetree in the morning, and always have to log in back after the weekend.

[2021-03-30 08:10] harrygt opened #400 "All digest emails are empty"
Not sure why but all of my digest emails are saying there is no activity when there was a lot of activity.

**New Issues**
None.

**Closed Issues**
None.

**Opened PRs**
None.

**Merged PRs**
None.

[2021-04-06 16:45] clevinson opened #401 "Epics do not show comment with child issues on github"
We have been using epics for an large open source project, the [cosmos-sdk](https://github.com/cosmos/cosmos-sdk). We have several internal team members who can access codetree directly, but its important for us to have our epics fully visible on github for our users and extended community of contributors.

For the past few weeks, neither of the epics that I've created have correctly updated state

[2021-04-26 09:30] louisabraham opened #402 "Give access to people who don't have access to the repository"
Hi, I would like people who don't have access to the code to be able to see issues on codetree. Is there an easy way to accomplish that, apart from putting the issues in a separate repository?

[2021-09-18 18:06] rikur commented on #402
This feature has been missing for a long time on GitHub, would be epic if we could use CodeTree work around it.

Usecase: give contractor QA engineers etc. access to view and create issues without getting access to the source code.

[2021-09-27 18:32] mikebessuille commented on #304
Yes, adding codetree-epic in GH seems to force Codetree to treat the issue as an epic.  However, removing the codetree-epic label does _not_ seem to convert the epic back to an issue!  Once it becomes an epic, I don't see any way of making it an issue again.

[2021-12-22 15:35] wespire-admin opened #403 "Can't delete user/account"
I'd like to delete our account but cannot.  "Delete user and all data" button does nothing.  I am unable to contact support via the menu link.  The first thing i see after signing in is a form to input CC details to activate account which I am not doing.  Whoever tried to set this up is not at the company anymore.  I simply want to delete the user and data.

[2021-12-23 16:14] #403 closed, assigned to nobody

[2021-12-23 16:14] wespire-admin commented on #403
was able to delete account.

[2022-02-28 20:44] devoldski commented on #393
thank you for great software, any progress on moving issues between repos?

[2022-10-10 18:36] chris-nielsen-visiontree opened #404 "Refreshing Repositories Does not Finish"
Hello,

I'm evaluating CodeTree for my team, and ran into a problem. Just after creating an account, I was redirected to:

   https://codetree.com/projects/new

At this page, I received the message, "One moment while we refresh the list of repositories you can access..."  I waited one hour, logged out, and logged back up. Unfortunately, the same message appears on the page, and it doesn't seem to